[2021-12-12 12:09] csemrau opened #1 "Bug in version check; does not detect e.g. 2.13.3"
Some vulnerable versions, like `log4j-core 2.13.3`, are not found.

The version check, `(major == 2 && minor <= 14 && patch <= 1)`, is wrong. It should be `(major == 2 && (minor < 14 || (minor == 14 && patch <= 1)))`.

[2021-12-12 12:51] xeraph commented on #1
OMG.. Thank you for bug reporting!

[2021-12-12 13:17] xeraph commented on #1
@csemrau Released v1.1.1. May I close this issue?

[2021-12-12 13:50] csemrau commented on #1
That release works for me. Thanks for the quick fix! And thanks for the scanner itself! ❤️

[2021-12-12 13:50] #1 closed

[2021-12-12 15:57] lukas-mertens opened #2 "Source code pls?"
Hey, could you provide the source code for this, so that we can build it ourselves? Random binaries from the internet are not much  better than the CVE itself. Thanks for your effort though!

[2021-12-12 16:25] xeraph commented on #2
OK.. I changed my mind. see repository.

[2021-12-12 16:25] #2 closed

[2021-12-12 17:32] stfsy opened #3 "Does not find vulnerable jar in Spring Boot Fat Jar"
Thanks guys, this is a great addition to mitigate this vulnerability. However, it does not find vulnerable .jar files in Spring Boot Fat Jars.

It does find the vulnerable .jar, though, when the Spring Boot Jar is exploded/unzipped.

[code]

Could you add support for jars built with the Spring Boot Maven Plugin? Documentation is here: https://docs.spring.io/spring-boot/docs/2.5.6/maven-plugin/refe

[2021-12-12 17:47] lukas-mertens commented on #2
@xeraph thanks a lot <3

[2021-12-12 17:48] urshmug opened #4 "Index 2 out of bounds for length 2"
I have vulnerable jar in path "C:\Program Files\FlexNet Operations\release\flexnet.ear\flexnet.war\WEB-INF\lib", but scanner returns
error: Index 2 out of bounds for length 2

Scanned 1 directories and 160 files
Found 0 vulnerable files
Completed in 0.03 seconds

OS is windows server 2012 R2, if that helps

[2021-12-12 17:58] lukas-mertens opened #5 "Possible bug when BufferedReader/InputStreamReader failes"
The following code snippet looks dangerous to me. When an exception is thrown the code continues in line 58, which leads to the fix being applied even though the user didn't approve by passing y.

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/8ac75169de080589a90984aa9db7498b5dac8161/src/main/java/com/logpresso/scanner/Log4j2Scanner.java#L48-L64

I am going to open a pr with a possible f

[2021-12-12 20:03] xeraph commented on #3
@stfsy Could you test release 1.2.0 version?

[2021-12-12 20:04] xeraph commented on #4
@urshmug Would you test new 1.2.0 release?

[2021-12-12 20:05] xeraph commented on #5
I just added missing return statement. I will close your PR. Thank you for your suggestion.

[2021-12-12 20:05] #5 closed

[2021-12-12 22:42] tahder opened #7 "GLIBC_2.14 incompatibility"
The machine is old enough that display this issue, RHEL 6.10 but seems critical at the moment.

./log4j2-scan: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by ./log4j2-scan)

[2021-12-13 00:09] KyleDaily opened #8 "Vulnerability count not going up."
After upgrading to new newest version, the vulnerability count no longer seems to be keeping track.

[2021-12-13 00:09] KyleDaily commented on #4
I saw a similar issue, when I upgraded to 1.2 I stopped seeing this issue.

[2021-12-13 00:21] KyleDaily commented on #8
it appears that its always "False and False" with the incrementer never being reached. In the previous version it had been outside of that section

[2021-12-13 00:35] xeraph commented on #7
@tahder Use jar instead in that case. Thank you.

[2021-12-13 00:35] #7 closed

[2021-12-13 00:37] xeraph commented on #8
My mistake at last midnight.. Will be fixed in 3 hours. Thank you for bug reporting.

[2021-12-13 01:51] gorani23 opened #9 "Doesn't work at SunOS"
Hi,
I downloaded the file for Any OS, and try to run it on the SunOS server.
But it didn't run, and just twinkle the cursor at the next line.

So I tried this command,

\# java -jar logpresso-log4j2-scan-1.2.0.jar /path
\# _
   (↑ the cursor's twinkle)

Btw, I checked the "java" command works.
Is it any bug or sth?

Thanks.

[2021-12-13 02:07] gorani23 commented on #9
혹시 한국어가 가능하시다면 한국어로 멘션 달아주시면 감사드리겠습니다.

[2021-12-13 03:36] xeraph commented on #8
@KyleDaily Would you test release 1.2.1 version?

[2021-12-13 03:38] xeraph commented on #9
@gorani23 파일이 많지 않은 디렉터리에 대해서 먼저 시도해보셔요. 그게 정상적으로 완료된다면 단순히 파일이 많아서 오래 걸리는 것입니다.

[2021-12-13 04:36] gorani23 commented on #9
@xeraph 디렉터리를 좁히는 것과는 상관없이, 단순히 파일이 많기 때문에 오래 걸리는 것으로 이해해도 될까요?

[2021-12-13 04:38] xeraph commented on #9
네 단일 디렉터리 계층에 몇 개 정도의 파일이 있는지 알려주시면 좀 더 확실하게 답을 드릴 수 있을 듯 합니다. 어디를 스캔하고 있는지 확인할 수 있게 트레이스 옵션을 넣어드릴까요?

[2021-12-13 04:39] davemcdonnell opened #10 "WAR support"
Can we expand the file traversal to unpack war files as well?

			if (path.toLowerCase().endsWith(".jar") || path.toLowerCase().endsWith(".war"))

[2021-12-13 04:41] xeraph commented on #10
@davemcdonnell
Ah.. good suggestion! I will patch it soon.

[2021-12-13 05:27] gorani23 commented on #9
@xeraph 옵션이 추가되면 가시적인 측면에서 도움이 될 것 같습니다! 도움 주셔서 감사합니다 :)

[2021-12-13 05:54] xeraph commented on #9
@gorani23 1.2.2 버전으로 `--trace` 옵션 추가하여 실행해보시고 알려주세요~

[2021-12-13 05:54] xeraph commented on #10
@davemcdonnell v1.2.2 released. Would you test this version?

[2021-12-13 06:21] fflo opened #11 "CVE-2019-17571"
Hi,

thank you publishing this awesome tool!

Would you mind adding support for CVE-2019-17571?
Log4j version 1.2 installations are suffering from a similar issue and it would be great if your scanner could detect both issues.

[2021-12-13 06:29] ozbillwang opened #12 "the jar file has others, not only log4j-core"
Hi

I found if the jar has others, not only log4j-core

[code]

this scan doesn't report anything

[code]

[2021-12-13 06:39] urshmug commented on #4
Tested 1.2.2 and it finds vulnerable files, thank you.

[2021-12-13 06:39] #4 closed

[2021-12-13 07:17] fflo opened #13 "Using fix option on locked files"
Hi,

using the fix option on locked files shows:
Found x vulnerable files
Fixed x vulnerable files
Completed in ... seconds

But it does not succeed, if the target file is locked / open file. At least for users running Windows OS.
Should return an error message. File locked instead.

Thanks

[2021-12-13 07:19] xeraph commented on #12
It is not vulnerable in that case. Actually there are some scenarios combining log4j api interface and logback (or others). log4j-core is the problem.

[2021-12-13 07:24] xeraph commented on #13
@fflo Thank you for suggestion. I will patch it later.

[2021-12-13 07:29] xeraph commented on #11
I think CVE-2019-17571 doesn’t have significant impact since daemon must open socket server to be exploitable. Maybe someone can fork this repository and can implement CVE-2019-17571 scanner. Thank you for suggestion.

[2021-12-13 07:29] #11 closed

[2021-12-13 07:42] fflo commented on #11
Though it would be great to have one security scanner detecting both issues.

[2021-12-13 07:42] fflo commented on #13
Thank you!

[2021-12-13 09:03] ozbillwang opened #14 "feature - need --force when with --fix"
When we run the command with `--fix`, it prompts for Y/N.

I'd like to have extra option to accept Y always.

could I have an extra option as `--force`?

[2021-12-13 09:22] lmalmeida opened #15 "Question - what was used to build the .exe"
As stated on the header,

What was the tool used to build the .exe? Doesn't appear to be in the pom.xml

[2021-12-13 10:45] xeraph commented on #14
okay. it is necessary for automation..

[2021-12-13 10:50] xeraph commented on #15
I used graalvm native-image to build exe and elf binaries. To build PE file, visual studio development environment is required.

[2021-12-13 10:50] #15 closed

[2021-12-13 11:02] jainpratik163 opened #17 "can we run for docker images"
can we run for docker images in order to identify  issue?

[2021-12-13 11:37] xeraph commented on #17
Why do you want to use docker image? Minimized scanner size is crucial for massive deployment and scanning job.

[2021-12-13 11:48] LogSpider opened #18 "log4j-1.x JMS Appender class"
Hello, many thanks for the scanner. Do you already scan for JMS Appender class on log4j-1.x https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/net/JMSAppender.html

Seems that log4j1 are also vulnerable, found this here:
https://research.kudelskisecurity.com/2021/12/10/log4shell-critical-severity-apache-log4j-remote-code-execution-being-actively-exploited-cve-2021-44228/

[2021-12-13 12:00] AlexMilotin opened #19 "Not all all found as vulnerable"
Hello,

I did a PoC test for our environment using an older sqldeveloper lib folder.
It found only 1 out of 3 files to be vulnerable

I've extracted and checked the pom.properties for 3 files. In the screenshot below added the pom.properties content
- log4j-1.2-api.jar _(not found)_
- log4j-api.jar _(not found)_
- log4j-core.jar **(found)**
![image](https://user-images.githubusercontent.com/923106

[2021-12-13 13:31] jainpratik163 commented on #17
want to run scan for docker images.

[2021-12-13 13:48] xeraph commented on #19
By design. See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/12#issuecomment-992176085

[2021-12-13 13:49] #19 closed

[2021-12-13 13:51] adammike opened #20 "Can you please specify the license this software is released under"
Our company can't use this without a published (and hopefully permissive) license attached to the project.

MIT and apache are grand, if you're looking for suggestions.

[2021-12-13 13:53] xeraph commented on #20
distribued under Apache Software License 2. (as noted in pom.xml)

[2021-12-13 13:53] #20 closed

[2021-12-13 14:12] xeraph commented on #20
Added https://github.com/logpresso/CVE-2021-44228-Scanner/blob/main/LICENSE

[2021-12-13 14:21] cslattery117 commented on #10
can you add .ear files as well as .war files please.

[2021-12-13 14:24] adammike commented on #20
Amazing, thanks!

[2021-12-13 14:53] KyleDaily commented on #8
It is working!

[2021-12-13 14:53] #8 closed

[2021-12-13 14:58] jainpratik163 commented on #17
sorry i didnt get you.
lets take an explain we download one docker image lets say nginx from docker hub and now i want to scan this image.
how i can do if i want to use this utility.

[2021-12-13 15:02] lmalmeida commented on #17
docker cp log4j2-scan youcontainer:/tmp
docker exec yourcontainer /tmp/log4j2-scan

Something along those lines

[2021-12-13 15:11] jainpratik163 commented on #17
now i got it we need to copy file in all docker images  :(

[2021-12-13 15:16] xeraph commented on #10
@cslattery117 Use v1.2.3 release. Thank you for suggestion.

[2021-12-13 15:16] #10 closed

[2021-12-13 15:17] xeraph commented on #14
@ozbillwang Use `--force-fix` option of v1.2.3 release version. Thank you.

[2021-12-13 15:17] #14 closed

[2021-12-13 15:19] xeraph commented on #13
@fflo Use v1.2.3 release version. See also
https://github.com/logpresso/CVE-2021-44228-Scanner/blob/v1.2.3/src/main/java/com/logpresso/scanner/Log4j2Scanner.java#L112

[2021-12-13 15:19] #13 closed

[2021-12-13 15:19] #9 closed

[2021-12-13 15:34] cdaddio opened #21 "Is there a Linux i386 version?"
Is there a Linux i386 version?

[2021-12-13 15:38] cdaddio commented on #21
Thank You !

[2021-12-13 15:48] xeraph commented on #21
Nope. Use JAR instead.
(GraalVM native-image doesn't support i386 build)

[2021-12-13 15:48] #21 closed

[2021-12-13 15:52] xeraph commented on #18
Sorry. This project focus on log4shell only.

[2021-12-13 15:52] #18 closed

[2021-12-13 15:55] xeraph commented on #17
It's very tough time for a security engineer..

[2021-12-13 15:55] #17 closed

[2021-12-13 16:29] LogSpider commented on #18
@xeraph CVE-2021-44228 aims at log4j2 also log4j1 affected, pretty much the same...

[2021-12-13 18:49] jlellis opened #23 "Symlinks confuse --fix"
The deb package for liblog4j2-java install the jars in /usr/share/java/

/usr/share/java/log4j-core.jar
/usr/share/java/log4j-core-2.11.2.jar -> log4j-core.jar

Scanner detected and fixed both of them.  The result that I now have is:
/usr/share/java/log4j-core.jar
/usr/share/java/log4j-core-2.11.2.jar.bak -> log4j-core.jar
/usr/share/java/log4j-core-2.11.2.jar -> log4j-core.jar

now the jar.bak fi

[2021-12-13 21:49] D3adP3nguin opened #24 "Files are ALL skipped"
When running a scan I run the following comand:
java -jar log4j2-scan.jar /Users/<user>/Desktop/SourceCode/

the scan then results in:
Scanned 3949 directories and 9260 files
Found 0 vulnerable files
Completed in 0.62 seconds

However when I run it with --trace it shows that ALL the files are being skipped. even the .java files

Am I doing something wrong or misusing the tool?

[2021-12-13 22:27] #24 closed

[2021-12-13 23:05] adammike opened #25 "Scanning /proc or /sys results in infinite loop"
The scanner should be limited to real filesystems, scanning /proc or /sys can lead to infinite recursion and the scan never completing.

Bonus points if we can pass a flag to skip network shares also.

[2021-12-14 02:39] xeraph commented on #25
Thank you for bug reporting. I will fix it.

[2021-12-14 02:41] xeraph commented on #23
@jlellis Thank you for detail explanation! I will fix it.

[2021-12-14 04:30] xeraph commented on #25
@adammike Would you test v1.2.4 release?

[2021-12-14 04:30] xeraph commented on #23
@jlellis Would you test v1.2.4 release?

[2021-12-14 05:20] Norbs9 commented on #23
Windows server on VMWare, cannot scan drives, skipping symlink
F:\>log4j2-scan.exe --trace f:
Skipping symlink: f:\

Scanned 0 directories and 0 files
Found 0 vulnerable files
Completed in 0.00 seconds

Same result on local c: drive of a windows 11 workstation
C:\IT>log4j2-scan --trace c:\
Skipping symlink: c:\

Scanned 0 directories and 0 files
Found 0 vulnerable files
Completed in 0.00 seconds

[2021-12-14 05:23] xeraph commented on #23
@Norbs9  Oops.. missed windows test. I will fix it soon..

[2021-12-14 05:39] xeraph commented on #23
@Norbs9 Fixed in v1.2.5 release. Thank you for bug reporting!

[2021-12-14 05:44] Norbs9 commented on #23
Thanks, tested on local c: drive and Server, all good.

[2021-12-14 06:33] Rocco83 opened #26 "New options to avoid scanning given paths or filesystems"
Hi,

It is (or will be) common to scan for "/" (as by https://github.com/logpresso/CVE-2021-44228-Scanner/issues/25) to be on the safe side -- on windows more like "all of the attached disks", which is much less applicable.

NFS mountpoints (and/or other network filesystems or USB backup drive or whatsoever) could be slow and/or duplicating the effort.

It could be good to have an option to either

[2021-12-14 07:20] WahlFisch91 commented on #25
@xeraph had the same problem with v1.2.2 - testet now v1.2.5 - worked for me with ubuntu server 18.04

[2021-12-14 07:22] xeraph commented on #26
@Rocco83 I will implement Option 3. Thank you for suggestion.

[2021-12-14 07:24] xeraph commented on #25
@WahlFisch91 Thank you for test report!

[2021-12-14 07:25] xeraph commented on #23
@Norbs9 Thank you for test report!

[2021-12-14 07:25] #23 closed

[2021-12-14 07:52] WahlFisch91 commented on #25
@xeraph seems suse enterprise linux & IBM AIX (jar version) is still looping....but i'm not quite sure why

[2021-12-14 08:06] xeraph commented on #25
@WahlFisch91 Would you leave an email to xeraph (at) logpresso.com ? I will send you some debug code.

[2021-12-14 08:27] romestylez opened #27 "[QUEOSTION] Scan whole server"
Hi there,

im not that deep into Open Suse etc. running the Scan from /tmp with the command "./log4j2-scan /" should scan every directory/file on the server correct ?

[2021-12-14 08:32] WahlFisch91 commented on #25
@xeraph i've sent you a mail....so check your inbox :)

[2021-12-14 08:33] taribo opened #28 "remote check"
is it possible run the tool remotely on all my network pc? or only possible manually directly on the pc?

[2021-12-14 08:50] WahlFisch91 commented on #25
@xeraph there are news:
AIX now finished the scan! -> took aprox. one hour

Scanned 28667 directories and 1447635 files
Found 0 vulnerable files
Completed in 3380.40 seconds

[2021-12-14 09:05] pitius2k21 opened #29 "[Question] Any chance to have RHEL 6 ELS supported?"
Dear,

As per RHEL 6 glibc version is at 2.12, the current script complains about the down-level and won't run.

Is there any chance to incorporate RHEL 6 as well?

RHEL 6 ELS is still supported till June 30 2024.

Many thanks

Laszlo Pinter

[2021-12-14 09:11] romestylez commented on #27
Next question would be if there is a parameter to scan all partitions like c:\ d:\ s:\ on a Windows Server

[2021-12-14 09:27] max-wroc opened #30 "[suggestion] windows all servers drive + output to csv format"
Hi,

it would be great if we can specify the drives like:
log4j2-scan.exe --drives c,d,e
log4j2-scan.exe --drives all
and also export the finding to csv results like:
log4j2-scan.exe --export file.csv --vulnerable: all,onlyyes
and results like
hostname;path;vulnerable(yes/no)

something like this

[2021-12-14 09:52] eXmendiC opened #31 "Option to exclude folders"
An option to exclude (multiple) folders would be nice, like "C:/Users". Not having an option like that would mean that it scans the same SharePoint for multiple users. Maybe the same option can be added to include multiple folders / drives instead of just one.

[2021-12-14 10:00] dladlk opened #32 "Description of binaries generation"
May I ask you to describe the steps done to generate Windows and Linux binaries in Releases - or point to a place where it is described if I missed it?

[2021-12-14 10:29] wywywywy commented on #25
Should this skip `/dev` as well?

[2021-12-14 10:34] romestylez commented on #30
--drives all would be a bless for me also !

Export to csv would be a good to have but i guess thats just a addon more important is the --drives parameter !

[2021-12-14 10:35] wywywywy commented on #25
I've created PR #33 to skip `/dev`

[2021-12-14 10:41] xeraph commented on #29
@pitius2k21  You can use JAR version in that case.

[2021-12-14 10:41] #29 closed

[2021-12-14 10:44] xeraph commented on #27
Yes. Working directory does not matter. You can use `--trace` option to show actual visiting files.

Not supported yet.

@romestylez

[2021-12-14 10:44] #27 closed

[2021-12-14 10:46] xeraph commented on #28
@taribo Remote scanning is not available. Use other tools for network scanning.

[2021-12-14 10:46] #28 closed

[2021-12-14 10:48] xeraph commented on #31
Merged into #26

[2021-12-14 10:48] #31 closed

[2021-12-14 11:20] i286 commented on #30
Just while reviewing this one, it would be beneficial with "all drives" option to only include fixed drives, so to not run on network mounted drives etc

[2021-12-14 11:21] xeraph commented on #32
@dladlk  See https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-to-build-native-image

[2021-12-14 11:21] #32 closed

[2021-12-14 11:22] xeraph commented on #15
@lmalmeida See https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-to-build-native-image

[2021-12-14 11:23] i286 commented on #26
This is awesome, just leaving my 2 cents however, would be ideal to use directory as / with a way to exclude either specific folders as mentioned or all networks storage. I am investigating if this works accross all instances of NIX/AIX/SunOS etc but something like this is what I would like to exclude automatically, including any other network types: `mount -l | grep 'type nfs\|type cifs' | sed 's

[2021-12-14 11:27] stillka commented on #26
Hello,
please allow also option to read excluded FSs/paths from the file provided by user like: --exclude-file </path/to/file.txt>
Thanks

[2021-12-14 11:43] FurkanVG opened #34 "Cant start .exe on Server"
Hey,

for some reason i have a problem on servers to start the .exe.
Im getting this error.

![image](https://user-images.githubusercontent.com/68749298/145991610-d706de5a-ad72-4e4d-9530-b62bd39779e4.png)

Are there any logs i can share?

[2021-12-14 11:52] berniekirby opened #35 "Needs to handle "Nested Nested" jar files?"
Hi,
It appears as though the software only handles one level of nested jar files.
We have a number of jar files (eg like those that come with "Matlab") that have nested jar files which also have nested jar files within.
Is it possible to make it recursively check all nested jar files?

[2021-12-14 12:55] AlexMilotin opened #37 "Execution failed due to missing VCRUNTIME140.dll"
Hello,

Seems like on servers for Visual C++ Runtime is not installed the execution failed.

![image](https://user-images.githubusercontent.com/92310619/146001822-062c0e52-c1ce-43f1-a2eb-fb1b824600e4.png)

[2021-12-14 12:57] AlexMilotin commented on #30
Maybe it helps anyone. I did it but integrating the tool to a PowerShell collector

`                    $FQDN = $env:COMPUTERNAME + "." + $env:USERDNSDOMAIN
                    $drives = (Get-Volume | where { ($_.Driveletter -gt 0) -and ($_.DriveType -eq "Fixed") }).DriveLetter
                    $AllItems = @()
                    foreach ($drive in $drives) {
                        $MountPoin

[2021-12-14 13:04] AlexMilotin commented on #34
Depending on the framework it was built it might actually required .NET Framework 3.5. At least on some of my servers that didn't had .NET 3.5 it failed with the same.

[2021-12-14 13:26] mitzki opened #38 "Parameter --fix => Backup jar should be moved to another directory."
Hi,

After using the fix parameter the class loader will find the bak file, created in the same directory, and could load the vulnerable jar again (not deterministic!). We have to ensure to move or remove the backed up files before restarting your Java service/application.

I will try to add a pull request for this.

With regards,
Michael

[2021-12-14 14:41] lewismcd1 commented on #37
Download the missing dll, copy dll to same directory as exe then run the cmd.

[2021-12-14 15:27] adammike commented on #25
I've tested and it works well.

[2021-12-14 15:27] sdonaghey68 opened #41 "32bit?"
Any way of compiling an x86 32bit version of this tool?

[2021-12-14 15:38] AlexMilotin commented on #37
I did that by copy it to C:\Windows\System32 actually, but yes, as a temp fix

[2021-12-14 15:47] kiasalimielizi opened #42 "scan error: zip END header not found"
I received this error line during scan:

scan error: zip END header not found

[2021-12-14 15:51] Mettemusens commented on #42
I have the same issue til log44 jars in oracle home

[2021-12-14 15:51] jlellis commented on #23
I've done a git pull to update my copy, fixed the syntax error line line 335, reset my test setup, and rerun the scanner.  It is still failing to detect that a jar file is a link on Linux.

[code]

It would really help if the output from this tool included its version number, and/or that it had a --help output available that printed the version number.

Running the new jar with --fix gives me this

[2021-12-14 15:54] Mettemusens commented on #42
I get:

c:\Miracle_online>log4j2-scan.exe D:\Oracle\product\12.2.0\dbhome_1\md
scan error: zip END header not found
scan error: zip END header not found
scan error: zip END header not found

Scanned 18 directories and 616 files
Found 0 vulnerable files
Completed in 3.73 seconds

And I know 4 sure the some files are hit here:

 Directory of D:\Oracle\product\12.2.0\dbhome_1\md\jlib

14-12-2021  15:

[2021-12-14 15:57] kiasalimielizi commented on #42
sam here, i can see log4j.jar in directory, but seems it cannot read it somehow.

PS C:\temp> .\log4j2-scan.exe C:\ManageEngine
scan error: zip END header not found

Scanned 50994 directories and 85903 files
Found 0 vulnerable files
Completed in 56.59 seconds

[2021-12-14 16:08] xeraph commented on #42
@kiasalimielizi @Mettemusens You can find broken jar files using v1.3.0 release.

[2021-12-14 16:11] xeraph commented on #30
@max-wroc @romestylez @i286
Just released 1.3.0 version. You can use `--all-drives` or `--drives c,d` options. If you want to exclude some drives, use `--exclude` option.

[2021-12-14 16:13] kiasalimielizi commented on #42
I tried with new package and gets below details:

c:\temp>log4j2-scan.exe c:\ManageEngine
Logpresso CVE-2021-44228 Vulnerability Scanner 1.3.0 (2021-12-15)
Skipping broken jar file c:\ManageEngine\SupportCenter\applications\extracted.ol
d\AdventNetSupportCenter.eear\AdventNetServiceDeskWC.ear\AdventNetServiceDesk.wa
r\WEB-INF\lib\jfreechart.jar ('zip END header not found')

super useful informatio

[2021-12-14 16:19] MrPippin66 opened #45 "Allow exclusions by filesystem type"
Though this is really specific to Unix, really need an option to exclude by filesystem type.

This is because we have numerous servers with network drives with various mount points.

We need to exclude all network drives (nfs, cifs, etc).

Exclusion by path name is difficult to utilize.

[2021-12-14 16:21] xeraph commented on #41
Sorry. 32bit version is not supported. Use JAR version instead.

[2021-12-14 16:21] #41 closed

[2021-12-14 16:21] #42 closed

[2021-12-14 16:22] xeraph commented on #25
@adammike  Thank you for test report!

[2021-12-14 16:22] #25 closed

[2021-12-14 16:26] xeraph commented on #45
Since I have no UNIX machines, it's not easy to implement new feature for UNIX. :(
I hope someone take this issue..

[2021-12-14 16:27] reavalley opened #46 "How did you create the linux native executable"
Would you be able to show or explain to me how you created the linux native executable.

[2021-12-14 16:27] xeraph commented on #46
@reavalley See https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-to-build-native-image

[2021-12-14 16:27] #46 closed

[2021-12-14 16:30] reavalley commented on #46
Thanks very much

[2021-12-14 16:43] sdonaghey68 commented on #41
Wish I could, but there are issues accessing some of our 32bit servers remotely and need to run the exe directly on the server.

[2021-12-14 16:54] jlellis opened #47 "Scanner is still treating symlinks as jar files on linux"
I did update the previous issue I opened about symlinks, but that issue has already been closed and I don't think the update I made has been seen there.  I have pulled, rebuilt, and re-tested.  There are still issues with handling symlinks to jar files.

I have a bash script I'm using to cleanup, build, setup, and test.  I'm looking for a way to attach it here, if I find one I'll do so.  I don't h

[2021-12-14 17:05] xeraph commented on #47
@jlellis In previous update, I fixed
1) infinite directory traversal caused by symlink
2) backup file lost problem caused by symlink

As you say, latest version (1.3.0) creates backup for symlink files, but I don't think patch for symlink is problem..

You don't need to install maven. It's single java file and you can build and run like this:
[code]

[2021-12-14 17:15] xeraph commented on #47
Hmm.. I'm a little bit confused. Needs actual problem scenarios and expected procedures.

[2021-12-14 17:31] romestylez commented on #30
Its working !

What i would love would be to have all findings seperated something like

[code]
Would that be possible ? If not its ok i will do something in Powershell.

[2021-12-14 17:38] jlellis commented on #47
The code seems to suggest that if it detects a symlink, it skips over that symlink.  yet when running --fix, it still processes the symlink, and I end up with a symlinkname.bak file that is not necessary.   I displayed all of this in the test output I provided.

[2021-12-14 17:39] xeraph commented on #47
@jlellis Would you test 1.3.1 version?

[2021-12-14 18:15] xeraph commented on #35
@berniekirby Next release will address this issue. Thank you for suggestion.

[2021-12-14 18:20] jlellis commented on #47
It is still detecting the symlink as a jar file.  however, --fix now does not create the .bak file, but the output still says it detected 3 files but only fixed 2.  I would assume that it should not process symlinks at all.

[code]

[2021-12-14 18:23] xeraph commented on #47
@jlellis I think symlink should be detected. User should be notified in that case too.. May I close this issue?

[2021-12-14 18:45] romestylez opened #49 "Ignore $RECYCLE.BIN on Windows"
Hi,

woudl it be possible to ignore the $RECYCLE.BIN on every drive when using the tool on Windows ?

When there is a log4l file in that folder for sure its not used so thats a false positive.

[2021-12-14 18:47] xeraph commented on #49
yes. thank you for suggestion.

[2021-12-14 19:17] jlellis commented on #47
Why should symlinks be detected?  This causes unnecessary duplication in the scanning workload and consumes unnecessary disk space creating duplicate .bak files.  If I (as an overworked sysadmin) have to then find and remove the duplicated .bak files to restore the disk space lost, I won't use your --fix at all.  Its a waste of our time. What possible use case do you have for doing this?

[2021-12-14 19:22] xeraph commented on #49
@romestylez Just released v1.3.2.

[2021-12-14 19:28] xeraph commented on #47
@jlellis Added `--no-symlink` in v1.3.2.

In your case, you scan whole disk partitions. But in some cases, user just want to scan specific directories for short scan time. Think about following case:
[code]
User cannot be notified even if vulnerable file exists.

[2021-12-14 19:40] xeraph commented on #47
I understand your pain.. It's 04:00 a.m. in south korea..

[2021-12-14 20:06] jlellis commented on #47
That does make some sense.  My tests, though, are started at a specific subdirectory, not the root of the filesystem, so I haven't been looking at it from a scan-the-universe viewpoint yet.  The --exclude parameters address one reason why I didn't consider that approach from the start.

I would suggest if symlinks are found, ignore them but add the linked target jar to the list of jars to scan, ra

[2021-12-14 20:13] romestylez opened #50 "Version 2.15.0 not vulnerable but found"
Hi there,

i have some findings like this

`[*] Found CVE-2021-44228 vulnerability in D:\install\Log4J_Patche\UTI\log4j_2.15.0\log4j-core-2.15.0.jar, log4j 2.15.0`

Version 2.15.0 is the most actual version in which the exploit is already fixxed. This should be excluded from the scan.

[2021-12-14 20:16] Daywalker01 opened #51 "scan error: zip END header not found"
I used this very useful tool on many servers, all with basically the same basic software installed.

Immediately after starting its spams the output with
[code]
Any Idea where I could look in order to fix this?

System Info
[code]

[2021-12-14 20:16] xeraph commented on #50
new cve code added for 2.15.0. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45046

should use 2.16.0 to ensure safety..

[2021-12-14 20:18] romestylez commented on #50
Thanks for your answer ! Then i would suggest to write something like

`[*] Found CVE-2021-45046 vulnerability in D:\install\Log4J_Patche\UTI\log4j_2.15.0\log4j-core-2.15.0.jar, log4j 2.15.0`

So we have the new CVE if it finds 2.15.0 files :)

[2021-12-14 20:19] Daywalker01 commented on #51
Sry, did't check that there was a newer version release with a better output.
Issue can be Closed/Ignored

[2021-12-14 20:19] #51 closed

[2021-12-14 20:19] xeraph commented on #50
ok I will. Thank you for suggestion.

[2021-12-14 20:24] jlellis opened #52 "Feature request: -v to add some runtime progress messages."
It would be reassuring to Windows admins if Scanner could be triggered with a -v or similar option that would provide some feedback while massive filesystems are being scanned.   One possibility would be a status message that prints the current Scanned/Found/Fixed messages every 10,000 files.

Folks tend to cancel apps they think are hung or crashed because they aren't getting any output.

[2021-12-14 20:25] xeraph commented on #47
Thank you for suggestion. I will apply your idea soon.

[2021-12-14 20:26] xeraph commented on #52
Thank you for suggestion!

[2021-12-14 21:00] jlellis commented on #47
There doesn't seem to be a place to just chat about using scanner.jar yet.  I'm doing the following on systems I'm checking.

[code]

This identifies all unique paths that contain jar files and runs scanner once on each directory.  I shall add another feature request, as the resulting output looks like this:

[code]

so for each run there is no record what directory was scanned with zero vulnerabi

[2021-12-14 21:03] GorCed opened #53 "Detect all regardless of version."
This might be a perfect opportunity to find and update old v1.x versions, so how bout adding a option to display all v1.x and v2.x versions?

[2021-12-14 21:04] jlellis opened #54 "Feature request: Print starting point of the scan in the output."
If would be helpful to include the path where the scan was started.

Now:

[code]

Suggested:

[code]

[2021-12-14 21:14] GorCed opened #55 "Feature request: Scan all Local drives"
--all-drives
        Scan all drives on Windows

This option scans local drives and networkshares wich generates massive networkload.
"--all-local-drives" could save some networks.

[2021-12-14 22:16] peyman commented on #53
While it's not the current priority, it would indeed be useful to detect https://nvd.nist.gov/vuln/detail/CVE-2019-17571
Version 1.2 to 1.2.17

[2021-12-15 03:56] #49 closed

[2021-12-15 03:56] #26 closed

[2021-12-15 04:18] xeraph commented on #50
@romestylez See v1.4.0 release. Thank you!

[2021-12-15 04:21] xeraph commented on #54
@jlellis Just released v1.4.0. Added status reporting like this:

[code]

[2021-12-15 04:22] xeraph commented on #52
@jlellis Just released v1.4.0. Reports scan status every 10 seconds without any option.
[code]

[2021-12-15 04:24] xeraph commented on #47
@jlellis From v1.4.0, original linked file will be patched if symlink is detected like this:

[code]

[2021-12-15 04:36] tamht298 opened #56 "Didn't work with Log4j 2.11.1"
I try to use latest release (1.4.0) and define the maven pom.xml:
[code]

but no vulnerable can be found in result

[2021-12-15 04:42] xeraph commented on #56
It doesn't detect source files. Scanner is intended as production system scanning.
As README states, JAR, WAR, EAR, AAR archive files are suppored. (and ZIP if you add `--scan-zip` option)

[2021-12-15 04:42] #56 closed

[2021-12-15 06:01] glshnu opened #57 "Feature request: Silent mode"
Can you make a **--silentmode**
only console output on found and at the end of the scan.

[2021-12-15 06:05] glshnu opened #58 "Feature request: Exitcode"
count the founds and return the count as a exitcode to the os.

[2021-12-15 06:08] takakiyo opened #59 "Scan RAR files"
RAR (Resource adapter ARchive) is a file type defined in Java EE spec, and it may contains Java code.
[code]
Please add `|| loweredPath.endsWith(".rar")` to scan RAR files.

[2021-12-15 06:12] Pete27019 opened #60 "Exclude NFS filesystem"
Is it possible to exclude nfs filesystem? Urgent...

[2021-12-15 06:18] xeraph commented on #60
@Pete27019 Sure. Run with NFS directory path. (slower than direct attached disk, of course..)

[2021-12-15 06:18] #60 closed

[2021-12-15 06:58] maol74 opened #61 "Spring boot applications that has been fixed can´t be runned"
When invoking with --fix parameter on a spring boot app the application can not be runned in the default way again **due to compressed inner jars**

[code]

[2021-12-15 06:59] MunteresRehlein opened #62 "Feature request: Create Logfile"
It would be nice if a log file was created.

[2021-12-15 07:01] xeraph commented on #61
Oh.. Thank you for bug reporting!

[2021-12-15 07:34] cricstats opened #63 "Scan war files inside ear files"
I have a scenario where the .ear file contains 2 .war files within it .The scanner does not look inside the .war files at this point of time and stops reporting by just scanning the 2 war files .Can this be fixed.

[2021-12-15 07:42] AlexMilotin commented on #52
Would assume that this is valid for a next release ?

[2021-12-15 07:53] romestylez opened #64 "Remove the scan progress"
Hi,

im using the following command to scan my servers and log the findings:

`%~dp0\log4j2-scan.exe --all-drives >> log4jscan.txt`

Now there was a progress added and the log looks like

Running scan (129s): scanned 39865 directories, 186251 files, last visit: C:\Windows\WinSxS\amd64_microsoft-windows-settingmonitor_31bf3856ad364e35_10.0.14393.0_none_9af5864a1b37f25f
Running scan (139s): scanned

[2021-12-15 08:00] AlexMilotin commented on #64
You can pipeline for findstr in cmd : log4j2-scan.exe --all-drives --trace | findstr "[*] Found" >> log4jscan.txt

[2021-12-15 08:07] maol74 commented on #61
I created a demo app with https://start.spring.io/ and then run the app before and after running the logpresso --fix - this show the  bug

[2021-12-15 08:11] romestylez commented on #64
Mh yeah that would be an idea i will use that as an workaround

[2021-12-15 08:28] SB97 commented on #37
I solved it by running the program on my machine and connect the drive remotely with `\\<ipOrName>\c$`. Performance may suffer over the network.

[2021-12-15 08:42] GorCed commented on #57
--silentmode would clean up the logging when running this distributed with central logging.

[2021-12-15 08:52] GorCed commented on #57
use this as a workaround

  | findstr "[*] Found Completed"

[2021-12-15 09:57] xeraph commented on #61
@maol74 Would you test v1.5.0 release?

[2021-12-15 09:58] xeraph commented on #64
@romestylez Would you test v1.5.0 release? You can use `--silent` option.

[2021-12-15 09:59] xeraph commented on #63
@cricstats Would you test v1.5.0 release?

[2021-12-15 10:00] xeraph commented on #59
@takakiyo Would you test v1.5.0 release?

[2021-12-15 10:00] xeraph commented on #58
@glshnu Would you test v1.5.0 release?

[2021-12-15 10:00] xeraph commented on #57
@glshnu @GorCed Would you test v1.5.0 release?

[2021-12-15 10:02] xeraph commented on #35
@berniekirby Would you test v1.5.0 release?

[2021-12-15 10:06] romestylez commented on #64
Using this comment `%~dp0\log4j2-scan.exe --all-drives --silent >> log4jscan.txt`

I still have progress in the log

Logpresso CVE-2021-44228 Vulnerability Scanner 1.4.0 (2021-12-15)
Scanning drives: C:\,D:\,O:\,S:\
[*] Found CVE-2021-44228 vulnerability in C:\Users\arcgis\AppData\Local\ESRI\Server10.6\AssemblyCache\{EA0828FC-BCD1-4B7D-B040-0A803DBDC52D}\log4j-core-2.6.2.jar, log4j 2.6.2
[*] Found

[2021-12-15 10:18] xeraph commented on #64
Your output contains v1.4.0. Test v1.5.0 please. :D @romestylez

[2021-12-15 10:20] berniekirby commented on #35
On my manufactured jar file it seems to work.

./log4j2-scanner-1.5.0 ~/bla3.jar
Logpresso CVE-2021-44228 Vulnerability Scanner 1.5.0 (2021-12-15)
Scanning directory: /home/bkir7293/bla3.jar
[*] Found CVE-2021-44228 vulnerability in /home/bkir7293/bla3.jar (bla.jar > picard.jar), log4j 2.5
[*] Found CVE-2021-44228 vulnerability in /home/bkir7293/bla3.jar (bla.jar > picardcloud.jar), log4j 2.5
[*]

[2021-12-15 10:25] romestylez commented on #64
I havent refreshed the page and had the tab open... Damn thanks :D

Working perfect with 1.5.0 :) One more very little cosmetic thing could you add a line break after "Scanning drives" ?

So that it looks like

Logpresso CVE-2021-44228 Vulnerability Scanner 1.5.0 (2021-12-15)
Scanning drives: C:\,D:\,O:\,S:\

[*] Found CVE-2021-44228 vulnerability in C:\Users\arcgis\AppData\Local\ESRI\Server10.6\A

[2021-12-15 10:29] Menschomat commented on #59
With build from master I'm getting:

`Skipping broken jar file \Hidden\Patht for HiddenFileName.rar ('error in opening zip file')`

[2021-12-15 10:33] berniekirby commented on #35
However I'm not sure on using --fix

./log4j2-scanner-1.5.0 --fix ~/bla3.jar
This command will remove JndiLookup.class from log4j2-core binaries. Are you sure [y/N]? y
Logpresso CVE-2021-44228 Vulnerability Scanner 1.5.0 (2021-12-15)
Scanning directory: /home/bkir7293/bla3.jar
[*] Found CVE-2021-44228 vulnerability in /home/bkir7293/bla3.jar (bla.jar > picard.jar), log4j 2.5
[*] Found CVE-2021-442

[2021-12-15 10:36] berniekirby commented on #35
We are using it to mainly scan at the moment so --fix isn't an urgent issue for us as we can manually fix found files.
Maybe something to do with this particular jar files but others might need a fix

[2021-12-15 10:37] maol74 commented on #61
Worked perfect for me, thanks for a quick fix on this!!

[2021-12-15 10:37] #61 closed

[2021-12-15 11:11] MarkSe99 opened #66 "Scan failing when missing \ on the drive mapping"
It may be worth calling our a trailing back slash is needed

D:\
or C:\

If you run with a missing slash, it will return 0 if there are more restricted folders (ACL changes etc).

flaggging to help someone else.

[2021-12-15 12:24] glshnu commented on #58
great - yes it runs - thanks

[2021-12-15 12:25] glshnu commented on #57
great - yes it runs - thanks

[2021-12-15 12:40] GorCed commented on #57
It works. great job.

[2021-12-15 12:57] tomacco81 opened #68 "Fix fails if file was locked during previous scan with fix option"
At the first scan the file was locked and could not be patched:
`Error: Cannot patch locked file ...`

Then, during the second scan, the file could not be patched because a backup already exists.
`Error: Cannot create backup file. .bak File already exists. Skipping ...`

Could you include a --force parameter that overwrites existing backups of non mitigated files?
Thank you.

[2021-12-15 13:14] Tiepolino opened #69 "Return different result code for Hits and no-hit found"
Return a different return code if hits were found so the batch-script can act on hits.

[2021-12-15 13:39] #57 closed

[2021-12-15 13:41] xeraph commented on #69
![image](https://user-images.githubusercontent.com/2782192/146196910-3c4cbb53-e9f4-403d-8dc6-d49b6787862c.png)
@Tiepolino What do you mean? You can get exit code (v1.5.0)

[2021-12-15 13:43] xeraph commented on #68
@tomacco81 hmm.. I will check lock status before backup.

[2021-12-15 13:46] xeraph commented on #66
I will cover this case. Thank you for suggestion!

[2021-12-15 13:48] #58 closed

[2021-12-15 14:06] tfoldi opened #71 "Cannot fix file (duplicate entry: META-INF/DEPENDENCIES)"
When executing the scanner I receive the following error:

[code]

the jar file itself is a valid zip:

[code]

any idea what needs to be changed? thanks!

[2021-12-15 14:28] tomacco81 commented on #68
Another option might be to include a counter in the filename of the backup:
- file.jar.bak
- file.jar.1.bak
- file.jar.2.bak
...

I have the problem with multiple files on many Windows machines.
Now it is time consuming to read the logs and delete the backups for the non mitigated files.

[2021-12-15 14:32] xeraph commented on #59
@Menschomat Maybe it is not Resource adapter ARchive. If HiddenFileName.rar is WinRAR file, magic header starts like this:
![image](https://user-images.githubusercontent.com/2782192/146205265-97597631-ddea-4eed-ba81-a087f58523da.png)

Resource adapter ARchive is actually ZIP file. ZIP file should starts like this (0x50 0x4B ..):
![image](https://user-images.githubusercontent.com/2782192/146205383-

[2021-12-15 14:42] AliakseiKiryanau1 commented on #71
Just got similar errors while scanning:
`
java.util.zip.ZipException: duplicate entry: META-INF/maven/com.carrotsearch/java-sizeof/pom.xml
	at java.util.zip.ZipOutputStream.putNextEntry(ZipOutputStream.java:233)
	at com.logpresso.scanner.Log4j2Scanner.copyNestedJar(Log4j2Scanner.java:537)
	at com.logpresso.scanner.Log4j2Scanner.copyZipEntry(Log4j2Scanner.java:460)
	at com.logpresso.scanner.Log4j2S

[2021-12-15 15:23] tululum opened #73 "How was source code compiled?"
Hi,

Thank you for the amazing tool. Would you mind sharing how was the source code compiled to the .exe binary, or include "compile from source code" in Readme so that we can compile the code ourselves? Or at least give info on what tools were used to do that with some basic info perhaps?

Thank you!

[2021-12-15 15:24] xeraph commented on #73
@tululum Hi, see https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-to-build-native-image

[2021-12-15 15:24] #73 closed

[2021-12-15 15:26] Tiepolino commented on #69
Then please kindly ignore my request! From your example above I can make the changes needed to the batch-script.
Keep up the good work! And thanks so much for this wonderfull tool, it realy makes a difference!

[2021-12-15 15:28] xeraph commented on #69
@Tiepolino Thank you very much!

[2021-12-15 15:28] #69 closed

[2021-12-15 15:38] tp111 commented on #62
Yes!!! That would be great and also to specify the log destination.

[2021-12-15 16:24] B0R0R0B opened #74 "Restart Apache Services Question"
When using the --force-fix option would we need to stop services before running the tool ?

Or would it still replace the .JAR files and then we could restart the services afterwards ?

Thx

[2021-12-15 16:24] glshnu opened #75 "scan with --silent many output of Skipping broken jar"
Skipping broken jar file C:\WINDVSW1\DATEV\DATEN\LOHNRS\AUSWERT\STANDARD\0042065\00000\2005\20050616122553.aar ('zip END header not found')

[2021-12-15 16:26] glshnu opened #76 "Feature request: linefeed after found or error"
In the output was no linefeed

Logpresso CVE-2021-44228 Vulnerability Scanner 1.5.0 (2021-12-15) Scanning directory: C:\ [*] Found CVE-2021-44228 vulnerability in C:\DATEV\PROGRAMM\B0001429\JasperCore\jasper-spring-5.1.4.jar (BOOT-INF/lib/log4j-core-2.14.1.jar), log4j 2.14.1 Skipping broken jar file C:\WINDVSW1\DATEV\DATEN\LOHNRS\AUSWERT\STANDARD\0042065\00000\2005\20050506122854.aar ('zip END hea

[2021-12-15 16:30] xeraph commented on #74
@B0R0R0B You should stop services first, run the fix, then start services.

[2021-12-15 16:30] #74 closed

[2021-12-15 16:31] xeraph commented on #71
@tfoldi @AliakseiKiryanau1 Would you test v1.6.0 release?

[2021-12-15 16:32] xeraph commented on #68
@tomacco81 Would you test v1.6.0 release?

[2021-12-15 16:32] xeraph commented on #66
@MarkSe99 Would you test v1.6.0 release?

[2021-12-15 16:33] xeraph commented on #62
@MunteresRehlein @tp111 Would you test v1.6.0 release? Use `--report-csv`and `--report-path` options.

[2021-12-15 16:35] xeraph commented on #30
@max-wroc Would you test v1.6.0 release? It has `--report-csv` and `--report-path` options.
![image](https://user-images.githubusercontent.com/2782192/146226718-954eae11-5268-4d4f-9642-8b09731f4634.png)

[2021-12-15 16:38] AliakseiKiryanau1 commented on #71
@xeraph , yup, going to test right now

[2021-12-15 16:39] xeraph commented on #76
@glshnu Interesting.. Is it Windows CMD output?

[2021-12-15 16:41] tgagor opened #77 "Version 1.6.0 reports scan error: 'null'"
Hi guys,

great job with this scanner, but looks like version 1.6.0 does something silly:
[code]
Obviously it finds something but reports 0 vulnerable files.

[2021-12-15 16:41] meytal0908 commented on #71
@xeraph Tested it working
Thanks!

[2021-12-15 16:42] xeraph commented on #77
@tgagor Would you leave an stacktrace? run with `--debug` option.

[2021-12-15 16:44] xeraph commented on #77
@tgagor  Oh I reproduced it.. Thank you for bug reporting!

[2021-12-15 16:44] tp111 commented on #62
Great log!!! But would It be possible to include the HOSTNAME of the scanned computer and enable so results from several scanned servers could be saved in the same file? Then We could run the tool on several computers and collect results in one place.

[2021-12-15 16:50] tgagor commented on #77
I can share it anyway:
[code]

[2021-12-15 16:54] xeraph commented on #77
@tgagor Would you test v1.6.1 release?

[2021-12-15 16:56] AlexMilotin opened #78 ".jar execution on Win 32-bit Question"
If no JRE installed on the system is there any way that .jar file can be executed ?
I tr
![image](https://user-images.githubusercontent.com/92310619/146229074-3a61e93b-6763-4d79-8be1-b1ac6c6f80cf.png)

[2021-12-15 16:57] tp111 commented on #62
or if it's to hard to select result from several computers i one fil then add the Hostname to the log-file so that we could save all results to the same UNC path.

[2021-12-15 16:58] feuersen commented on #77
1.6.1 seems to work again. Looks fine to me. Thanks for the fast response!

[2021-12-15 16:58] xeraph commented on #78
@AlexMilotin
If no java is installed on windows, It is safe.
However if you want to run scanner anyway, you should install JRE on windows.

[2021-12-15 16:58] #78 closed

[2021-12-15 16:59] meytal0908 commented on #71
@xeraph  ןin version 1.6 there is a new issue on old versions of log4j2:
Scan error: 'null' on file: ctm_em/etc/bim/mticket/log4j-core-2.5.jar

Can you please check

[2021-12-15 17:00] xeraph commented on #71
@meytal0908 really sorry.. Just released 1.6.1 again.

[2021-12-15 17:00] glshnu commented on #76
Yes is Windows

[2021-12-15 17:02] tgagor commented on #77
I can confirm. 1.6.1 works fine.

[2021-12-15 17:02] xeraph commented on #76
@glshnu Do you mean additional empty line? I can't reproduce what you are saying.

[2021-12-15 17:03] xeraph commented on #77
@tgagor @feuersen Thank you all!

[2021-12-15 17:03] #77 closed

[2021-12-15 17:06] tp111 commented on #62
I get Scan error when I run this command:
log4j2-scan.exe --all-drives --report-csv --report-path C:\temp\VM075-Log4j-Scan-2021-12-15.csv

[2021-12-15 17:07] AlexMilotin commented on #78
Most of the applications in our environment seems that built-in java. Our remote people want to scan their old systems also, so i doubt that they have JRE installed.
That's why i looking for a portable java version

[2021-12-15 17:07] xeraph commented on #62
@tp111 Really sorry.. Would you test using v1.6.1 again?

[2021-12-15 17:14] xeraph commented on #52
Sure.

[2021-12-15 17:18] greg-hamonic-public opened #79 "Skip NFS mounts"
Feature enhancement request to have the scanner auto-skip NFS mounted filesystems.

[2021-12-15 17:24] Menschomat commented on #59
@xeraph
First of all, thanks for this great tool! You helped us a lot.
I'll check this tomorrow, when I'm back in the office.

[2021-12-15 17:32] tp111 commented on #62
Great!!! Now this command works fine:
log4j2-scan.exe --all-drives --report-csv --report-path C:\temp\VM075-Log4j-Scan-2021-12-15.csv

Only thing missing now is to include Hostname in the output and make the tool append results from scened computers. But maybe that's not possible. In that case it works fin with %computername% in the file-name and save the file in a UNC path. Have tested that and i

[2021-12-15 17:34] AliakseiKiryanau1 commented on #71
@xeraph , tested with 1.6.1 - everything is working :)
[code]

[2021-12-15 17:34] xeraph commented on #62
@tp111 Just released v1.6.2 for hostname request :D

[2021-12-15 17:40] tp111 commented on #62
Ah, perfect!!!
Could you dicribe how it works?

Because this command dosen't work anymore. Worked in 1.6.1:
log4j2-scan.exe --all-drives --report-csv --report-path \\Servername\Share$\temp\%computername%-Log4j-Scan-2021-12-15.csv

[2021-12-15 17:43] tp111 commented on #62
ANd yes, there are two \\. Don't know why one is missing efter posting the comment. When I try to Edit there are two \\ in hte path.

[2021-12-15 17:43] tp111 commented on #62
`log4j2-scan.exe --all-drives --report-csv --report-path \\Servername\Share$\temp\%computername%-Log4j-Scan-2021-12-15.csv`

[2021-12-15 17:44] xeraph commented on #62
@tp111  Hmm.. strange. I added following method:
![image](https://user-images.githubusercontent.com/2782192/146237642-0fcef5cc-4de2-4c0d-a028-f09a60693ded.png)
Scanner reads environment variable and append it to CSV file. That's all.

[2021-12-15 17:46] tp111 commented on #62
ok, but is it for appending the computername to the filename or to the result inside the file?

[2021-12-15 17:48] xeraph commented on #62
@tp111 In the file. I will add hostname for you. Wait a moment..

[2021-12-15 17:49] tp111 commented on #62
If the name is included inside the log then it's not neeaded in the filename.

[2021-12-15 17:50] xeraph commented on #62
@tp111 I got it.

[2021-12-15 17:52] tp111 commented on #62
Sorry! It was my bad. It works great now. Thanks!

[2021-12-15 17:52] xeraph commented on #71
@AliakseiKiryanau1 Wow..! Thank you for test report!

[2021-12-15 17:59] tp111 commented on #62
Do you think that it would be possible to make the tool to append to the log-file instead of stopping if the log-file exists?

I thinking of a way to deploy it via SCCM end then report all results in to one csv-file. Don't know if that's possible but if it is that would be super nice.

Thank you for the great work!

[2021-12-15 18:02] xeraph commented on #62
@tp111 Append option is possible. However, if multiple scanners run concurrently and writes report to one CSV file, CSV file will be messed up. (NFS file cannot be locked)

[2021-12-15 18:02] tp111 opened #80 "Run from a UNC path"
Would it be possible to make the tool work from a UNC path? Can't make it work right now.

[2021-12-15 18:05] glshnu commented on #76
ok i see is a problem from me. sorry please close the issue

[2021-12-15 18:05] xeraph commented on #35
@berniekirby Would you test v1.6.1? See also https://github.com/logpresso/CVE-2021-44228-Scanner/issues/71#issuecomment-995012127

[2021-12-15 18:07] xeraph commented on #76
@glshnu Thank you!

[2021-12-15 18:07] #76 closed

[2021-12-15 18:29] Rocco83 opened #81 "Multithreaded scan"
On some systems, the scan is slow, especially when the cores are not performant.

One possible idea is to make the scan multithreaded.
We would specify the number of threads that are doing the scan (eg --threads 8), leveraging on the capacity of all the CPUs, as the scan is CPU intensive.

One possible idea is to do it as follows:
- one thread is scanning the filesystem (traverse() looking for dir

[2021-12-15 18:33] xeraph commented on #81
@Rocco83 I wonder if it is really CPU intensive job. Most time is consumed by simple file listing. Make sense if there are so many ZIP files to decompress.

[2021-12-15 18:48] Rocco83 commented on #81
I'll try to collect some data for that,
Thanks!

[2021-12-15 19:52] tp111 opened #82 "Exitcodes?"
Are there any exit codes?

I'm trying to run the tool via SCCM package and save the log-file in a UNC path. Everything looks fine and the log-file gets created exept that I get an error, exitcode 6. Is that from the tool and if so, can I get the exit codes with description?

[2021-12-15 19:52] MrPippin66 opened #83 "Scanner now needs to account for V2.12.2"
Apache log4j development just released a new patch for this issue.

https://logging.apache.org/log4j/log4j-2.12.1/

News

Log4j 2.12.2 is now available for production. Log4j 2.12.2 is the latest release of Log4j and contains changes addressing only CVE-2021-44228 and CVE-2021-45046 for users still using Java 7

--

Please add this to the scanner signatures.

[2021-12-15 19:58] tp111 commented on #82
If the code is from the tool I would like a possibillity to supress all exitcodes exept 0 or force exitcode to be 0.

[2021-12-15 20:32] JHulsmans commented on #80
I read your other issues so I know you're trying to make it work with SCCM.

Logpresso is being run in our environment from a UNC path so it does work. version 1.6.2

[2021-12-15 20:45] tp111 commented on #80
Well, I got it to work via SCCM package also byt I get an exit code 6 error that I would like to remove. But that is when I run it from a package so the file is run from a local conten cache. Not from UNC.

Can't get i to work when run manualy from UNC path.

[2021-12-15 20:46] tp111 commented on #80
Woluld you like to share how you run it from SCCM if it works for you without exit error code?

[2021-12-15 20:52] tp111 commented on #62
I have one more request about the log. Could we have a option to only create log-file if there is something to report? Because if I scan 1000 servers I don't want to go over all 1000 log-files :)

[2021-12-15 20:53] tp111 commented on #62
Also it would be great th have a suffix with date and time like in the default log that is created without the ---report-path parameter.

[2021-12-15 21:07] jgstew commented on #79
Especially on Linux, getting the scanner to automatically skip remote mounts, NFS or CIFS or otherwise would be helpful.

Otherwise if you run this from many Linux devices at once, you can bring down your file shares if you don't exclude them.

On windows it is less difficult to get the set of fixed disks to add to the `--disk` command to run, but even there it could be useful as a precaution.

[2021-12-15 21:14] MrPippin66 commented on #81
Y, despite the scan run time, you also don't want the scanner to be impactful to the application functions of the server.

[2021-12-15 21:16] tp111 commented on #82
Thanks for the info. It would be great if there was a parameter to supress thoes exit codes.

[2021-12-15 21:21] tp111 commented on #82
Just don't remove them totaly because they are very helpfull normaly. Even mot now when I know what thay mean :)

[2021-12-15 21:37] GorCed commented on #80
Don't deploy as a package.
run it like a script i SCCM instead.
just make sure you can access the shared file with the account that runs the SCCM Client.

[2021-12-15 23:00] berniekirby commented on #35
1.6.2 seems to have resolved the "Error: Cannot fix file (duplicate entry: htsjdk/samtools/AbstractBAMFileIndex$1.class). rollback original file /home/bkir7293/bla3.jar"

[2021-12-15 23:08] ashvgk opened #84 "Log4j Scan on remote Windows servers consumes more time"
It looks like when we try running log4j via remotely using powershell script, it take more time to complete.

When tried it locally it will complete in around 50 seconds, but remote method takes above 5 mins.

OS - 2008

Any suggestions?

[2021-12-15 23:55] glshnu opened #85 "Feature request: scan only local drives"
On Windows log4j2-scan scans with the parameter --all-drives all Network drives. A parameter --all-local-drives was great (no network drives)

[2021-12-15 23:59] #85 closed

[2021-12-16 00:40] xeraph commented on #83
@MrPippin66 Would you test v1.6.3? Thank you for suggestion!

[2021-12-16 00:42] xeraph commented on #35
@berniekirby Thank you for test report!

[2021-12-16 00:42] #35 closed

[2021-12-16 01:09] xeraph commented on #79
I will address this issue in next release.

[2021-12-16 03:15] adammike commented on #82
I think it could be useful if you did something like:

rc = -1: Houston, we have a problem
rc = 0: Good scan, no vulns found
rc = 1: Good scan, vulns found
rc = 2: Good scan, but encountered unreadable file (permission denied, etc) errors

I don't think the RC needs the actual number of findings, if you're trying to get that programmatically you can awk the output, parse the CSV, or maybe we add a

[2021-12-16 03:17] adammike opened #86 "No indication of failure on permission denied"
If you run the scanner as a non-root user and you try to scan a directory that you do not have permissions to read, the scanner will report zero findings and exit code 0, even with --trace.

I understand suppressing some exceptions, like the zero size jars, etc. However, I think we should absolutely make people aware if we encounter permissions or IO errors, suppressing these completely and report

[2021-12-16 03:24] xeraph commented on #86
@adammike  Thank you for suggestion. I will address this issue in the next release.

[2021-12-16 03:38] Pete27019 commented on #60
I need to scan log4j for more than 3000 servers, I need to scan with option to exclude nfs filesystem.

[2021-12-16 03:40] xeraph commented on #60
@Pete27019 You can use —exclude option :D

[2021-12-16 04:07] ozbillwang opened #87 "build to binary"
could you please share the detail on how you build it to native binary (for linux, windows and mac)?

[2021-12-16 04:09] xeraph commented on #87
@ozbillwang See https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-to-build-native-image

[2021-12-16 04:09] #87 closed

[2021-12-16 04:26] ozbillwang opened #88 "log4j jar files for scan"
I got one old log4j jar file for scan test

I downloaded the scan tool locally.

[code]

and I copy it out to some VMs, that my support team can report to me which instance got catched.

[log4j2-demo-1.0.0-12.jar.tar.gz](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7724533/log4j2-demo-1.0.0-12.jar.tar.gz)

could you provide more sample for me?

I need one that is good, with log4j 2.16

[2021-12-16 07:49] hacklhar opened #89 "report path UNC Shared"
option --report-path is not working with UNC Path, no error message. CSV won´t be generated

[2021-12-16 08:00] romestylez commented on #62
I rune the command

log4j2-scan.exe --all-drives --report-csv --report-path C:\temp\Log4j-Scan.csv

but i dont get a csv file ? I cant figure out why.

[2021-12-16 08:03] tululum opened #90 "Compilation fails: AllowWideningCast"
Hi,

I tried to follow the compilation guidelines in FAQ, including using the exact same versions (graalvm 21.0.0.2, VS2019, log4j2-scan-1.2.5), but I get the following errors which cause the compilation to fail:

[code]

Could you please help? Even with the exact same versions, the guidelines are not working. Thank you for your help!

[2021-12-16 08:22] tp111 commented on #89
Works fine for me. Be sure to youse the latest version and to have full access to the share with the account that you run the command with.

[2021-12-16 08:27] Couss10 commented on #37
From my side, I copied missing dll to same directory as exe then run the cmd as temp fix. But it asks me for another dll: api-ms-win-ctr-runtime-l1-1-0.dll
![image](https://user-images.githubusercontent.com/96230467/146335261-4eb3a7d4-5568-4aa2-9b98-38caf6ee6b61.png)

[2021-12-16 08:32] hacklhar commented on #89
@tp111  Account has sufficient permissions - syntax i´m using log4j2-scan.exe --report-path "\\server\share\computername_yyyyMMdd.csv" c:\temp
using the latest build

[2021-12-16 08:33] tululum commented on #90
My bad, used VS19 console started from Visual Studio itself, which launched the x86 version. For reference, if anyone has the same issues, make sure you start the x64 version (from Start menu for example). To find out what version you are launching, see the first few lines when it opens:

![image](https://user-images.githubusercontent.com/67554090/146336115-c404708b-2557-481c-ad18-513eb42fe1f0.png

[2021-12-16 08:33] #90 closed

[2021-12-16 08:42] ChKemper commented on #88
As I knew this scanner should only detect log4j2 version. For out company i have created a version which detects log4j 1.2 as "POTENTIALLY_VULNERABLE" when the JMSAppender class is in the JAR. The output is:

[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in /Users/xgadkem/Downloads/log4j/log4j-1.2.17.jar, log4j 1.2.17

If voted, etc. I can provide a PR.

[2021-12-16 09:01] romestylez commented on #89
The log gets created when the scan is finished ! I had the same with a local file and thought its not working but its created when scan finished.

[2021-12-16 09:11] hacklhar commented on #89
@romestylez scan is finished file will not be created on unc path, local it´s working

[2021-12-16 09:12] romestylez commented on #89
@hacklhar i tested it and for me its working fine on UNC path

[2021-12-16 09:13] xeraph commented on #89
try `\server` -> `\\server`

[2021-12-16 09:13] hacklhar commented on #89
@romestylez can you post your syntax example, only was i typo in my 2nd post

[2021-12-16 09:31] tomacco81 commented on #68
The problem no longer occurs in the current version, thank you!

[2021-12-16 09:31] ozbillwang commented on #88
could you share a sample jar file with log4j 1.x?

[2021-12-16 09:32] #68 closed

[2021-12-16 09:32] C-Duv commented on #60
I guess the OP wanted a way to exclude path by their filesystem type (eg. xfs, tmpfs, nfs, …), not by their path.
It makes sense when you have multiple servers that mounts NFS exports at various mount points (`/mnt/nfs-foo/` on server1, `/home/` on server2, etc.).

[2021-12-16 09:33] ozbillwang commented on #88
So do you mean, log4j 1.x has no issue with `CVE-2021-44228`?

[2021-12-16 09:41] tp111 commented on #89
You have to use the --report-csv parameter also! And you have 2 paths. Just use one.

[2021-12-16 09:46] romestylez commented on #89
You need to set the path you want to scan **behind** the parameter

Thas a little bit unlucky had this also when i first used this tool.

[2021-12-16 09:46] tomacco81 opened #92 "Return code for failed backups and locked files"
Could you return a separate return code for failed backups and locked files (e.g. -1).
This would be very helpful for error evaluation.

[2021-12-16 09:49] ozbillwang commented on #64
can we remove `--silent` out of the command, please.

It is really annoying.

If I need detail, `--trace` is good enough.

[2021-12-16 09:49] tp111 commented on #89
Your syntax si wrong. Have a look at my example.
`log4j2-scan.exe --all-drives --report-csv --report-path \\ServerName\Share$\Applications\Scripts\Log4j\logs\%computername%-Log4j-Scan.csv`

[2021-12-16 09:51] hacklhar commented on #89
@tp111  log4j2-scan.exe --report-csv --report-path \\servername\Log4j_logs\%computername%-Log4j-Scan_%date%.csv "C:\Program Files\Tableau" is working now, thx

[2021-12-16 09:51] #89 closed

[2021-12-16 10:00] ozbillwang commented on #64
@AlexMilotin

the command `log4j2-scan.exe --all-drives --trace | findstr "[*] Found" ` clean the scan status, but still show a lot of skip file and directories. In fact, it gives more outputs then `--silent`

[2021-12-16 11:22] aurelienpernoud opened #93 "No more compression on "fixed" jars ?"
I don't know if it's expected, but this commit :

https://github.com/logpresso/CVE-2021-44228-Scanner/commit/41102e57e070700f3fd740ab067b2929f588a07c

also added those lines

			zos.setMethod(ZipOutputStream.STORED);
			zos.setLevel(Deflater.NO_COMPRESSION);

So now the patched versions are way bigger than the original file.

No big deal in the end, but it may surprise that the patched file, in th

[2021-12-16 11:23] aurelienpernoud commented on #93
And thanks A LOT for your tool btw :)

[2021-12-16 11:49] recalmer commented on #75
Skipping broken jar file C:\Program Files\Tivoli\TSM\db2\samples\repl\xmlpubtk\loadqueue\LoadQueue.jar ('invalid END header (bad central directory offset)')
Skipping broken jar file C:\Program Files\Tivoli\TSM\db2\samples\repl\xmlpubtk\sample1\sample1.jar ('invalid END header (bad central directory offset)')
Skipping broken jar file C:\Program Files\Tivoli\TSM\db2\samples\repl\xmlpubtk\sample2\sam

[2021-12-16 12:16] aurelienpernoud commented on #88
Quick comment : if you implement this, I would suggest not to scan by default for CVE-2021-4104 (or to have a way to exclude this scanning).

"Note this issue only affects Log4j 1.2 **when specifically configured to use JMSAppender, which is not the default.** Apache Log4j 1.2 reached end of life in August 2015. "

CVE-2021-44228 is active by default on the opposite, and still on a supported jar.

[2021-12-16 12:20] lmalmeida commented on #81
I'm tempted to say "leave as it is".
- the code is much, much simpler, which facilitates analysis and ensuring that the scanner is good
- As @MrPippin66  mentioned, less impact on the server, without having to play with priority options

[2021-12-16 12:21] ChKemper commented on #88
Hi @ozbillwang,

in my test file you can find som: [loggingBuddies.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7727190/loggingBuddies.zip).

[2021-12-16 12:36] SB97 commented on #37
@Couss10
the name points to "Visual C++ Redistributable für Visual Studio 2015/2017/2019" which VCRUNTIME140.dll is also a part of.

[2021-12-16 12:37] MrPippin66 commented on #83
I  can, but we've not yet deployed 2.12.2, since priority is mitigation. May be able to check this, Monday. I'd assume others can check this.

[2021-12-16 12:39] ChKemper commented on #88
Hi,

in my [internal branch](https://github.com/ChKemper/CVE-2021-44228-Scanner/tree/log4j1_Scanning) you can see the result.
Scanning for log4j 1 is deactivated by default.

@xeraph: What do you say? PR?

Thanks

[2021-12-16 12:58] NineOfSeven opened #94 "Error with filename recognition"
Hi,
we stumbled upon this during our scans:

[code]
guess he don't like to calc with 0-beta ^^

[2021-12-16 13:17] bernysk commented on #94
Same here, tried to download some testing jars and running the tool

log4j2-scan.exe C:\Users\a\Downloads\
Logpresso CVE-2021-44228 Vulnerability Scanner 1.6.3 (2021-12-16)
Scanning directory: C:\Users\a\Downloads
Scan error: 'For input string: "0-alpha1"' on file: C:\Users\a\Downloads\apache-log4j-2.0-alpha1-bin\log4j-2.0-alpha1\log4j-core-2.0-alpha1-tests.jar
Scan error: 'For input string: "0-al

[2021-12-16 13:46] xeraph commented on #94
@NineOfSeven @bernysk Thank you for bug reporting! I will fix this.

[2021-12-16 14:25] xeraph opened #96 "Share your story"
* How many server did you scanned or fixed?
* Did you completed your mission? How long does it take?
* Have you tried other tools? What was the difference?
* Do you have any useful tips?

[2021-12-16 14:28] romestylez commented on #96
We are still investigating. In the first try we scanned our DMZ systems now we are going to scan the rest. At the end its around 2900 Servers (Win/Unix).

We searched with own powershell scripts etc. what our automation team is missing the most are error codes for the scanner but we are happy to have this tool :)

[2021-12-16 14:36] xeraph commented on #75
@glshnu @recalmer In most cases, they are just corrupted files. I just wanted to notify user that it has not been investigated.

[2021-12-16 14:36] #75 closed

[2021-12-16 14:49] xeraph commented on #93
@aurelienpernoud Good question. At first time, I compressed JAR file as usual. Then I encountered issue #61.

Contrary to what the error message says, outmost JAR file should not be compressed if JAR files are embedded.
If I have more time, I would compressed single jar file without embedded jar files.

[2021-12-16 14:49] #93 closed

[2021-12-16 14:52] #30 closed

[2021-12-16 14:53] #54 closed

[2021-12-16 14:53] t0xic-coder commented on #18
would like to see Log4j 1.2.x support too

[2021-12-16 14:55] #71 closed

[2021-12-16 14:59] #47 closed

[2021-12-16 14:59] #52 closed

[2021-12-16 14:59] #59 closed

[2021-12-16 14:59] #66 closed

[2021-12-16 15:00] #34 closed

[2021-12-16 15:01] headman78 commented on #59
What about excluding WinRAR files from scanning? Getting a alot of these from those: Skipping broken jar file <folder>\Screenshots.rar ('zip END header not found')

[2021-12-16 15:11] highqualitypcs commented on #55
Hi @xeraph I agree when you have multiple shared drives and running scans from multiple computers.  The same shared drives get hammered.  Thank you for your time!  @jgstew Can you please provide the command you are using to collect the local drive letters and the how you are passing that into the --drives  ?

[2021-12-16 15:34] ashvgk opened #97 "Windows remote scanning - exclude path"
It scan as below - any way to skip this location, bcz it takes huge time to complete.

C:\Documents and Settings\.NET v2.0\Local Settings\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Applica

[2021-12-16 15:38] xeraph commented on #97
Oh.. Maybe there is broken junction (like linux symbolic link). Try `--exclude-pattern "Microsoft Help"` first.

[2021-12-16 15:39] bilodeauj opened #98 "Add scanning for log4j 1.2 CVE-2021-4104"
I've been made aware that according to CVE-2021-4104 that older versions of log4j 1.2 have a similar vulnerability to CVE-2021-44228. Would it be possible to add detection of those to the scanner as well?

[2021-12-16 16:01] jpvlsmv commented on #79
Alternatively, I'd recommend a --same-filesystem option like find's `-xdev`  With this option, you could target / and automatically not deal with crossing into strange mounts like /run, /sys, /proc, /home, etc.

[2021-12-16 16:29] jgstew commented on #97
You might need to exclude `C:\Documents and Settings.NET v2.0\Local Settings\Application Data` or similar. This definitely seems like a circular loop of junctions / symlinks somewhere.

[2021-12-16 16:33] jgstew commented on #45
Is there a list of all network share filesystem types? I am also trying to figure this part out, but I don't know what all types there are that should be excluded.

Our current solution is to look at all of the mounted filesystems and their path, then build a dynamic set of `--exclude /path` commands based upon that, but I don't know if there are filesystems I should be excluding other than `nfs`

[2021-12-16 16:35] xeraph commented on #45
@jgstew Just wait about 10 min. I will release new version.

[2021-12-16 16:46] jgstew opened #100 "Bug: blank lines in --exclude-config file exclude all paths, no scan"
A bug we have run into on Linux with a --exclude-config with a list of paths. If there is a blank line in the file provided, then that blank line is interpreted as `exclude /` which excludes all scanning, which basically defeats the purpose of running the scanner if it excludes all paths accidentally.

**Related:** https://github.com/logpresso/CVE-2021-44228-Scanner/issues/45#issuecomment-99598203

[2021-12-16 16:59] xeraph commented on #100
@jgstew Oops. Fixed in v1.7.0. Thank you for bug reporting!

[2021-12-16 17:00] xeraph commented on #94
@NineOfSeven @bernysk Would you test v1.7.0 release?

[2021-12-16 17:00] xeraph commented on #86
@adammike Would you test v1.7.0 release?

[2021-12-16 17:02] xeraph commented on #79
@greg-hamonic-public @jgstew @jpvlsmv Would you test v1.7.0 release? NFS will be ignored by default. You can change behavior using `--exclude-fs` option.

[2021-12-16 17:03] xeraph commented on #45
@MrPippin66 Would you test v1.7.0 release?

[2021-12-16 17:09] xeraph commented on #37
I added guide for this error. Thank you all!

[2021-12-16 17:09] #37 closed

[2021-12-16 17:10] xeraph commented on #98
There are so many request about 1.x detection. I will address this issue in the next release.

[2021-12-16 17:14] xeraph commented on #88
@ChKemper Let's reopen the PR.

[2021-12-16 17:23] tp111 commented on #62
Any news about --append-log or --overwrite-log? Would realy need that. Or at least a automatic suffix with date and time so that a new log is created instead of application failing as it does now when a Log-file exists.

[2021-12-16 17:30] MrPippin66 commented on #45
It's being evaluated, currently

[2021-12-16 17:31] romestylez commented on #62
Maybe just use a batch like

`
REM Delete log if exist
IF EXIST %~dp0\%computername%-Log4j-Scan.csv DEL /F %~dp0\%computername%-Log4j-Scan.csv

%~dp0\log4j2-scan.exe --all-drives --silent --report-csv --report-path %~dp0\%computername%-Log4j-Scan.csv`

And also i guess something like

`%~dp0\log4j2-scan.exe --all-drives --silent --report-csv --report-path %~dp0\%computername%-%date%-Log4j-Scan.csv

[2021-12-16 17:31] #82 closed

[2021-12-16 17:33] xeraph commented on #62
@tp111 Added timestamp column and don't create empty file any more. Would you test v1.7.0?

[2021-12-16 17:40] jonas-tb opened #102 "Bug: running system legacy OS glibc <2.12"
Hi,

On legacy systems we can't update or install anything, we can't run the software:

[code]

It is possible to compile with glibc 2.11?

[2021-12-16 17:46] xeraph commented on #102
@jonas-tb Would you use existing java binary and JAR version instead?

[2021-12-16 17:47] adammike commented on #86
Looks good on linux, unfortunately does not work on AIX or Mac OS

On MacOS and AIX 7 you that df -T requires a parameter

AIX 7:
[code]

On AIX <7 `df -T` is not a valid option at all.

Perhaps the Java 7 java.nio.file.FileStore class may be more platform agnostic:

https://docs.oracle.com/javase/7/docs/api/java/nio/file/FileStore.html#type()

[2021-12-16 17:48] jonas-tb commented on #102
Doesn't have java app, does that guarantee that we wouldn't have anything to scan this CVE? Correct?

[2021-12-16 17:52] xeraph commented on #86
@adammike Thank you for detail report! My target was JDK6 to cover legacy systems, however, it is not easy.. I'll try your suggestion in the next release.

[2021-12-16 17:57] adammike commented on #97
We see this also. If we kick off the scanner from a local `cmd` shell, it works fine.

If we execute it remotely on the exact same device, it infinitely recurses `Application Data`.

[2021-12-16 18:03] adammike commented on #86
Oh, sorry, I actually replied to the wrong issue. My above response is for the --exclude-fs thread. I will test the permissions stuff.

[2021-12-16 18:05] xeraph commented on #86
@adammike I know.. It's okay. Thank you for contribution :D

[2021-12-16 18:09] xeraph commented on #97
I tried remote scan using my windows file server, but couln't reproduced it.
```java -jar --trace", "\\file\logsample"```

What are the simplest steps to reproduce..?

[2021-12-16 18:10] MrPippin66 commented on #45
Only issue is this option is specific to Linux. It works on AIX if you don't use this new option.

Any plans to allow other Unixes (namely AIX)?

[2021-12-16 18:15] xeraph commented on #45
Yes. I want to support AIX machines. Would you comment terminal output? For example:
[code]

I want to know `System.out.println(System.getProperty("os.name"));` of AIX machines.

[2021-12-16 18:24] xeraph commented on #102
@jonas-tb If you can't run java at all, it is safe.

[2021-12-16 18:29] xeraph commented on #59
@headman78 Would you create new issue for this?

[2021-12-16 18:47] philodendrin opened #103 "Version 2.15.0 JAR Files Detected as Vulnerable in Windows Scanner?"
Why would patched Log4J files be detected as vulnerable with your scanner?

Our example... a fully patched UniFi console running 2.15.0 Log4J core library files is marked as vulnerable with your scanner.

[2021-12-16 18:51] adammike commented on #97
Run via `cmd` locally and it's all good.

Copy the JAR to the machine, and then call this via powershell/wmi  and it loops forever
[code]

[2021-12-16 18:54] jlellis commented on #103
Because there is a newer CVE for Log4J; 2.15.0 does not fully mitigate the original CVE, so it is now considered vulnerable.  2.16.0 is the best release currently.

[2021-12-16 18:57] MrPippin66 commented on #45
If you a mapping of mounted filesystems to type from AIX, you'd need to use the "mount" command.

`# mount
  node       mounted        mounted over    vfs       date        options
-------- ---------------  ---------------  ------ ------------ ---------------
         /dev/hd4         /                jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd2         /usr             jfs2   Aug 06 05:3

[2021-12-16 18:57] jlellis commented on #102
but...consider java and log4j hidden within docker containers, snaps, or other items... or java installed outside of your shell $PATH.  Personal home directories may cause unwanted exposures.

[2021-12-16 18:59] jlellis commented on #102
Also note, if the toolkit in use can produce static binaries, the library dependencies would disappear.  That would make the tool download a bit bigger but much more portable.

[2021-12-16 18:59] MrPippin66 commented on #45
To get the filesystem type in AIX, you need to use the 'mount' command.

`# mount
  node       mounted        mounted over    vfs       date        options
-------- ---------------  ---------------  ------ ------------ ---------------
         /dev/hd4         /                jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd2         /usr             jfs2   Aug 06 05:32 rw,log=/dev/hd8

[2021-12-16 19:00] MrPippin66 commented on #45
`
# mount
  node       mounted        mounted over    vfs       date        options
-------- ---------------  ---------------  ------ ------------ ---------------
         /dev/hd4         /                jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd2         /usr             jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd9var      /var             jfs2   Aug 06 05:32 rw,log=/dev/hd8

[2021-12-16 19:01] MrPippin66 commented on #45
As far as osname, `System.out.println(System.getProperty("os.name"))` outputs 'AIX'

I'm having problems getting the output of 'mount' to post without formatting despite putting it all in a code block

[2021-12-16 19:03] MrPippin66 commented on #45
`
  node       mounted        mounted over    vfs       date        options
-------- ---------------  ---------------  ------ ------------ ---------------
         /dev/hd4         /                jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd2         /usr             jfs2   Aug 06 05:32 rw,log=/dev/hd8
         /dev/hd9var      /var             jfs2   Aug 06 05:32 rw,log=/dev/hd8

[2021-12-16 19:03] philodendrin commented on #103
Ok... thanks for the clarification.

[2021-12-16 19:03] #103 closed

[2021-12-16 19:04] Jwalker107 commented on #88
Older versions of Log4j for testing are available for download from Apache at https://archive.apache.org/dist/logging/log4j/

[2021-12-16 19:05] xeraph commented on #45
I fixed formatting. Thank you very much!

[2021-12-16 19:05] romestylez commented on #82
@xeraph could we get this exit codes ?

Very often the cmd closes but when i check our automation log i see something like error 3 or other codes. I dont know if the scan was run over all files/folders.

Would be very great !

[2021-12-16 19:10] xeraph commented on #82
It may break existing tools, so I need to add another option for new exit code.

I will add new option in the next release.

[2021-12-16 19:10] jlellis commented on #96
Would you introduce yourself?  Sr Linux Sysadmin at Pavlov Media.  Formally a Java developer.

How many server did you scanned or fixed? scanned several hundred, fixed about 20.

Did you completed your mission? How long does it take? Not completed.  The darn issue keeps expanding with more CVEs.

Have you tried other tools? What was the difference? Looked at other tools, the best one requires pyth

[2021-12-16 19:11] MrPippin66 commented on #45
Thanks. FYI...I know another group needs OSX covered in this.

[2021-12-16 19:15] headman78 opened #104 "Exclude WinRAR files from scanning"
What about excluding WinRAR files from scanning? Getting a alot of these from those: Skipping broken jar file \Screenshots.rar ('zip END header not found'). And maybe give the option to exclude any filetype you want like you can do with paths? Thanks!

[2021-12-16 19:16] jlellis commented on #82
You might also want to add rc=3 for vuln found AND permissions issues encountered.  Right now rc=2 hides rc=1.

[2021-12-16 19:29] ChKemper commented on #88
https://github.com/logpresso/CVE-2021-44228-Scanner/pull/105

[2021-12-16 19:34] ChKemper commented on #98
https://github.com/logpresso/CVE-2021-44228-Scanner/pull/105

[2021-12-16 19:37] Daywalker01 commented on #45
Might there be a better way for a Unix/Linux application to check local Filesystems?
Just so we dont need to
1) execute another local binary
2) rely on consistent outputs regardless of the binary version

On Linux reading `/proc/mounts` comes to mind
Themre might something similar on AIX or even BSD ?
Also maxOS maybe?

Unfortunately I only have Linux to play aroud with....

[2021-12-16 19:39] jlellis opened #106 "Feature Request: --json to format output as JSON to stdout for easier use with ansible"
It would be very handy for automation if the output could be formatted as a json document by adding "--json" to the command.

Perhaps something like:
[code]
(apologies for any syntax errors, this is an ad-hoc example.)

[2021-12-16 19:45] jlellis opened #107 "Feature Request: -f file_containing_list_to_scan or read from stdin or file"
The scanner could be more easily leveraged in shell and powershell if it could either accept a list of paths to scan on its command line or its stdin, or could be provided a file with the list of names.

Examples:
  java -jar scanner.jar /path/1 /path2 /path3 ...
  find / -name "*.jar" > /tmp/jars.txt; java -jar scanner.jar -f /tmp/jars.txt
  java -jar scanner.jar -f <(find / -name '*.jar')
  java

[2021-12-16 19:50] jlellis commented on #84
Scanning network drives is always going to be slower than scanning local drives.  We're scanning our 15T network shares, if you think that's bad...

[2021-12-16 19:53] jlellis commented on #81
Its not like running this tool is going to be a long-term, permanent task on any server, either.  If it was running every 5 minutes for eternity... then it would certainly need a tune-up.

If I have a server with performance issues already, I just run the scan with 'nice'...

$ nice java -jar scanner.jar /

[2021-12-16 19:55] nedjitef commented on #82
I already had to write a wrapper for our mkp packages, so check_mk cached plugin output isn't discard after execution. Yes, we use our own because of bakery support and we can't see, how to get the native executable small enough for exchange.checkmk.com

Please don't make it more complicated than necessary.
It all should be fine for automation with #106

[2021-12-16 19:58] romestylez commented on #82
When you cant be sure if the scan really scanned everything its not fine for automation.

[2021-12-16 20:01] nedjitef commented on #82
There's a lot of cases you can't catch in this case.
Please put that information into the output in another form.

[2021-12-16 20:11] tp111 commented on #62
Well, thats great and it works but it still doesn't work when the log-file exists. So if you could add a parameter for append like --report-csv-append or something then every run could be append to the same log-file. Or add the timestamp to the end off the filename so that we get a new nog-file. Best if one could choose.

I guess I will have to create a wrapper script after all.

[2021-12-16 20:19] adammike commented on #82
In my opinion, If the scan ran but encountered permissions problems, that's all that matters. The scan can't be valid/trusted regardless of any other information.

The fact that it found stuff and ran into permissions problems is extraneous.

The four exit codes I spelled out were four paths that I need to explore with automation

1) The scanner is flat-out broken. 🚫
2) The scanner worked, and my

[2021-12-16 20:30] MrPippin66 commented on #45
Daywalker01,

This would be trivial had POSIX covered getting the filesystem type in statvfs(). Otherwise, all the different Unixes vary in how they do this.

In Linux, you CAN get this via an API call, statfs(), which isn't portable.

Yes, they can get the current mount information in linux via /proc/mounts.

Also, not portable to other Unix variants.

[2021-12-16 20:49] MarkSe99 opened #108 "Feature Request: Ignore hidden and System Files"
Ignore hidden/ system/ reparsepoints.

[2021-12-16 20:49] adammike commented on #97
One of our users reached out to me and said this was the cause,

https://docs.microsoft.com/en-us/windows/win32/vss/junction-points

[2021-12-16 20:50] MarkSe99 opened #109 "Feature Request - Ignore OneDrive and Network drives"
When running a scan or fix, ignore *OneDrive* and also ignore any network drives in all drives mode.

[2021-12-16 20:53] MarkSe99 commented on #108
This will speed up scans and remove access denied delays and failures

[2021-12-16 20:56] nedjitef commented on #108
System and hidden files important to check too, even if you can't fix it if you wanted.
But I think, snapshot like concepts like btrfs or VSS might be ignored.

[2021-12-16 21:02] braunr74 opened #110 "Infinite Loop with NTFS junctions"
On some Windows servers I'm experiencing an infinite loop:

c:\Documents and Settings\WINDOWS_ACCOUNT_HERE\AppData\Local\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Application Data\Microsoft\Windows\History\History.IE5

or

c:\Users\XXXXXX\Application Data

[2021-12-16 21:44] DrNeutron commented on #107
@jlellis We are having to do the exact same thing, a list of paths would be a fantastic addition.

[2021-12-16 21:46] pinacoelho commented on #45
No /proc/mount on AIX, and to add insult to injury, every single unix has slightly different formating for the output of the relevant commands (like df, or mount).

[2021-12-16 21:51] pinacoelho commented on #45
Ask them for the following:
- Output of "java -XshowSettings:properties", namely all the 'os.*' properties.
- Output of "df" and "mount" commands + echo $LANG  (At least in Portuguese and French, the roles of '.' and ',' in numbers display are reversed from English)  - They can "fix" the device names & hostnames (if they feel it's sensitive), but they must respect the format.

[2021-12-16 21:57] jonas-tb commented on #102
Exactly, if it were possible to compile with static libraries it would solve!

[2021-12-16 21:59] pinacoelho commented on #45
java -XshowSettings:properties =>
    os.arch = ppc64
    os.encoding = ISO8859-1  <= Depends on language
    **os.name = AIX**
    os.version = 7.2 <= 5.3,6.1,7.1,7.2,7.3

I'm trying to write something for the AIX-specifc stuff.

[2021-12-16 23:30] ozbillwang commented on #88
@ChKemper

Appreciated

[2021-12-17 01:21] ozbillwang opened #111 "it doesn't give any output for some windows instances."
We try to build by ourselves, and generate the exe file.

but we found it doesn't give any output for some windows instances.

![image](https://user-images.githubusercontent.com/8954908/146472860-e37b0115-7a63-41b3-8d54-c313d5b33691.png)

any hints for me?

[2021-12-17 02:40] xeraph commented on #111
@ozbillwang Would you comment output of `.\log4j2-scan.exe --trace --debug --all-drives` ?

[2021-12-17 02:43] xeraph commented on #102
I will try https://www.graalvm.org/reference-manual/native-image/StaticImages/

[2021-12-17 02:58] ozbillwang opened #112 "How to get the file name when detect on potential vulnerable files as well?"
When we found "**potential vulnerable files**", I found the output only gives the number of found, but no file name and its path.

![image](https://user-images.githubusercontent.com/8954908/146481736-3d88e494-3caa-40fb-b80f-6b83820e08a5.png)

I do get file list from "vulnerable files", but not from "Potential vulnerable files"

Any options to enable this feature?

[2021-12-17 03:02] ozbillwang commented on #111
same output

![image](https://user-images.githubusercontent.com/8954908/146482007-df2bdcdb-18ba-4ac4-b3c7-5f53d1803f53.png)

By the way, I build the exe binary in a windows 2016, and found this issue in a Windows 2012

Most windows have no this issue.

[2021-12-17 03:47] xeraph commented on #111
@ozbillwang If you can build your own java code, Try this and comment output:
[code]

[2021-12-17 04:22] Shafeeqts89 opened #113 "Scanner skipping almost all files"
![image](https://user-images.githubusercontent.com/60779307/146488380-388a4420-4e43-4de3-b3c2-cbb16dd56a1f.png)

Almost all files are skipped while scanning, Please have a look!

Thanks!

[2021-12-17 04:24] xeraph commented on #113
@Shafeeqts89 Thats intended behavior. It finds JAR (or WAR, EAR, ..) first and investigate it.

[2021-12-17 04:56] ozbillwang commented on #112
this is the test output

[code]

so from the output, there is no print out for potentially vulnerable files.

But in your code:

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/v1.7.0/src/main/java/com/logpresso/scanner/Log4j2Scanner.java#L944-L962

it sets different output style

if vulnerable files, use `[*]`
if potential files, use `[?]`

Since there is no file to be list when it is po

[2021-12-17 05:38] i286 opened #114 "unable to report-csv or custom csv report path on windows at least"
Hi there, firstly, thanks for this hard work, its great!

I was doing some testing and I am using OpenJDK 11 latest JRE compressed zip file to run the jar file.
Windows 2012 R2 and 2016 are hitting a problem and unable to export CSV, here is the debug log.
Using the exact same scanner version and exact same OpenJDK 11 JRE on Windows 10 tho does not exhibit this issue and I get the expected CSV out

[2021-12-17 05:58] xeraph commented on #114
@i286 If there are no findings, report csv file is not generated. It's very hard to open and check empty report files.
See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/62#issuecomment-996030969

[2021-12-17 06:03] xeraph commented on #106
@jlellis Good idea. I will address this issue in the next release. :D

[2021-12-17 06:04] xeraph commented on #107
@jlellis @DrNeutron I will address this issue in the next release.

[2021-12-17 06:06] i286 commented on #114
well, that one is on me. my brain could be fried.
however need to now see how this is going to go with detecting that a scan was actually ran on the machines (automation tools) as there is no file to pick up if a scan even occured.
It even got me enough that I didnt realise it may not output anything with no findings.

I know you have added a lot recently but for automation tools, is there a way t

[2021-12-17 06:14] i286 commented on #62
I am not sure about your tools you use, but having output to see that a scan even occured would be beneficial.
Surely you are not reading 1000 logs manually individually. Combine them at least

[2021-12-17 06:41] #88 closed

[2021-12-17 06:41] #98 closed

[2021-12-17 07:17] #100 closed

[2021-12-17 07:28] bernysk commented on #94
Tested 2.0.0, works great, thanks!

[2021-12-17 07:56] romestylez commented on #114
Yep we need a file that we can check. Even a empty csv report was ok as you could see the scan was run.

Its not good that there is no outcome at the end.

[2021-12-17 08:30] vongillus commented on #79
I am missing probably something, but how can I enable now NFS scanning? I couldn't find any option.

[2021-12-17 08:31] vongillus commented on #79
@xeraph by the way, thanks a lot for that tool.

[2021-12-17 08:32] xeraph commented on #79
@vongillus You can redefine using `--exclude-fs tmpfs,devtmpfs,iso9660`

[2021-12-17 08:46] vongillus commented on #79
OK, your comment above now makes sense, I need a coffee! Thanks

[2021-12-17 08:49] mwiegartz opened #115 "Scan Log4j 1 Versions does not work"
With parameter --scan-log4j1 I receive following error message:

Error: unsupported option: --scan-log4j1

[2021-12-17 08:51] xeraph commented on #115
@mwiegartz Would you comment full output including your command itself (with options)?

[2021-12-17 08:56] mwiegartz commented on #115
Scanner Version 2.0.0
OS Version Windows Server 2016

`PS C:\Temp> .\log4j2-scan.exe --force-fix --scan-log4j1 C:\
Error: unsupported option: --scan-log4j1
PS C:\Temp>`

[2021-12-17 08:58] Shafeeqts89 commented on #113
Can we scan .js files as well? our security team is pointing to some .js files like "log4javascript.min.js" also. I'm not sure if that is relevant or not.

[2021-12-17 09:02] xeraph commented on #115
I can't reproduce it. Strange..
![image](https://user-images.githubusercontent.com/2782192/146518056-56c204d8-2234-496c-9213-48f0a7d92b32.png)

[2021-12-17 09:07] Daywalker01 commented on #45
current versions of macOS and Linux have `mount -t fstype` argument.
Can someone with AIX and BSD check if this is available there as well?

For Linux: `/proc/mounts` would be possible to use to search for a line containing nfs and use the result of the 2nd column
[code]
macOS (and Linux) hat `mount -t nfs4` with the mount point on the 3rd column
(slight Disadvantage here: you need to know the fst

[2021-12-17 09:12] xeraph commented on #113
@Shafeeqts89  That is not relevant at all.

[2021-12-17 09:12] #113 closed

[2021-12-17 09:12] xeraph commented on #110
@braunr74 Would you test v2.1.0 release?

[2021-12-17 09:14] xeraph commented on #107
@jlellis @DrNeutron Would you test v2.1.0 release? It support multiple target paths.

[2021-12-17 09:16] xeraph commented on #102
@jonas-tb Would you test v2.1.0 release? This image is built using `-H:+StaticExecutableWithDynamicLibC` option.

[2021-12-17 09:17] xeraph commented on #97
@ashvgk @adammike Would you test v2.1.0 release? It changed windows junction detect method.

[2021-12-17 09:18] #79 closed

[2021-12-17 09:20] xeraph commented on #45
@MrPippin66 @pinacoelho @Daywalker01 Would you test v2.1.0 release? I changed file system type detection method based on JDK7.

[2021-12-17 09:22] xeraph commented on #114
@i286 @romestylez I reverted last change. Empty report file will be generated since v2.1.0.

[2021-12-17 09:30] Daywalker01 commented on #45
@xeraph Please dont exclude `nfs` mounts per default! This is crucial for us, and would break reliability. We want to exclude nfs on some servers as there are only media files for example and no application data. But we would NOT exclude nfs by default.

But a have gotten another request I'm not sure how to implement in a simple way...
The feature to not cross filesystem boundaries.
(named `-mount

[2021-12-17 09:38] ashvgk commented on #97
Tried new version, but still same -

Logpresso CVE-2021-44228 Vulnerability Scanner 2.1.0 (2021-12-17)
Scanning drives: C:\

Running scan (8s): scanned 3479 directories, 3555 files, last visit: C:\Documents and Settings\Administrators\Local Settings\Application Data\Application Data\Application Data\Application Data\Application Data\Microsoft\Windows\Caches
Running scan (18s): scanned 7652 directo

[2021-12-17 09:43] tp111 commented on #115
How should this parameter "--scan-log4j1" be used? I mean, when I use it, does it only scan for Log4j1 and not Log4j2? Wouldn't it be nice to do both at the same time? Why just scan for log4j1?

[2021-12-17 09:44] xeraph commented on #115
@tp111 Scan both log4j1 and log4j2 vulnerabilities if you specify `--scan-log4j1` option. :D

[2021-12-17 09:53] NineOfSeven commented on #94
works 4 me thx

[2021-12-17 09:53] #94 closed

[2021-12-17 09:58] tp111 commented on #114
Why would you need an empty report for automation? There are exit codes you can use for that!

[2021-12-17 09:58] tp111 commented on #114
Why would you need an empty report for automation? There are exit codes you can use for that! When you run manualy then you see the output in cmd.

[2021-12-17 09:59] romestylez commented on #114
Exit codes arent working very well and i dont want to change all the scripts we made again just because there is no more logfile.

[2021-12-17 10:00] xeraph commented on #114
@tp111 I will recommend my other tool for report post processing. Just need some time to document..

[2021-12-17 10:01] tp111 commented on #114
Oh no! Please! At least creata a parameter for it so that everyone can choose. "--log-empty" or "--no-empty-log".

[2021-12-17 10:02] IanSJones commented on #110
The issue appears to be that if the scanner is executed remotely then the permissions are higher than if it is run locally.
When launched via PSExec, Invoke-Command or Ansible (WinRM) then the command can access  c:\Documents and Settings

Invoke-Command -ComputerName <server>  -Credential <user> -ScriptBlock {&dir "C:\Documents and Settings\.NET v4.5\AppData\Local\Application Data"} will work

In

[2021-12-17 10:02] xeraph commented on #114
@tp111 Okay. then I will add another option.

[2021-12-17 10:04] tp111 commented on #114
I like this tool and really don't think that Ineed one more. Just please create parameters for this type of stuff so that everyone can choose how they like to run it.

[2021-12-17 10:07] tp111 commented on #114
And I don't want to change mine because there are empty log-files :)

[2021-12-17 10:14] romestylez commented on #114
You dont need to change yours as you had to work with empty log files from the beginning like everyone ;) The new option forces everyone to edit the scripts.

[2021-12-17 10:17] tp111 commented on #114
Well, thankfully we will get a option to choose :)

[2021-12-17 10:25] farhan-ejaz commented on #115
Moreover the fix does not do anything for log4j1 version

![image](https://user-images.githubusercontent.com/19402644/146530070-44f30617-a7ce-4c40-89a2-ecc7030727d1.png)

[2021-12-17 10:29] xeraph commented on #114
@tp111 Released new v2.1.1 with `--no-empty-report` option. It also supports new exit code!

[2021-12-17 10:30] IanSJones commented on #110
Thanks for the workaround code - it spends about 90 secs lost in c:\Documents and Settings then moves on, improving the time it takes to complete from 3hr 15m to 10m

[2021-12-17 10:31] romestylez commented on #114
Is there a overview which exit codes are implemented exactly ?

[2021-12-17 10:32] xeraph commented on #55
@GorCed @highqualitypcs  Would you test new v2.1.1 release? It will scan only local drives by default with `--all-drives` option.

[2021-12-17 10:35] xeraph commented on #114
@romestylez
As you can see https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.1.1
* -1 failed to run
* 0 for clean (No vulnerability)
* 1 for found
* 2 for found but some errors
* Use `--old-exit-code` for legacy automation.

[2021-12-17 10:38] xeraph commented on #110
@IanSJones Wow.. pretty much time savings!

[2021-12-17 10:40] IanSJones commented on #110
yeh - we're just compiling an exe and will be running this against our 8,000 servers

[2021-12-17 10:43] xeraph commented on #109
@MarkSe99 Would you test v2.1.1 release? It ignores all network drives with `--all-drives` option.
Btw, You can ignore `OneDrive` using `--exclude-pattern OneDrive`

[2021-12-17 10:50] xeraph commented on #115
@farhan-ejaz Yes it does. Since it's just potentially vulnerable, I didn't eliminated JMSAppender yet. Need to collect more opinions.

[2021-12-17 10:51] xeraph commented on #94
@bernysk @NineOfSeven Thank you for test report!

[2021-12-17 10:56] i286 commented on #114
Because it allows for much more automation and reporting at any point after the scans, set up additional scans based on the results, frequency and more. It also allows post scan ability to definitively identify an endpoint has performed the scan, even a week later on, sure can get that from the action status as well a week later on, no problem but this allows extra options and validation.

[2021-12-17 10:59] i286 commented on #114
Your work and speed of fixing and enhancing this application are commendable.
I hope it really works in your favour, I dont know anyone around me in IT that has not heard of your work :)

Anyways thanks again and I will close this issue, best of all worlds with the option as everyone is picky with their preferences, which is fine, there is lots of ways to do things, so it is important and there is

[2021-12-17 10:59] #114 closed

[2021-12-17 11:22] tp111 opened #116 "Do we once again need to use --report-csv together with --report-path"
In an erlier version --report-csv was not needed wen using --report-path. Or am i dreaming?

[2021-12-17 11:37] tp111 commented on #116
Just forget about that. It was just my bad. --report-csv is not needed wen using --report-path.

[2021-12-17 11:37] #116 closed

[2021-12-17 11:50] GorCed commented on #55
Works perfect.
You are an angel. (my powershell script gets shorter for every release :) )

[2021-12-17 12:02] jonas-tb commented on #102
I tried it with versions 2.1.0 and 2.1.1 and the error continues. Realized it still shows lib dynamics.

[code]

[code]

[2021-12-17 12:04] phpub opened #117 "Powershell remote scan"
Hallo!
Although symbollink is activated, there is a permanent loop when it is executed.
Is that a bug with Powershell or can someone give me a tip.
Thanks.

log4j2-scan version:
Powershell Version: log4j2-scan 2.1.1 (Windows x64)
Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      19041  1320

Invoke-Command -Session $Session -ScriptBlock {
            try  {

[2021-12-17 12:07] tp111 opened #118 "Help read/iterpret output"
So when I scan inkluding --scan-log4j1 I get this output. How shoul I interpret when same file, like "client.jar" is MITIGATED & POTENTIALLY_VULNERABLE at the same time. Also what about "bookitboot.jar" "N/A - potentially vulnerable","POTENTIALLY_VULNERABLE"

[code]

[2021-12-17 12:11] xeraph commented on #118
Maybe bug.. I will check it soon.

[2021-12-17 12:16] pitius2k21 opened #119 "When executed remotely, the hostname is not written into the report file"
Executing on RHEL6-7-8 as a normal user with Sudo remotely, the hostname is missing from the report file.
When executing locally, no matter if a normal user with Sudo or directly as root, the hostname is in the report file.

Is it just me or given circumstances that prevents passing the hostname information or could be a bug?

Please advise

Version used, 2.1.1 both JAR and Linux native(depending

[2021-12-17 12:18] xeraph commented on #97
@ashvgk Oops.. Even though I patched junction problem, it is reproduced on remoting.. I'll debug it.

[2021-12-17 12:28] vongillus opened #120 "Even if NFS is ignored, symbolic links to NFS are scanned"
Would it be possible to have an option which would prevent following symbolic link? Because even if NFS mounts are excluded, one has to explicitly exclude also symbolic links which would point to a NFS share.

[2021-12-17 12:33] B0R0R0B opened #121 "VMware VCenter compatible. Confirm?"
Hi,

I've ran the fix utility on some of our Customer **Windows** VMware VCenter servers and have noticed upon restarting the services via the proper VMware command "service-control --start --all" this does not finish successfully. It seems to hang when restarting the vmon service and then timeout.

When looking in services.msc I can see all the services are started. But VMON is not listed in Wind

[2021-12-17 12:34] xeraph commented on #120
@vongillus You can use `--no-symlink` option to ignore scan for all symbolic linked files.

[2021-12-17 12:36] xeraph commented on #121
Since I'm not vmware developer, I cannot confirm your request. You would compare patched version and backup version.

[2021-12-17 12:44] B0R0R0B commented on #121
When you run the tool with --fix   and it finds a Vulnerable file. Does it Fix the file then, or at the end? as I have just closed it from running before it got to the end and said about Fixed etc. But not sure if it has actually already replaced the files?

[2021-12-17 12:58] xeraph commented on #118
@tp111 Would you unzip client.jar and upload following files?

META-INF/maven/org.apache.logging.log4j/log4j-core/pom.properties
META-INF/maven/log4j/log4j/pom.properties

[2021-12-17 13:05] stania commented on #119
Can you describe the way how you run scanner remotely?

[2021-12-17 13:14] B0R0R0B commented on #121
Can you please confirm. When using --fix   - should the tool automatically create .bak file of vulnerabable .jar files?

As I dont have any .bak files in the folders ?

I have ran the tool again and it just says (mitigated)  - There should be some .bak files ?

[2021-12-17 13:15] 66Gurke66 opened #122 "If Blank is in path - it does not work"
If I'd like to scan "c:\Program Files\" an error apears: "unsupported option: C:\Program"
Maybe all Paths which contains an Blank sign in the string would be ignored?

[2021-12-17 13:18] rgallobr opened #123 "Hang in directory with tons of files"
Running version 2.1.1 or older (java) in a Linux box I faced an issue of hang in script. Look close, it was caused because directory has tons of files. Application try to enummerate it and never finish.

[2021-12-17 13:23] rgallobr commented on #123
Threads using 2.1.1

"main" #1 prio=5 os_prio=0 tid=0x00007ff5c004b800 nid=0x1c209 runnable [0x00007ff5c7cc2000]
   java.lang.Thread.State: RUNNABLE
	at java.io.UnixFileSystem.list(Native Method)
	at java.io.File.normalizedList(File.java:1153)
	at java.io.File.listFiles(File.java:1246)
	at com.logpresso.scanner.Log4j2Scanner.traverse(Log4j2Scanner.java:837)
	at com.logpresso.scanner.Log4j2Scanner.

[2021-12-17 13:28] xeraph commented on #123
@rgallobr It may suffer performance issue if directory has too many files. However, it cannot be addressed by any other ways.

[2021-12-17 13:30] xeraph commented on #122
Specify path argument like this:
[code]

[2021-12-17 13:33] xeraph commented on #97
@ashvgk Would you test v2.1.2? I reproduced remote scanning issue and confirmed patch in my environment.

[2021-12-17 13:34] xeraph commented on #117
@phpub Would you test v2.1.2 release?

[2021-12-17 13:36] xeraph commented on #92
@tomacco81 Would you test v2.1.2 release? it will return exit code 2 for this case.

[2021-12-17 13:36] rgallobr commented on #123
@xeraph maybe limit amount of time for thread (need to execute traverse in a separate thread). If it hangs for x seconds (flag) abort / skip this directory.

[2021-12-17 13:38] xeraph commented on #108
@MarkSe99 reparsepoint is ignored in v2.1.2 release. However, IMHO, hidden or system files should be scanned.

[2021-12-17 13:38] #108 closed

[2021-12-17 13:38] wimb0 commented on #117
I am having the exact same issue while scanning with v2.1.2.

Endless Application Data in Application Data folders as last visit.
Scan keeps running forever. (On the host it takes +-115 secconds, and via Powershell it takes forever)

[2021-12-17 13:39] vongillus commented on #120
OK, I tried that option before but apparently it was still going on NFS though. I have to check again.

[2021-12-17 13:41] xeraph commented on #81
My opinion is 'simple code is more important for this case'.

[2021-12-17 13:41] #81 closed

[2021-12-17 13:42] #122 closed

[2021-12-17 13:45] xeraph commented on #123
@rgallobr
Recommend to perform the two scan processes in parallel:
1. Scan with --exclude heavy_directory_path
2. Scan with heavy_directory_path

Java API itself is blocked, concurrent thread does not help in this case.

[2021-12-17 13:48] xeraph commented on #84
Maybe this is duplicate of #97 . I will close this issue.

[2021-12-17 13:48] #84 closed

[2021-12-17 13:52] jgstew commented on #123
I have also had this problem reported to me. The solution for now is to use `--exclude heavy_path` as mentioned. Not sure if any other solution is possible.

The specific case that was mentioned causing the problem is a folder in which tons of files were being created and deleted continuously in addition to folders with tons of files.

I do wonder if in the case of files being created and deleted

[2021-12-17 13:53] jgstew commented on #120
"You can use `--no-symlink` option to ignore scan for all symbolic linked files."

I wasn't sure what this option did. Does it mean it won't follow symlinks at all? That is what I was hoping it did, but I wasn't sure from the description.

[2021-12-17 14:01] pitius2k21 commented on #119
Hi,

Yes, sure.

From a jump server through ssh. A small almost one-liner script has been
created which then passed to ssh to execute it.

the script itself (log4j-scan.sh):
############################################
#!/bin/sh

for i in $(ls / | sed /proc/d | sed /sys/d); do sudo java -jar
/home/userid/logpresso-log4j2-scan-2.1.1.jar --report-csv --no-empty-report
/$i; done
#####################

[2021-12-17 14:03] rgallobr commented on #123
I am using it to scan lots of servers using ansible tool (automation). In this case, I dont have a way to "exclude" manually all possible paths in all clients x servers. It is not viable.
Just when I hit a directory like this I have a hang in automation.

[2021-12-17 14:06] DrNeutron commented on #107
Tested here on RHEL 7.x Linux, works as expected.  Thanks.

[2021-12-17 14:06] xeraph commented on #120
You can see `Skipping symlink: /path/to/symlink` message if `--trace` is enabled.

[code]

without `--no-symlink` option: (symlink.jar detected)
[code]

with `--no-symlink` option: (symlink.jar not detected)
[code]

[2021-12-17 14:12] xeraph commented on #121
@B0R0R0B If you don't have any .bak file, scanner did not run fix.

[2021-12-17 14:15] xeraph commented on #121
Scanner just check JndiLookup.class existence in JAR file and displays (mitigated). It can be already patched by vmware or patched by scanner.

[2021-12-17 14:20] xeraph commented on #123
Sorry. For just timeout handling, scanner code would be quite complicated. Single thread codebase cannot handle timeout since API does not return..

[2021-12-17 14:21] B0R0R0B commented on #121
I was being blind. the .BAK files are there

Ok I have tested and it appears to work on VCenter Windows. I think it was one Server where the vmware services just didnt start first time. I have ran it again on another site and the services have started and it is working.

On the initial link I sent though the VCenter Virtual Appliance (Linux) instructions seem alot more in depth.

You may want to c

[2021-12-17 14:21] jgstew opened #124 "Maximum Supported JRE version?"
From [the release notes for v2.1.0](https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.1.0) I see: "From now on, JDK7 is the minimum supported version."

What is the maximum supported JRE version for the utility? I couldn't get the build to succeed with Temurin JRE 16+ ... the highest LTS JRE I could build with was Temurin JRE 11. Which is reflected here: https://github.com/logpre

[2021-12-17 14:22] vongillus commented on #120
OK, I made again a test and for some reason it's not ignoring all symlinks:

[code]

In / I have the following symlinks:

![image](https://user-images.githubusercontent.com/80924891/146557769-5fd87ab1-0309-49e2-a8ff-e8e8559af929.png)

So the scanner is going into /asm which is a symlink to the NFS mount...

`Scan error: '/asm/tmp/jre-6u38-ea-bin-b04-linux-i586-31_oct_2012.jar (Permission denied)'

[2021-12-17 14:25] xeraph commented on #124
Java code itself is compatible with JDK 17 or above. What was the error message?

[2021-12-17 14:31] xeraph commented on #117
@wimb0 Thank you for test report!

[2021-12-17 14:31] #117 closed

[2021-12-17 14:33] #38 closed

[2021-12-17 14:34] #55 closed

[2021-12-17 14:38] jgstew commented on #124
"Java code itself is compatible with JDK 17 or above."

That is what I assumed / figured.

Let me look at this again. I was running the builds through GitHub actions locally using `act` which might be the problem.

[2021-12-17 14:42] jgstew commented on #124
Yep, it was my bad. Worked through github action directly.

This PR causes the automatic build testing to use v8 and v17 to test the highest and lowest supported JREs for the utility that are provided in GitHub action runners: https://github.com/logpresso/CVE-2021-44228-Scanner/pull/125

[2021-12-17 14:46] vongillus commented on #120
I see also with lsof that it's going into that path. If I exclude /asm on the command line, then it's not going into /asm nor /asmnobackup. And funny enough, if I create an additional symlink /test to the NFS mount, it's also not going into it. Quite strange, I don't really get what's happening there.

[2021-12-17 14:46] tomacco81 commented on #92
Great, works fine.
Thank you for your excellent work!

[2021-12-17 14:47] #92 closed

[2021-12-17 14:50] jlellis commented on #120
Are you running the scan as root, or as a non-root user?  does that non-root user have read access to the nfs mount that actually contains the jar file?

[2021-12-17 14:51] xeraph commented on #104
@headman78 Would you try v2.1.3 release?

[2021-12-17 14:52] xeraph commented on #119
@pitius2k21 Would you test v2.1.3 release?

[2021-12-17 14:54] vongillus commented on #120
I am running as root, but root has not all rights. So if a file is not readable by all users, root won't be able to read it.

[2021-12-17 14:57] xeraph commented on #92
@tomacco81 Thank you for test report!

[2021-12-17 14:59] xeraph commented on #121
@B0R0R0B Wow.. Thank you for detail explanation!

[2021-12-17 15:00] #121 closed

[2021-12-17 15:01] xeraph commented on #124
@jgstew Great job! Thank you for contribution.

[2021-12-17 15:01] #124 closed

[2021-12-17 15:01] axel3rd opened #126 "Why stopping application before patching (Linux / macOS) ?"
In the documentation:

On Windows, I can understand, files lock exist on *jar* when JVM is running.

But on Linux and/or macOS, we can fix *jars* when web app JVM is running and just restart the app ? Are there really some known impacts in this case ?

[2021-12-17 15:04] xeraph commented on #126
@axel3rd As you say, file lock is not an issue on Linux and/or macOS. However, application should be restarted to ensure patched JAR version is loaded into memory.

[2021-12-17 15:07] axel3rd commented on #126
Fully agree about the restart. But perhaps we can dissociate OS use case in the documentation ? (I can provide the PR)

[2021-12-17 15:08] jlellis commented on #124
I've been doing all of my build/test with openjdk 8, as that's the version most often required by the various applications we're  using here.   If the Scanner stops running on 8, I'll be in a world of hurt.

[2021-12-17 15:10] xeraph commented on #124
Scanner support all jdk7 or above versions. :D

[2021-12-17 15:10] tp111 commented on #118
[bookitboot.jar.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7735980/bookitboot.jar.zip)
Here you go but there are no folders in META-INF folder.

[2021-12-17 15:10] pitius2k21 commented on #119
Same result unfortunately.

[2021-12-17 15:11] IanSJones commented on #110
Update - there is an official update out that avoids this "ReparsePoint" - better to use that than the fix above.

[2021-12-17 15:12] jlellis commented on #120
Ok, I could see that happening if your host is mounting the NFS share with root-squash and a different owner UID than root.  You'd need to run the scans on the NFS server directly, to have confidence those files are not vulnerable.

[2021-12-17 15:17] vongillus commented on #120
Just to be clear, at the moment I just want to run the scan excluding NFS shares completely. And I used the option --no-symlink to also prevent the scanner from following symlinks going to NFS shares. But somehow this doesn't work, it's still going into NFS.

[2021-12-17 15:19] xeraph commented on #119
@pitius2k21 Curious.. Could you read /etc/hostname file?

[2021-12-17 15:20] fbruch opened #127 "Option to provide report directory, not the full path (instead use the generated filename)"
The generated report filename is fine. We would like to use the filename and just configure a report directory, not a full report file path.

Suggestion ist to provide another argument --report-dir for this.

An implementation is ready and on it's way to a PR...

Thanks.

[2021-12-17 15:22] xeraph commented on #126
@axel3rd Sure. Go ahead!

[2021-12-17 15:29] pinacoelho commented on #119
@xeraph /etc/hostname and $HOSTNAME aren't standard.  I've just submited a PR that should run on windows (didn't touch that side) and all unix machines (POSIX).

[2021-12-17 15:31] headman78 commented on #104
I did and still getting this:
Logpresso CVE-2021-44228 Vulnerability Scanner 2.1.3 (2021-12-17)
Scanning directory: c:\temp\rar
Skipping broken jar file c:\temp\rar\Screenshots.rar ('zip END header not found')

Scanned 1 directories and 1 files
Found 0 vulnerable files
Found 0 potentially vulnerable files
Found 0 mitigated files
Completed in 0.02 seconds

[2021-12-17 15:39] highqualitypcs commented on #55
Works great! Thank you!

[2021-12-17 15:45] phpub commented on #117
![image](https://user-images.githubusercontent.com/63844413/146570626-447913cb-0855-466c-b91f-cb89e1e2d3fc.png)

working :) Thanks

[2021-12-17 16:04] #126 closed

[2021-12-17 16:07] #127 closed

[2021-12-17 16:31] jgstew commented on #120
I am also trying to exclude all possible network shares as well as certain other items. The base command I'm using is:

`/bin/sh -c "cd /tmp && ./log4j2-scan --scan-log4j1 --no-symlink --no-empty-report --exclude-fs nfs,nfs3,nfs4,cifs,tmpfs,devtmpfs,iso9660 --exclude-config '/path/to/exclusion/file.txt' / > '/tmp/results_log4j2scan.txt'"`

But I am also automatically building an exclude file to co

[2021-12-17 16:39] lmalmeida opened #131 "Shaded log4j2"
Something I would like to raise: Shaded log4j2 instances.
A (incomplete) example is in https://github.com/lmalmeida/log4j2.shaded (doesn't actually work, I'm not an expert on the maven-shade plugin).

It detects as mitigated, but the problematic file was relocated to a distinct location/package.

[2021-12-17 16:45] xeraph commented on #123
@rgallobr Just realeased v2.1.4. You can use `-f` option to troubleshoot this case.

[2021-12-17 16:45] xeraph commented on #107
@jlellis Would you test v2.1.4 release? It support `-f` option.

[2021-12-17 16:50] xeraph commented on #104
@headman78 Would you upload Screenshots.rar or comment first 16 bytes (in HEX) of Screenshots.rar?

[2021-12-17 17:03] xeraph commented on #120
I will try to reproduce this issue in the next release.

[2021-12-17 17:13] headman78 commented on #104
![image](https://user-images.githubusercontent.com/13760604/146582361-e7f25b3f-716f-4cf6-9597-644deef329c6.png)
@xeraph Will this do?

[2021-12-17 17:20] swisspark commented on #119
You could use `uname -n` compatible with mostly Unix system.
Except for AIX when it's in cluster, on that if the `/usr/es/sbin/cluster/utilities/get_local_nodename` is present you can retrieve the hostname using it, otherwise the `uname -n`.

[2021-12-17 17:22] rgallobr commented on #123
@xeraph I will check

[2021-12-17 17:23] rgallobr commented on #123
Just to share with you guys:
Total files in directory: 14703635  (yep 14 Millions)
Start time: 1639757997
End Time: 1639761563

[2021-12-17 17:29] jgstew opened #133 "automate build of JAR and binaries using GitHub Actions"
It should be possible to automate the build of the scan utility JAR file using a GitHub action.

Then from there it should be further possible to automate the creation of the binary files for:
- Windows x64
- Windows x32
- Linux x64
- Linux x32
- MacOS x64
- MacOS x32

Through github actions / github hosted runners since github provides one of each.

Then it should be possible to set this github a

[2021-12-17 17:30] jgstew commented on #133
I have done related work with GitHub actions before and am looking into this. I can't make any promises though.

[2021-12-17 17:34] pitius2k21 commented on #119
@xeraph 2.1.4 seems to be working fine.

[2021-12-17 17:35] greg-michael opened #134 "Return codes for execution"
Can you include what the expected return codes/values are for the various outcomes of a scan run?
For example: 0 --> no vulnerable files found, no potential vulnerable files found

Thanks!

[2021-12-17 17:40] jgstew commented on #133
### Related:

- https://github.com/marketplace/actions/setup-graalvm-action
- https://github.com/marketplace/actions/setup-graalvm-environment

[2021-12-17 17:44] jgstew commented on #134
Do you mean in the README.md in the github project? or through a `--help` command parameter?

The exit code info is currently only in the release notes where it was added here: https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.1.1

[2021-12-17 17:45] ptkelly13 opened #135 "IBM i: /QOpenSys automatically being excluded"
![image](https://user-images.githubusercontent.com/29577026/146586275-d6116d4c-f77e-4e6d-965a-f119b6841a24.png)
java -jar /home/q1wwt/logpresso-log4j2-scan-2.1.2.jar /QOpenSys
Logpresso CVE-2021-44228 Vulnerability Scanner 2.1.2 (2021-12-17)
Scanning directory: /QOpenSys (without /QOpenSys)

Scanned 0 directories and 0 files
Found 0 vulnerable files
Found 0 potentially vulnerable files
Found 0 mit

[2021-12-17 17:48] MarkSe99 opened #136 "Issue: Some files aren't mitigated during fix"
Is it possible to audit why they aren't being fixed? Could it be if a file is read only? Or something else, can you audit why that is in the --fix mode?

[2021-12-17 17:59] xeraph commented on #104
@headman78 Oh.. My version is 52 61 72 21 1A 07 01 00. I will only match first 6 bytes. Thank you for information!

[2021-12-17 18:04] xeraph commented on #135
@ptkelly13 Would you retry with `--exclude-fs none` option?

[2021-12-17 18:06] xeraph commented on #134
@greg-michael  Added https://github.com/logpresso/CVE-2021-44228-Scanner/blob/main/README.md#exit-code-for-automation

[2021-12-17 18:07] greg-michael commented on #134
Awesome. Thanks!

From: Yang, BongYeol (xeraph) ***@***.***>
Sent: Friday, December 17, 2021 12:07
To: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Greg Michael ***@***.***>; Mention ***@***.***>
Subject: Re: [logpresso/CVE-2021-44228-Scanner] Return codes for execution (Issue #134)

This email did not originate from Canadian Pacific. Please exercise caution with any links or attachments.
___

[2021-12-17 18:10] xeraph commented on #133
Great idea. I signed all windows executables to ensure integrity. However, it would reduce workload if Linux and MacOS binaries are automatically released.

[2021-12-17 18:18] xeraph commented on #136
@MarkSe99
I need more details. Is log4j2 files or log4j1 files? Did you see any error messages?
log4j1 fix is not supported yet.

[2021-12-17 18:25] xeraph commented on #131
Understood what you are saying. However I wonder if it really used in common applications..

[2021-12-17 18:34] fernandomt08 opened #137 "We have observerd high CPU usage. Is there any way to pass a parameter and set a limit on how much cpu the tool can consume?"

[2021-12-17 18:42] xeraph commented on #137
It may depends on what operating system and version you are using.

[2021-12-17 18:43] jlellis commented on #137
I'd use the OS to do that:
On Linux/BSD/Etc:
[code]

On windows (untested):
[code]

Reference: [https://stackoverflow.com/questions/4208/windows-equivalent-of-nice](https://stackoverflow.com/questions/4208/windows-equivalent-of-nice)

[2021-12-17 18:47] xeraph commented on #119
@pitius2k21 Thank you for test report!

[2021-12-17 18:47] #119 closed

[2021-12-17 18:51] xeraph commented on #123
@rgallobr Wow... I can't believe it. It means 14 million files in 1 hour.

[2021-12-17 18:53] #123 closed

[2021-12-17 19:09] InsomniacSoftware opened #138 "2.2.0 Any JAR is missing"
In the Readme, there is a link to a 2.2.0 Any OS JAR but it is 404.
In the Releases, there is a 7z that appears to be replacing the JAR but inside that archive is an EXE.

Can we get just the JAR file posted?

[2021-12-17 19:16] xeraph commented on #138
@InsomniacSoftware OMG.. my mistake. I uploaded 2.2.0 JAR file.

[2021-12-17 19:17] pinacoelho commented on #45
I would exclude anything cluster/non-local by default, then let users allow specifically with --scan-nfs --scan-gpfs --scan-cifs
The reason is that I don't want hundreds of machines simultaneously going down the network shares.  The network shares can then be scanned from ONE specific machine.

[2021-12-17 19:22] #138 closed

[2021-12-17 19:23] pinacoelho opened #139 "Facilitate exclusions by leveraging the "find" command"
On unix systems: Instead of using java to scan the filesystem, use "find", launched from java, to enumerate the files you're going to scan.

Advantages:

- Doesn't follow symlinks
- Can reliably stop at filesystem boundaries (-xdev)
- Will reduce the memory consumption of the java process
- All unixes have it

[2021-12-17 19:24] ptkelly13 commented on #135
That took care of it.  Thanks much!

![image](https://user-images.githubusercontent.com/29577026/146597218-dd6d65a3-b80c-477c-bfa9-5d0d76ef9213.png)
java -jar /home/q1wwt/logpresso-log4j2-scan-2.1.2.jar --exclude-fs none  /QOpenSys
Logpresso CVE-2021-44228 Vulnerability Scanner 2.1.2 (2021-12-17)
Scanning directory: /QOpenSys

Scanned 11516 directories and 107782 files
Found 0 vulnerable files
Fou

[2021-12-17 19:29] ptkelly13 commented on #135
--exclude-fs none resolves.

[2021-12-17 19:29] #135 closed

[2021-12-17 20:43] lmalmeida commented on #131
Completely agree. My random example is proof of that. Shading it is not trivial.
Googling there seem to be a few utilities to support it (ex: https://github.com/edwgiz/maven-shaded-log4j-transformer ), so it should be used somewhere.

And a simple search for JndiLookup will also trigger false positives (ex: https://github.com/getsentry/sentry-java/blob/v1.7.4/sentry/src/main/java/io/sentry/config/

[2021-12-17 20:45] ajb2 opened #140 "Patched files are larger than original."
Why is this?

[2021-12-17 23:07] strawgate opened #141 "Customize backup extension name"
We want to use the presence of a backed up jar file to know that it has been remediated already via other tools. The problem is `.bak` is a ubiquitous extension and may not actually indicate the jar next to it was remediated, it could have been created for any reason. Allowing customization would allow for us to save the backup file as something like `.log4j.bak`

[2021-12-17 23:23] jgstew commented on #96
- Would you introduce yourself?
  - I'm a software developer and automation engineer working for the endpoint management product HCL BigFix. I am trying to contribute back to this project as I can as we work on content to automate it.
- How many server did you scanned or fixed?
  - Helping our customers scan thousands of systems at once by running this utility through BigFix.
- Did you completed y

[2021-12-17 23:33] jgstew commented on #137
It would be useful if there was some way to have the scan utility use like 10% of a single CPU core or similar to be self limiting in terms of both CPU and diskIO. This is especially important when running the scan on many virtual machines on the same host at once since they can all end up hitting the same CPU and Disks at the same time.

We do recommend staggering the scan when deploying it (or r

[2021-12-17 23:38] jgstew commented on #141
I agree, that makes sense.

[2021-12-17 23:39] jgstew commented on #136
@MarkSe99 can you provide an example command you are running? are you using `--fix --force-fix` ?

[2021-12-17 23:40] jlellis commented on #140
There was a discussion about this yesterday, see [Issue #93](https://github.com/logpresso/CVE-2021-44228-Scanner/issues/93)

[2021-12-17 23:47] jgstew commented on #53
This was delivered.

[2021-12-18 00:13] jgstew commented on #93
This would be a good enhancement for future consideration, potentially even compressing mitigated files that can be compressed.

[2021-12-18 00:17] strawgate commented on #106
Big fan of this idea -- CSV is not really a "standard" format and lots of tools don't have built-in CSV formatters

[2021-12-18 03:09] xeraph commented on #141
I'm considering backing up all files in one ZIP file for convenience.

[2021-12-18 03:15] xeraph commented on #139
I will document how to use find command with log4j2-scan `-f` option. :D

[2021-12-18 04:00] strawgate commented on #141
I think that would have the opposite impact and would make identifying which jar to restore more difficult so hopefully that would be optional?

[2021-12-18 04:33] xeraph commented on #141
Sure :D

[2021-12-18 12:38] WScottHicks opened #142 "Log4j 2.17.0 released to fix cvss 7.5 denial of service (CVE-2021-45105) in 2.16.0"
https://logging.apache.org/log4j/2.x/security.html

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105

[2021-12-18 12:44] xeraph commented on #142
What the f*ck.. T.T... Thank you for information @WScottHicks

[2021-12-18 12:49] latency0ms opened #143 ".jar Files not being fixed with --fix parameter"
Using the --fix parameter is not working for the .jar file below:

`C:\Program Files\Microsoft SQL Server\150\DTS\Extensions\Common\Jars\log4j-1.2.17.jar		1.2.17	POTENTIALLY_VULNERABLE
`

The output of log4j2-scan.exe (Ver. 2.2.0) looks like this:

[code]

Every hint is highly appreciated.

Thank you.

[2021-12-18 12:53] xeraph commented on #143
@latency0ms `--fix` option does not support log4j1 fix yet. (only for log4j2) It will be addressed soon..

[2021-12-18 12:55] latency0ms commented on #143
Got that @xeraph, thanks for your feedback! Can you approximate the time horizon of the release?

[2021-12-18 12:56] xeraph commented on #143
@latency0ms Implementation itself does not takes time. Just I can't ensure it is safe to remove JmsAppender and SocketServer.. Anyway, I will release in 4 hours.

[2021-12-18 12:59] latency0ms commented on #143
What does that mean?

[2021-12-18 13:22] xeraph commented on #142
@WScottHicks Would you test v2.2.1 release?

[2021-12-18 13:23] xeraph commented on #104
@headman78 Would you test v2.2.1 release?

[2021-12-18 14:02] WScottHicks commented on #142
@xeraph, everything looks good so far.  I'm a fairly small time user so I could have missed something.  Thanks for all you've done.

[2021-12-18 14:03] xeraph commented on #142
@WScottHicks Thank you for test report!

[2021-12-18 14:19] latency0ms opened #144 "Scan on Ubuntu 20.04.3 endless loop"
`./log4j2-scan -f /dev/mapper/ubuntu--vg-ubuntu--lv/ --silent --scan-log4j1 --scan-logback`

Results in a never ending scanning loop.

[2021-12-18 14:21] xeraph commented on #144
@latency0ms Remove `--silent` option and add `--trace --debug` option, then you can see where scanner visits. If scanner visits infinitely, comment some errornous output.

[2021-12-18 14:21] latency0ms commented on #144
When trying to scan the /opt/ path, I am getting this message:

[code]

[2021-12-18 14:24] xeraph commented on #144
Please comment full command with arguments.

[2021-12-18 14:27] latency0ms commented on #144
[code]

[2021-12-18 14:30] latency0ms commented on #144
[code]

[2021-12-18 14:30] xeraph commented on #144
@latency0ms  `-f` should configuration which contains file path list. not the target path itself. Use following command:
[code]

[2021-12-18 14:31] latency0ms commented on #144
I am getting this output using --trace --debug:

[code]

[2021-12-18 14:32] latency0ms commented on #144
This works like a charm! Thanks!

[2021-12-18 14:55] xeraph commented on #143
@latency0ms Try v2.2.2 release. Ensure that application doesn't use JMS or Socket logging feature.

[2021-12-18 14:57] xeraph commented on #18
@LogSpider @t0xic-coder Would you try v2.2.2 release?

[2021-12-18 14:58] xeraph commented on #140
@ajb2 @jlellis Resolved in v2.2.2 release. However, it may still be slightly larger than the original version.

[2021-12-18 14:59] xeraph commented on #93
@aurelienpernoud @jgstew Resolved in v2.2.2 release. However, it may still be slightly larger than the original version.

[2021-12-18 15:00] xeraph commented on #136
@MarkSe99 Check v2.2.2 release for log4j1 patch.

[2021-12-18 15:09] latency0ms commented on #143
[code]

This worked, could this lead to side effects? What exactly is being performed with `--scan-log4j1 --fix`?

[2021-12-18 15:12] xeraph commented on #143
@latency0ms If SQL server uses JMS or socket logging feature, it may be damaged. In most cases, JMS or socket server feature is not used. However you should use this option at your own risk. I can't figure out all the software configurations in the world.

[2021-12-18 15:29] strawgate opened #145 "CSV Examples"
Does anyone have any examples of the different statuses, values, etc that can be present in the CSV reports?

[2021-12-18 15:33] xeraph commented on #145
@strawgate See this example:
![image](https://user-images.githubusercontent.com/2782192/146646553-635938ee-adc9-40be-ac47-aaa4fb62ee08.png)

[2021-12-18 15:36] bef11 opened #146 "Search in alternative fully qualified class name"
Some products bundle log4j in alternative fully-qualified name, which are currently not being scanned.

Here are some examples we have found:

- com/microstrategy/hive/jdbc42/internal/apache/logging/log4j/core/lookup/JndiLookup.class
- com/microstrategy/impala/jdbc42/internal/apache/logging/log4j/core/lookup/JndiLookup.class
- com/microstrategy/spark/jdbc42/internal/apache/logging/log4j/core/looku

[2021-12-18 15:38] xeraph commented on #146
Wow.. you've found real shaded examples. related to #131

[2021-12-18 16:00] latency0ms commented on #143
After `--fix ` has been applied, a new scan shows no mitigation note (mitigated)

[code]

[2021-12-18 18:10] strawgate commented on #96
**Would you introduce yourself?**
I lead a security software company that helps organizations operating Critical Infrastructure to detect and mitigate threats

**How many server did you scanned or fixed?**
10,000+ Servers

**Did you complete your mission? How long does it take?**
We are using Logpresso with our other tools as an "enhanced" detection mechanism and are having great luck so far!

**H

[2021-12-18 18:26] xeraph commented on #146
@bef11 Would you test v2.3.0 release?

[2021-12-18 18:31] xeraph commented on #143
@latency0ms Would you test v2.3.0 release?

[2021-12-18 18:41] latency0ms commented on #143
Still no mitigation (mitigated) note with `--scan-log4j1 --fix` on v2.3.0

[2021-12-18 18:43] vis1215 opened #148 "Getting "Error: Could not find or load main class jar""
I m getting this error in Solaris
[code]

[2021-12-18 18:48] xeraph commented on #148
@vis1215 you should `-jar` switch, not `jar`

[2021-12-18 18:49] vis1215 commented on #148
Great .. Thank youvery much for the quick help

[2021-12-18 18:54] xeraph commented on #143
@latency0ms Oh.. thank you for reporting. I will fix it too..

[2021-12-18 19:05] xeraph commented on #143
@latency0ms I feel sorry for repeated request. Would you test v2.3.1?

[2021-12-18 19:07] #148 closed

[2021-12-18 19:07] #144 closed

[2021-12-18 19:12] latency0ms commented on #143
Sure thing, thanks for providing this great scanner, it really helps me a lot, now writing an automation to scan our entire server farm.

Now results looks good:

`[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in C:\Program Files (x86)\DocFetcher\lib\log4j-1.2.17.jar, log4j 1.2.17 (mitigated)`

[2021-12-18 20:26] vis1215 commented on #148
Between these two option which one over rides other ?
-f [config_file_path]
--exclude-config [config_file_path]

for example, /abc is there in both files, will /abc be scanned or skipped ?

[2021-12-18 22:05] ama1975 commented on #143
Dear @xeraph after reading this thread I installed the latest 2.3.1 version and tried to patch my log4j-1.2.15.jar inside tomcat8, however it result without fixing/changing anything. What did I wrong?

~/log4j-scanner# ./log4j2-scan --fix /
Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.1 (2021-12-19)
...
Found 0 vulnerable files
Found 0 potentially vulnerable files
Found 0 mitigated files
Fix

[2021-12-18 22:08] latency0ms commented on #143
Use: `./log4j2-scan --scan-log4j1 --fix`

[2021-12-18 22:56] doctore74 opened #149 "provide binary for ARM / Raspberry"
It would be great if you could provide the scan binaries for ARM/Raspberry/MacOS as well.

[2021-12-19 02:52] xeraph commented on #148
@vis1215 --exclude-config wins. (skipped)

[2021-12-19 05:16] jgstew commented on #149
You can run the JAR without the binary as long as you have a JRE/JDK already installed.

Building the binaries is kind of a pain from my research without actually building it on the platform you wish to target.

With something like Python, I can actually build binaries for other platforms on a single platform, so that is much easier to automate.

I am looking into automatically building binaries o

[2021-12-19 05:28] jgstew opened #150 "Provide a command line option to "unfix""
I know this seems a little odd, but if it is not hard to do, it would be really interesting if there was an `--force-unfix` option that would detect any where a JAR has been mitigated by this utility and roll it back by restoring the backed up file.

The reason for this is so that operations teams can run the scan and fix widely, but if an application is found to be broken after the fact, just rol

[2021-12-19 05:31] jgstew commented on #150
I was at first envisioning "unfixing" all of the mitigated files on the entire device, but it might make sense to have an option to only unfix a specific one, but I guess you could achieve that same effect by limiting the scope of the "unfix" more narrowly than the "fix" to try to only roll back the applications that have broken.

I would love to know if anyone has actually had any applications br

[2021-12-19 05:35] xeraph commented on #149
@doctore74 Just released Mac OS binary. Our team is setting up ARM server on cloud to build image.
Try https://github.com/logpresso/CVE-2021-44228-Scanner/releases/download/v2.3.1/logpresso-log4j2-scan-2.3.1-darwin.tar.gz

[2021-12-19 05:48] xeraph commented on #150
As far as I know, spring boot application was the only case. (log4j2-scan < 1.5.0)

[2021-12-19 05:58] xeraph commented on #149
@doctore74 Just released linux aarch64 binary.
https://github.com/logpresso/CVE-2021-44228-Scanner/releases/download/v2.3.1/logpresso-log4j2-scan-2.3.1-linux-aarch64.tar.gz

[2021-12-19 05:59] jgstew commented on #149
Well that was fast. I was just googling emulating a raspberry pi with Qemu:

- https://azeria-labs.com/emulate-raspberry-pi-with-qemu/
- https://github.com/docker/setup-qemu-action

[2021-12-19 06:06] jgstew commented on #133
Well, I'm still curious to look into implementing this for my own education and improved build/CI purposes, but it seems @xeraph moves too fast. https://github.com/logpresso/CVE-2021-44228-Scanner/issues/149#issuecomment-997334773

I was also looking into how to implement a minimal set of tests to not only be certain the build succeeds, but that the utility runs.

[2021-12-19 06:09] xeraph commented on #133
@jgstew Yeah.. it's not easy to build and deploy all native images. I hope it could be automated..

[2021-12-19 06:24] jgstew commented on #149
@xeraph there is macos intel CPU and there is macos apple arm CPU. I assume the binary is for Intel CPUs? Might make sense to note that in the name of the file, though I guess same as Linux where the default one is Intel, then the one named differently is Arm.

[2021-12-19 06:42] xeraph commented on #149
@jgstew Our team tested both MacOS 12.0.1 (arm) and MacOS 12.0.1 (x64)

[2021-12-19 07:20] ChKemper opened #151 "log4j2-core-2.17.0 is marked as potential vulnerable"
Hi,

after applying the latest fixes the log4j-core-2.17.0.jar is marked as potentially vulnerable:

[?] Found CVE-2021-44228 (log4j 2.x) vulnerability in /Users/xgadkem/Downloads/log4j/log4j-core-2.17.0.jar, log4j N/A - potentially vulnerable.

I think the bug is related in class Detector:220 and Detector:176.
When reading the pom.properties of 2.17 there is no version given back. So in line 220

[2021-12-19 08:21] #151 closed

[2021-12-19 08:44] xeraph commented on #151
@ChKemper Thank you for your patch PR again. :D

[2021-12-19 08:53] doctore74 commented on #149
This is aesome guys! What about using logpresso in a Monitoring Tool an a regular basis. Btw. we did this. Is someone intersted?

[2021-12-19 08:56] xeraph commented on #149
@doctore74 Great idea. Would you introduce what you did in https://github.com/logpresso/CVE-2021-44228-Scanner/issues/96 ?

[2021-12-19 08:58] xeraph commented on #11
@fflo Would you test v2.3.2 release? It detects and removes SocketServer.class from log4j1 binaries.

[2021-12-19 09:32] AlexMilotin opened #153 "Scan error: 'Index -1 out of bounds for length 0"
Hi,

Seems like zip file scanning is running into a error
Scan error: 'Index -1 out of bounds for length 0' on file: C:\Users\uie13286.VT1\Downloads\OneDrive_1_11-15-2021.zip

![image](https://user-images.githubusercontent.com/92310619/146670140-df102363-0805-466e-8730-489b7f326498.png)

and
Scan error: 'malformed input off : 98, length : 1' on file: C:\Users\uix08287\Desktop\IE-DFSS-15-0003 (2).z

[2021-12-19 09:53] xeraph commented on #153
@AlexMilotin Would you run with `--debug` and comment stacktrace for `Scan error: 'Index -1 out of bounds for length 0' on file: C:\Users\uie13286.VT1\Downloads\OneDrive_1_11-15-2021.zip` ?

[2021-12-19 10:18] AlexMilotin commented on #153
`Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.2 (2021-12-19)
Scanning directory: C:\Users\uie13286.VT1\Downloads\OneDrive_1_11-15-2021.zip
Scan error: 'Index -1 out of bounds for length 0' on file: C:\Users\uie13286.VT1\Downloads\OneDrive_1_11-15-2021.zip
java.lang.IndexOutOfBoundsException: Index -1 out of bounds for length 0
        at jdk.internal.util.Preconditions.outOfBounds(Preconditi

[2021-12-19 10:19] AlexMilotin commented on #153
Also for one of the malformed perhaps would be helpful
PS C:\temp> .\log4j2-scan.exe --debug --scan-log4j1 --scan-logback --scan-zip --silent "C:\Program Files\Python36\Lib\test\zip_cp437_header.zip"
Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.2 (2021-12-19)
Scanning directory: C:\Program Files\Python36\Lib\test\zip_cp437_header.zip
Scan error: 'malformed input off : 14, length : 1' on file

[2021-12-19 10:32] xeraph commented on #153
@AlexMilotin Both exception traces are caused by encoding issues. The default zip entry encoding is utf8, but the file appears to be encoded in a different character set. Maybe adding another encoding option can be useful, however, if each zip file uses different encoding, it is hard to resolve..

[2021-12-19 10:35] AlexMilotin commented on #153
@xeraph Assuming the most used ones are utf8 and latin1 i would hope that adding latin1 is enough ?

[2021-12-19 10:44] xeraph commented on #153
@AlexMilotin Would you upload some small CP437 zip file causes error? I want to reproduce it.

[2021-12-19 10:51] doctore74 commented on #96
Would you introduce yourself?
I'm a IT Engineer from Germany.

How many server did you scanned or fixed?
MANY. Number increasing.
Accidentally fixed a system automatically with the parameter force-fix :-D

Did you completed your mission? How long does it take?
I'm pretty sure this issue will be with us for a long time, like the coronavirus.
Everyone should scan their hosts on a regular basis. Use

[2021-12-19 10:54] AlexMilotin commented on #153
Hopefully this is the one you need. Is what i got from one of our devs
[zip_cp437_header.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7740662/zip_cp437_header.zip)

[2021-12-19 11:17] doctore74 commented on #149
I successfully tested the Darwin binary on a M1 Mac.

[2021-12-19 11:56] xeraph commented on #115
@farhan-ejaz Try v2.3.2 release. It will fix log4j1.

[2021-12-19 12:11] xeraph commented on #153
@AlexMilotin Would you test v2.3.3 release?

[2021-12-19 14:09] AlexMilotin commented on #153
That works like a charm for the malformed issues
For the Scan error: 'Index -1 out of bounds for length 0' i do not get the error anymore but instead it does Skipping it as broken .jar

![image](https://user-images.githubusercontent.com/92310619/146677833-d2bf4e9e-47e2-48f1-a17b-1d072b7b47b7.png)

[2021-12-19 14:14] xeraph commented on #153
Oops.. 'Index -1 out of bounds for length 0' was different issue. I will fix it soon. Thank you for reporting! @AlexMilotin

[2021-12-19 14:29] xeraph commented on #153
@AlexMilotin Would you upload zip which cause `only DEFLATED entries can have EXT descriptor'?

[2021-12-19 15:07] philrandal opened #154 "Scan all drives doesn't list excluded paths"
When using the --all-drives option the excluded paths aren't listed in the program output, but they are if you use  C:\ as the path to scan.

I'd expect them to be listed whatever scan options are present.

[2021-12-19 16:36] xeraph commented on #153
@AlexMilotin  v2.3.4 reduces `only DEFLATED entries can have EXT descriptor` errors.
(still error occurs for nested zip case due to jdk limitation)

[2021-12-19 16:41] xeraph commented on #154
@philrandal Would you test v2.3.4?

[2021-12-19 16:41] #142 closed

[2021-12-19 16:42] #110 closed

[2021-12-19 16:42] #115 closed

[2021-12-19 16:43] #97 closed

[2021-12-19 16:44] #149 closed

[2021-12-19 16:44] #143 closed

[2021-12-19 16:47] xeraph commented on #83
Reverted. https://github.com/logpresso/CVE-2021-44228-Scanner/commit/c415d8aff46e4dde45f71dc49e93e67e4367b302

[2021-12-19 16:47] #83 closed

[2021-12-19 16:49] #109 closed

[2021-12-19 16:49] #131 closed

[2021-12-19 16:49] #140 closed

[2021-12-19 16:49] #136 closed

[2021-12-19 16:51] #104 closed

[2021-12-19 16:51] #107 closed

[2021-12-19 16:52] xeraph commented on #111
Closed due to no response.

[2021-12-19 16:52] #111 closed

[2021-12-19 16:52] #53 closed

[2021-12-19 16:55] philrandal commented on #154
Perfect!  Many thanks.

[2021-12-19 16:55] #154 closed

[2021-12-19 16:56] LogSpider commented on #18
@xeraph thank you so much, we will try this asap und remove JMS Appender Class directly with --fix and watch what happens with services

[2021-12-19 16:59] xeraph commented on #45
@Daywalker01
I will keep current behavior. I don't want to burden network bandwidth in default mode. Same semantics for google drive or cdrom on windows.

@pinacoelho
It is recommended to use the `-f` option with the find command. I think that it is hard to implement platform independently..

[2021-12-19 16:59] #45 closed

[2021-12-19 17:01] xeraph commented on #62
I will close this issue. You can create a new issue for further improvement.

[2021-12-19 17:01] #62 closed

[2021-12-19 17:04] xeraph commented on #64
This issue is completed. Create a new issue for further improvement.

[2021-12-19 17:04] #64 closed

[2021-12-19 17:06] #80 closed

[2021-12-19 17:06] #86 closed

[2021-12-19 17:08] xeraph commented on #112
@ozbillwang Would you test latest version (v2.3.4)? I want to know your problem still exists.

[2021-12-19 17:37] xeraph commented on #118
@tp111
`bookit.jar` contains no pom.properties, therfore it cannot determine log4j version. However, since it contains JMSAppender.class, it is marked as potentially vulnerable. It is log4j 1.2.x binary.

`client.jar` may contains both log4j1 and log4j2 classes. Would you upload `client.jar` ?

[2021-12-19 18:15] xeraph commented on #118
v2.3.7 added Product and CVE code for better readability.

[2021-12-19 18:16] pjlgit-rbrr commented on #120
Not a Java programmer, but this was bugging me, so I took a look...

Assuming that the output of the exclude list at startup (Scanning directory: X (without ...), it appears that the call to getPartitions for UNIX/Linux/Solaris/BSD is using the mount device (The system:/directory) rather than the mountpoint (/mnt) for the  comparison to see if the exclude should work, and within UNIX..., the match

[2021-12-19 18:26] arnarthor88 opened #155 "Getting Error file is locked even after moving .jar file do a different system and trying to fix"
I'm getting file is "locked by other process" even if I copied the files to a different system to try and run the scan on them. You seen this before ?

C:\Admin>log4j2-scan.exe --force-fix --debug "C:\Program Files\Tableau\Tableau 2021.3"
Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.6 (2021-12-20)
Scanning directory: C:\Program Files\Tableau\Tableau 2021.3
[*] Found CVE-2021-44228 (log4j 2.x

[2021-12-19 18:30] xeraph commented on #155
Check whether scanner runs in administrator mode. Tableau service should not be running. @arnarthor88

[2021-12-19 18:37] xeraph commented on #120
Would you comment actual output of command and command itself with arguments? Maybe what you means is java file store returns system: prefixed path. @pjlgit-rbrr

[2021-12-19 18:37] arnarthor88 commented on #155
Tableu Server was not running and cmd was open as admin so I copied the files to a different server and opened cmd as admin. Same results. Wondering if it's something with the files

[2021-12-19 18:41] arnarthor88 commented on #155
![image](https://user-images.githubusercontent.com/12741580/146686917-8040c4cc-d6fb-409a-a5ea-a2c3ec32ffd7.png)

[2021-12-19 18:42] arnarthor88 commented on #155
![image](https://user-images.githubusercontent.com/12741580/146686952-59ba1fd3-3bf8-4ffe-b92d-d6665f2203ba.png)

[2021-12-19 18:51] xeraph commented on #155
@arnarthor88 Interesting.. Scanner actually fails to acquire file lock on your environment.
Can you overwrite jdbcserver.jar manually? If you can overwrite that file, please upload one of them. (rename .jar to .jar.zip)

My screenshot:
![image](https://user-images.githubusercontent.com/2782192/146687093-1d3fbc89-8f41-4da4-99b7-1bb7e5c30ac1.png)

[2021-12-19 18:56] xeraph commented on #155
Workaround (if you want to do it right now):
- Copy jar files to linux
- Fix jar on linux
- Overwrite files on windows manually.

[2021-12-19 19:02] arnarthor88 commented on #155
OK will try that later tonight, have to go out now... But I was unable to edit the .jar file... Said it's read only. I'll upload it here if you want to take a look
[jdbcserver.jar.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7741379/jdbcserver.jar.zip)

[2021-12-19 19:05] pjlgit-rbrr commented on #120
Unfortunately a largish file.

The system is running NetBSD, and is being checked against the root directory as an argument. A local NFS mount of /var/pkg_comp was made to /mnt. As you can see in the log, the /mnt directory is happily probed.

The command uses is: /usr/pkg/java/openjdk8/bin/java -jar /tmp/logpresso-log4j2-scan-2.2.2.jar --scan-log4j1 --scan-zip --no-symlink --scan-logback --scan-z

[2021-12-19 19:05] xeraph commented on #155
@arnarthor88 If you cannot overwrite this file manually, you should resolve that issue first. maybe you should check read only file attribute.

[2021-12-19 19:07] pjlgit-rbrr commented on #120
For reference, I've tested this on NetBSD-current (above logfile), RedHat Enterprise Linux 7, and Solaris 11, with the same results.

[2021-12-19 19:09] xeraph commented on #120
Thank you. I will check it later.. (after 8 hours..)

[2021-12-19 21:02] tp111 commented on #118
Can't upplode Client.jar. Get "in not included in the list"

[2021-12-19 21:18] tp111 commented on #118
[Core.jar-files.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7741616/Core.jar-files.zip)
Here are the properties-files

[2021-12-19 21:20] strawgate opened #156 "Files that are inaccessible or otherwise cannot be accessed should be logged in the report"
Files that are not accessible should be logged in the report.

Right now for this information we need to capture the stderr of the application to a file and try to parse it.

Would be great if this was included in the report as like, "Inaccessible", "Read Error" or something.

[2021-12-19 21:21] #145 closed

[2021-12-19 21:46] strawgate opened #157 "Document --exclude-patterns"
Can you document what is supported here? Is there any wildcard support, is it just if that string is found anywhere in the path it's ignored? Does it prevent traversing into a directory if the directory matches the pattern?

[2021-12-19 21:57] Afrouper commented on #106
I've made a first suggestion (see PR). The output is:

{
	"files": [
		{
			"path": "/opt/log4j/log4j-core-2.14.0.jar",
			"entry": "",
			"product": "Log4j 2",
			"hostname": "saturn.space",
			"cve": "CVE-2021-44228",
			"fixed": false,
			"detectedAt": "2021-12-19 22:44:09",
			"version": "2.14.0"
		}
	],
	"metrics": {
		"scanFileCount": 54,
		"fixedFileCount": 0,
		"lastStatusLoggingTime": 163

[2021-12-19 22:03] doctore74 commented on #149
Nice, but that was not Raspberry, correct? Raspberry uses ARM. @jgstew Does the MacOS 12.0.1 (arm) work here?

[2021-12-19 22:09] strawgate commented on #106
Just looked at @Afrouper's PR -- looks great

[2021-12-19 22:12] strawgate commented on #157
It looks to just do a string contains for each element and each element must be provided with its own flag

[2021-12-19 22:18] strawgate commented on #157
Looks like this applies to directory names only

[2021-12-19 22:58] arykov opened #161 "Ability to specify alternate backup directory"
Occasionally one needs to specify an alternate location to backup files - spatial constraints and such.
Pull request introduces said functionality #160.

[2021-12-19 23:12] ozbillwang opened #162 "version 2.3.6 - unsupported option: --scan-log4j1"
with the latest version v2.3.6 currently, I can't run with option `--scan-log4j1`

[code]

[2021-12-19 23:21] ozbillwang commented on #112
@xeraph

run with latest version 2.3.6, still no output to potential files

[code]

[2021-12-19 23:28] arnarthor88 commented on #155
The read-only attribute was set. After removing the flag the scanner was
able to modify the file :)

On Sun, 19 Dec 2021 at 19:05, Yang, BongYeol (xeraph) <
***@***.***> wrote:

--

Arnar Þór Sigurðsson

[2021-12-19 23:42] ozbillwang commented on #112
It works. Thanks.

![image](https://user-images.githubusercontent.com/8954908/146695161-9d8af699-0bf2-481a-9b24-d2543584405d.png)

[2021-12-19 23:42] #112 closed

[2021-12-19 23:43] #162 closed

[2021-12-19 23:43] ozbillwang commented on #162
My testing is wrong, it works in fact.

![image](https://user-images.githubusercontent.com/8954908/146695171-ebb8a876-7fc0-47e8-93fb-3ddff596bcd9.png)

[2021-12-20 00:14] xeraph commented on #155
@arnarthor88 Happy to hear that. I will correct error message.

[2021-12-20 00:28] arnarthor88 commented on #155
Ran the debugger on the file.. Here is the output:

C:\Admin\jar\jdk-17.0.1\bin>java -jar log4j2-scanner-2.3.6-debug.jar --force-fix --debug jdbcserver.jar
Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.6 (2021-12-20)
Scanning directory: jdbcserver.jar
[*] Found CVE-2021-44228 (log4j 2.x) vulnerability in C:\Admin\jar\jdk-17.0.1\bin\jdbcserver.jar, log4j 2.13.1

java.io.FileNotFoundException:

[2021-12-20 07:43] xeraph commented on #112
@ozbillwang Thank you for test report!

[2021-12-20 08:26] NineOfSeven opened #163 "New Vulnerability"
Hi,

with the new 2.16 issues shouldn't the checked version increased to

old:

[code]

new:
[code]

[2021-12-20 08:31] AlexMilotin opened #164 "Potentially vulnerable"
Hi,

With all the new changed and new CVE i ended up a bit confused.
What does Potentially Vulnerable would really mean ?
Don't get me wrong from having ~900 vulnerable files in a 450 servers infrastructure i ended up now with 1621 Potentially vulnerable.
Is it that the log4j version cannot be determined ?

Also for the rest of the findings regards Log4j 1.2 (which are not marked as Potentially) a

[2021-12-20 08:47] ChKemper commented on #164
Hi,

oh yes - there are a lot of CVE's ans versions...

When the Scanner can read the exact Version of log4j it can check if this version is vulnerable. So you get it marked as vulnerable.
If the scanner could not read the pom.properties (where the exact version is placed) **and** in the JAR contains a class which is typically for log4j it is marked as Potentially Vulnerable. The Scanner tries to

[2021-12-20 09:02] AlexMilotin commented on #164
So basically all those that do not have the pom.properties, right ?

For example, the below doesn't have it
`[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in E:\CA0000965\CA0000965_W7\CAx\App\CR5000\DOME\lib\log4j-1.2.14.jar, log4j N/A - potentially vulnerable
`
![image](https://user-images.githubusercontent.com/92310619/146740545-6560117c-fed7-415f-9a28-e5418cee90d8.png)

But i was able to f

[2021-12-20 09:07] xeraph commented on #163
@NineOfSeven v2.3.6 treats all log4j2 versions under 2.17 as vulnerable.
![image](https://user-images.githubusercontent.com/2782192/146741540-b3b3f8c7-c2d1-448a-81d9-9e42b212f386.png)

I can't understand what you are saying..

[2021-12-20 09:15] xeraph commented on #164
@AlexMilotin all log4j 1.2.x versions are potentially vulnerables. (although it is hard to meet certain exploit conditions)
If you don't want to detect log4j1 vulnerabilities, do not use `--scan-log4j1`. However, if you can't ensure application is using JMSAppender, it is still potentially vulnerable.

If application doesn't use JMS (Java Message Service) logging or socket server based logging, it

[2021-12-20 09:37] AlexMilotin commented on #164
This is are the exact explanation i was seeking for, thank you a tone guys. I would never be able to offer you the gratitude you deserve for this.

[2021-12-20 09:40] xeraph commented on #155
@arnarthor88 v2.3.7 now can fix also read-only files. Would you test it?

[2021-12-20 09:42] xeraph commented on #120
@pjlgit-rbrr Fixed broken NFS detection.. Would you test v2.3.7 release?
@vongillus I wonder if the latest version still has the same problem. Would you test v2.3.7 release?

[2021-12-20 09:46] AlexMilotin commented on #42
How does a broken .jar is actually defined? based on what?
A short example from my side
![image](https://user-images.githubusercontent.com/92310619/146746118-72d2ebfd-91cd-4fcb-a785-431229e85e23.png)

![image](https://user-images.githubusercontent.com/92310619/146746271-d8e03e59-dd8d-44d2-8775-74ecbebd7eaa.png)

![image](https://user-images.githubusercontent.com/92310619/146746292-7b0e51e7-0773-49

[2021-12-20 09:53] xeraph commented on #42
@AlexMilotin If application use common class loader, you don't need to inspect zip files. Valid ZIP file should starts with `PK` (0x50 0x4b) bytes like this:
![image](https://user-images.githubusercontent.com/2782192/146747857-9f11ef64-41fe-4310-9ed7-d7c477f372e6.png)

However, JDK does not fully support newer ZIP standards (As I referenced in release note: Avoid ZipInputStream for flat ZIP files:

[2021-12-20 10:14] AlexMilotin opened #165 "PowerShell "Automation" for larger infrastructure."
Since i've been dealing with a lot of infrastructure without a proper deployment tool and i had to find a way to run the tool on multiple  servers at once. Some of people might already found another way, but i feel in debt to at least provide my 2 cent.
You can define the variable locations as you please, this is what i used so far.
1. Copy files to multiple servers -> using PS workflow
[code]
2.

[2021-12-20 10:33] vongillus commented on #120
@xeraph Thanks a lot, I just tested the latest version and it works as expected! Good job :)

[2021-12-20 10:47] dkordyban opened #166 "What does mitigated mean?"
Does it remove JNDI feature all together or just remove the ability for log4j to call out to external servers via LDAP, RMI, HTTP?

[2021-12-20 10:50] headman78 commented on #104
I tested the latest release and not getting "zip END header not found" messages for winrar files anymore, thanks!

[2021-12-20 11:04] AlexMilotin commented on #166
It is written in the [README.MD](https://github.com/logpresso/CVE-2021-44228-Scanner/blob/main/README.md)
`(mitigated) tag will be displayed if org/apache/logging/log4j/core/lookup/JndiLookup.class entry is removed from JAR file.`

[2021-12-20 11:07] sureshgurram123 opened #167 "Is there any option to fix read-only jar files ? Currently the tool says the jar is locked."

[2021-12-20 11:07] sureshgurram123 opened #168 "Any option to not create .bak files ?"

[2021-12-20 11:10] xeraph commented on #167
@sureshgurram123 Fixed in 2.3.7. Try it

[2021-12-20 11:13] JavierGoyache opened #169 "log4j2-scan executable not working"
When downloading the log4j2-scan 2.3.7 zip file (Windows x64) and executing the .exe program, nothing happens, so I am not able to know what programs in my local PC are vulnerable.

[2021-12-20 11:16] xeraph commented on #165
Wow. Thank you for sharing!

[2021-12-20 11:17] xeraph commented on #169
@JavierGoyache Use `log4j2-scan.exe --all-drives`

[2021-12-20 11:23] sureshgurram123 commented on #167
thanks its working fine with v2.3.7

[2021-12-20 11:39] JavierGoyache commented on #169
Thanks. It worked and I got the following result:

![image](https://user-images.githubusercontent.com/96420955/146761711-c35eb80c-e03d-4298-a0d8-c24d7989a1a9.png)

I got "0 vulnerabilities" so I am assuming no further steps need to be followed?

[2021-12-20 11:50] lmalmeida opened #170 "Alpine linux support"
The current binary does not support Alpine Linux or RHEL 6.
An alternative is to build a (fully) static binary.

Example command line to build:
[code]

I suggest primarily a change on the documentation

[2021-12-20 12:22] xeraph commented on #169
@JavierGoyache Sure. :D

[2021-12-20 12:23] xeraph commented on #168
Backup files should be generated in any ways. I have another plan for convenience.

[2021-12-20 12:29] #106 closed

[2021-12-20 12:31] lmalmeida commented on #170
Seems to work.
For reference, I've used containers to test it, similar to:
[code]

[2021-12-20 12:33] xeraph commented on #170
@lmalmeida Thank you very much. `--static` switch was what I looking for. Additionally, I had to install `yum install glibc-static` to use `--static` switch.

[2021-12-20 12:58] arykov opened #171 "tar.gz support"
Would be good to add tar.gz support at least for scanning at least at the top level.

[2021-12-20 13:24] pjlgit-rbrr commented on #120
@xeraph Confirmed that v2.3.7 is handling the mounts properly.

Thanks!

[2021-12-20 13:28] ajddba commented on #165
@AlexMilotin  - I have spent all weekend doing something Similar - how are you finding it speed wise? - i have got it scanning about 200 boxes in 8 hours.

[2021-12-20 13:43] AlexMilotin commented on #165
I had quite a struggle in running it remotely. The first version using Background jobs took about 8 to 12 hours (depending on the server, when executing it remotely).
This version i can happily say that that took 3 hours for my entire infrastructure of 460 servers.
The difference seems that was done by creating the jobs in the PSSession as Remote Jobs and then the network factor was not a problem

[2021-12-20 14:07] sureshgurram123 commented on #168
Ok.. we are not planning to keep the vulnerable jars in the machines in any format they are.. so just checking

[2021-12-20 15:10] arnarthor88 commented on #155
Great it works now ! :D

`C:\Admin\jar>log4j2-scan.exe --force-fix jdbcserver.jar
Logpresso CVE-2021-44228 Vulnerability Scanner 2.3.7 (2021-12-20)
Scanning directory: jdbcserver.jar
[*] Found CVE-2021-44228 (log4j 2.x) vulnerability in C:\Admin\jar\jdbcserver.jar, log4j 2.13.1

Fixed: C:\Admin\jar\jdbcserver.jar

Scanned 0 directories and 1 files
Found 1 vulnerable files
Found 0 potentially vulne

[2021-12-20 15:30] ajddba commented on #165
@AlexMilotin  - So i tried your script, the csv file it creates on the host says it hasn't scanned them?

"FQDN","Scanned","Drive","Version","Line"
"Servername.FQDN","False","D:\","N/A","N/A"

[2021-12-20 15:34] xeraph commented on #106
@jlellis @strawgate Just released v2.4.0. Would you test `--report-json` option?
See also https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/JSON-Report-Sample

[2021-12-20 15:36] xeraph commented on #170
@lmalmeida Just released v2.4.0. Would you test it?

[2021-12-20 15:42] jgstew commented on #170
Does this static option remove the dependency on glibc? Does the same option work on windows to remove the need for VC++ runtime?

[2021-12-20 15:42] xeraph commented on #102
@jonas-tb  Would you test v2.4.0 release? already tested at #170

[2021-12-20 15:44] xeraph commented on #170
@jgstew Yes. I applied same option for windows build.
[code]

[2021-12-20 15:54] arnarthor88 opened #173 "Question: What is Logpresso with vulnerable 2.16 jar files ?"

[2021-12-20 15:57] xeraph commented on #155
@arnarthor88 Great. Thank you for test report :D

[2021-12-20 15:58] #120 closed

[2021-12-20 15:59] arnarthor88 commented on #173
Yes I know but I was just wondering how logpresso is mitigating the vulnerability. It's not removing the jndilookup.class is it ?

[2021-12-20 15:59] xeraph commented on #120
@vongillus @pjlgit-rbrr Thank you for test report!

[2021-12-20 16:02] xeraph commented on #173
@arnarthor88 I got it. 2.16.0 is DoS vulnerability caused by infinite recursion. It cannot be fixed by removing JndiLookup.class.

[2021-12-20 16:07] xeraph commented on #171
Hmm.. Someone may implement this issue. However I don't want any additional dependency.

[2021-12-20 16:12] glshnu opened #174 "json output file"
if i understand it correctly i can control with the parameter --report-path where the json is stored

Example:
log4j2-scan.exe --report-json --report-path out.json c:\

in this example the out.json contains the csv data
Hostname,Path,Entry,Product,Version,CVE,Status,Fixed,Detected at,Error
DESKTOP-45E6E0Q,"c:\test\jasper-spring.jar","BOOT-INF/lib/log4j-core-2.15.0.jar","Log4j 2","2.15.0","CVE-2021

[2021-12-20 16:14] xeraph commented on #118
@tp111
In your Core.jar-files.zip, /pom.properties specifies that this jar has log4j-core 2.7 binaries.
[code]
However, there actually log4j1 class files are detected. Scanner gets confused.

Summary:
* 2.7 pom found, but JndiLookup.class not found -> print mitigated
* 1.x pom not found, but JmsAppender.class found -> print potentially vulnerable

In some cases, one jar can contains both 1.x and 2

[2021-12-20 16:18] xeraph commented on #174
@glshnu Oops. I will fix it soon.. Thank you for bug reporting!

[2021-12-20 16:27] jgstew commented on #173
I was wondering if it were possible for the scan utility to help facilitate swapping Log4j 2.x version to (latest) 2.17.0 version as an optional mitigation measure?

It isn't that hard to swap out a file `log4j2-core-2.16.0.jar` and put it its place the `log4j2-core-2.17.0.jar` but doing so inside of JAR, WAR, EAR files and similar is quite complicated.

[2021-12-20 16:30] jgstew commented on #168
I would recommend keeping the backup files in place until you are very confident that nothing has been broken. I would recommend cleaning them up later on, but not right away.

[2021-12-20 16:33] rvtkruys-valtech opened #175 "Deploying Log4J Scanner with Jamf Pro"
Hi,

Is there a way to have an Team ID included in the MacOS version? I need to deploy this scanner on multiple MacBooks.

[2021-12-20 16:52] arykov commented on #161
What's the verdict?

[2021-12-20 17:03] xeraph commented on #174
@glshnu Fixed in v2.4.1. Would you test it?

[2021-12-20 17:06] glshnu commented on #174
perfect it runs ;-)

[2021-12-20 17:07] xeraph commented on #174
@glshnu Thank you for your test report!

[2021-12-20 17:10] glshnu opened #176 "override report files with --report-path"
when i create an output file and it already exists i get the following message.
java.lang.IllegalArgumentException: File already exists -
it would be nice if this would be overwritten.

[2021-12-20 17:17] xeraph commented on #176
I think that avoiding mistakes is more important, since it cannot be undone..

[2021-12-20 17:18] xeraph commented on #175
@rvtkruys-valtech I don't know what you are saying. Would you comment any reference guide?

[2021-12-20 17:18] ajddba commented on #165
Hi @AlexMilotin  - Tried the script - it ran in powershell fine but in the CSV it says it hasnt scanned - have you used a specific version of logpresso? Also in the 1st script are you just copying the EXE or the ps1 aswell?

[2021-12-20 17:22] xeraph commented on #161
Let's see tomorrow.. Anyway thank you for the PR. :D

[2021-12-20 17:34] lmalmeida commented on #170
Tested v2.4.1. Seems to work. Thanks

[2021-12-20 17:35] xeraph commented on #173
I think your idea is possible in some simple cases. e.g 2.16 to 2.17. One problem is that I still don't know how to embed resource file properly. I tried it before with graalvm native image manual, but failed.

[2021-12-20 17:36] lmalmeida commented on #170
BTW, for windows, it still has dependencies.
[code]

[2021-12-20 17:36] #170 closed

[2021-12-20 17:37] gemelo-malvado opened #177 "Exit Code Issue"
I am not getting an exit code when using --old-exit-code

[2021-12-20 17:40] xeraph commented on #170
Oh no.. then `--static` doesn't work for windows version. Fixed v2.4.0 release note.

[2021-12-20 17:44] xeraph commented on #177
It works (verified with v2.4.1). See following:
[code]

[2021-12-20 17:50] rvtkruys-valtech commented on #175
I am trying to deploy this scanner with Jamf Pro (MDM), but once deployed the MacOS (GateKeeper) is not allowing this to run. Unless I manually allow it. I would like to automate this, but I need Kernel Extension or Team ID to do that.

[2021-12-20 18:34] strawgate commented on #175
The scanner is not digitally signed with an Apple Developer certificate -- as a result I dont think there is a Team ID to allow

[2021-12-20 19:18] sds83uk commented on #167
I am reading through the code following the weekend refactoring (wow!) and I think a file is setWritable before the backup is taken, also, it might not be set as read-only again if there is a problem in there interim, e.g. "File is locked by other process."? Thanks.

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/8aaa0e55538bc5fd6cec6242be3dc56da52e2858/src/main/java/com/logpresso/scanne

[2021-12-20 19:28] arnarthor88 commented on #175
In my early testing I was able to just execute _sudo spctl --master-disable_ before running the scanner and then _sudo spctl --master-enable_ afterwards. Don't know if that would work for you tho

[2021-12-20 20:42] rvtkruys-valtech commented on #175
I've tried that, but I can't confirm if the GateKeeper is placed back in its original setting. But it is part of the script now... thnx anyways

[2021-12-20 21:27] doctore74 opened #178 "provide an option for one-line-logs in a file"
It would be good to have an option to log into a logfile in i.e. syslog style.

Because...
Here's something else I've been thinking about.
If a host was potentially attackable, it would be useful to know later which one it was. If an attacker was fast and infected the host, maybe he could place a trojan or something to activate it later.

A single line logfile is easy to parse and/or logrotated or

[2021-12-20 21:45] Afrouper commented on #177
Works with 2.4.1 on macOS.

[code]

[2021-12-20 21:57] Robert-J-Slover opened #180 "Date/Time column has been dropped from CSV Report"
In an earlier build, there was a date/time in the last column of each CSV row indicating the timestamp when the entry was created. A CSV heading for this field exists in the latest build but the field is not present. The problem appears to simply be the format string.

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/8aaa0e55538bc5fd6cec6242be3dc56da52e2858/src/main/java/com/logpresso/scan

[2021-12-20 22:06] smartcitygame opened #181 "Possibility to rename backup file"
Hi,

right now backup file is with .jar.bak extension. Could you add possibility to rename .jar extension to just new extension eg .bak or .xxx (could be parameter) that in future this backed files will not be scanned by some automatic tools? Right now lots of scans look for *.jar* files. Systems are alive so each day new things comes and even some files could be overwritten (even the fixed ones),

[2021-12-20 22:12] gemelo-malvado commented on #177
Yeah, my bad. My procedure in my RMM had a typo, -old-exit-code.

[2021-12-20 22:37] #177 closed

[2021-12-20 22:52] arykov opened #182 "JndiManager"
Having looked at a number of scanning and remediation utilities some appear to remove JndiLookup, some JndiManager. It seems that JndiManager is the one that does the actual JNDI lookup in more recent versions, but there are paths that lead to its execution, other than from JndiLookup. JmsManager and JndiContextSelector are other examples. Is it worth whacking both JndiLookup and JndiManager? I su

[2021-12-21 00:27] xeraph commented on #180
@Robert-J-Slover Thank you for bug report! My mistake..

[2021-12-21 00:50] xeraph commented on #180
@Robert-J-Slover Fixed in v2.4.2. Would you test it?

[2021-12-21 01:45] Robert-J-Slover commented on #180
Will be happy to.

[2021-12-21 01:45] xeraph opened #183 "New Feature: syslog alert"
Send syslog alert if vulnerable or potentially vulnerable binaries are detected.
It can be integrated into logpresso, splunk, or elastic platforms.

Switch
* `--syslog-udp [hostname:port]`

Format
[code]

[2021-12-21 01:52] Robert-J-Slover commented on #180
I can confirm that this does fix the issue. Thank you for the quick fix.

[2021-12-21 01:52] #180 closed

[2021-12-21 01:52] xeraph commented on #180
@Robert-J-Slover Thank you for test report!

[2021-12-21 01:58] xeraph commented on #178
Great idea. Merged into #183. :D

[2021-12-21 03:20] fflo commented on #11
Thank you xeraph. Your tool is outstanding.

[2021-12-21 06:44] xeraph commented on #181
@smartcitygame Would you test v2.5.0 release? It can meet your requirement. :D

[2021-12-21 06:45] xeraph commented on #168
@sureshgurram123 Would you test v2.5.0 release? You can just delete single backup zip file or restore using it.

[2021-12-21 06:47] xeraph commented on #141
@strawgate Would you test v2.5.0 release? You don't have to think about file extension. :D

[2021-12-21 06:48] xeraph commented on #178
@doctore74 Would you test v2.5.0?

[2021-12-21 10:06] Mettemusens opened #184 "Where could I download the 1.4 file for Windows ?"
I am on a server where I cannot download the requered Visual C++ Redi

If you get VCRUNTIME140.dll not found error, install Visual C++ Redistributable.

[2021-12-21 11:09] mhochhaus opened #185 "in CSV Report first column isn't formatted like the others"
We want to use the csv Report and import the generated Files automatically into a database.
The first column with the hostname doesn't have apostrophes around the name.

CLIENT-246,"/Applications/Arduino.app/Contents/Java/log4j-core-2.12.0.jar","","Log4j 2","2.12.0","CVE-2021-44228","VULNERABLE","","2021-12-21 12:01:57"

Can you please format all columns in the same way.

[2021-12-21 11:10] xeraph commented on #185
@mhochhaus Sure. I will fix it.

[2021-12-21 11:10] mhochhaus commented on #185
Thx a lot mate.

[2021-12-21 11:12] xeraph commented on #184
@Mettemusens Install Visual Studio 2015, 2017, 2019, and 2022
https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-140

[2021-12-21 11:14] xeraph commented on #182
Which version do you mean, Log4j2 or Log4j 1?

[2021-12-21 11:19] Mettemusens commented on #184
I'm not able to install anytghing on this server - so I need the older versions where this is not the case
________________________________
Fra: Yang, BongYeol (xeraph) ***@***.***>
Sendt: 21. december 2021 12:12
Til: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Mette Stephansen ***@***.***>; Mention ***@***.***>
Emne: [EXT] Re: [logpresso/CVE-2021-44228-Scanner] Where could I download the 1.

[2021-12-21 11:30] arnarthor88 commented on #184
I had a similar situation. Downloaded OpenJDK https://jdk.java.net and extracted it. Then ran "C:\pathtoextract\bin\java -jar logpresso-log4j2-scan-2.5.0.jar --drives ??" ... worked for me

[2021-12-21 11:33] xeraph commented on #175
@rvtkruys-valtech Would you try this binary? I bought certificate from Apple and signed binary.
Developer ID Application is `log4j2-scan`
[logpresso-log4j2-scan-2.5.0-darwin.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7754969/logpresso-log4j2-scan-2.5.0-darwin.zip)

[2021-12-21 11:48] xeraph commented on #185
@mhochhaus Do you need double quotes in CSV header line? Current version is:
[code]

[2021-12-21 12:03] smartcitygame commented on #181
Hi, could you give me some tips how to test? I could find any new parameter that will change this bkp extension or maybe it is combined with other functionality?

[2021-12-21 12:08] xeraph commented on #181
@smartcitygame v2.5.0 doesn't retain .bak files in each directory. Instead, scanner archives all .bak files in zip file and delete it. No option changes. Default behavior is changed.

[2021-12-21 12:13] arykov commented on #182
Log4j2.
References
- lunasec detects based on hashes specified  [https://github.com/lunasec-io/lunasec/blob/master/tools/log4shell/log4j-library-hashes.json](here). The fact they use hashes is beside the point, but have a look at the version/file combo
- https://github.com/palantir/log4j-sniffer(Palantir sniffer) goes after JndiManager. Did not check their code
- https://github.com/cloudera/cloude

[2021-12-21 12:49] xeraph commented on #175
Just released v2.5.1
https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.5.1

[2021-12-21 12:50] xeraph commented on #185
@mhochhaus Would you test v2.5.1 release?

[2021-12-21 12:51] maol74 opened #186 "Report data is not sent to syslog for status MITIGATED"

[2021-12-21 12:55] maol74 commented on #186
Our use case is that we scan lots of machines and send report data to elastic and when can then through a power BI report see when it was reported POTENTIALLY_VULNERABLE and then when it was fixed

[2021-12-21 12:56] xeraph commented on #186
I got it.. Then I will add another switch for it.

[2021-12-21 12:57] maol74 commented on #186
Yes, understand, that would be great. Understand that you don´t want to have this behaivor as default UC so good with a switch

[2021-12-21 13:15] #186 closed

[2021-12-21 13:15] smartcitygame commented on #181
Hi functionality works, unfortunately for me problem will preserve as our scanners (also yours) can look into zip archives and it will find this jars with vulnerable classes. Really renaming of extension for me is the only option.

[2021-12-21 13:16] xeraph commented on #181
@smartcitygame OK I will add an option. :D

[2021-12-21 13:23] alexmoraess opened #188 "Compressed file types to scan"
Hi team,

Regarding this option :
--scan-zip    Scan also .zip extension files. This option may slow down scanning.

Could it be updated to  cover .tar, .gz and .tgz files ?
Unix users are using the scanner as well.

[2021-12-21 13:45] JackGruber commented on #184
On option is also to install Visual C++ Redistributable on your PC and copy the `VCRUNTIME140.dll` to server in the `log4j2-scan.exe` Folder.

[2021-12-21 13:45] mhochhaus commented on #185
We skip the header during import in Database.
Just checked Version 2.5.1 and it looks good.
"Hostname","Path","Entry","Product","Version","CVE","Status","Fixed","Detected at"
"Client-246","/Applications/Arduino.app/Contents/Java/log4j-core-2.12.0.jar","","Log4j 2","2.12.0","CVE-2021-44228","VULNERABLE","","2021-12-21 14:23:26"

[2021-12-21 13:47] xeraph commented on #185
@mhochhaus Thank you for test report!

[2021-12-21 13:56] Mettemusens commented on #184
Is'nt there an old version af Logpresso which does not require futher install ?

1.4 ?
________________________________
Fra: JackGruber ***@***.***>
Sendt: 21. december 2021 14:45
Til: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Mette Stephansen ***@***.***>; Mention ***@***.***>
Emne: [EXT] Re: [logpresso/CVE-2021-44228-Scanner] Where could I download the 1.4 file for Windows ? (Issue #184)

[2021-12-21 14:06] smartcitygame commented on #181
Thank you. It is great tool. Really amazing job you all did!!!

[2021-12-21 14:22] sunilsrinivas93 opened #189 "Scanner is not scanning CVE-2021-4104 related files"
Hi Support
It is noticed that scanner is not scanning CVE-2021-4104 files on the server.
log4j versions on 1.X

Regards
Sunil S

[2021-12-21 14:23] arykov commented on #161
Looks like these two commits take care of the same functionality https://github.com/logpresso/CVE-2021-44228-Scanner/commit/1298f6250221504aea40ebb19813d29f3abdc6a4 and https://github.com/logpresso/CVE-2021-44228-Scanner/commit/cd56bce7b48dd71f4461baf0511481ed95970b6

[2021-12-21 14:24] #161 closed

[2021-12-21 14:24] xeraph commented on #181
@smartcitygame Would you test v2.5.2 release? Use `--backup-ext` option. e.g. `--backup-ext bak`.
BTW, Why do you use another scanner? Is something missing in log4j2-scan?

[2021-12-21 14:25] xeraph commented on #161
@arykov Thank you :D

[2021-12-21 14:25] arykov commented on #188
Overlapping #https://github.com/logpresso/CVE-2021-44228-Scanner/issues/171

[2021-12-21 14:27] xeraph commented on #184
@Mettemusens Yes.. If you need it then I should re-install my development environment and that may takes some days.

[2021-12-21 14:28] xeraph commented on #189
@sunilsrinivas93 Use `--scan-log4j1` switch. :D

[2021-12-21 14:32] xeraph commented on #188
I'll consider this issue only if I have more time and everybody wants it.

[2021-12-21 14:35] #185 closed

[2021-12-21 14:54] pinacoelho commented on #171
Since tar.gz isn't usable by a java application, this would add complexity without identifying vulnerable applications.  We should keep the focus on the directly usable formarts (JAR/EAR/WAR).

[2021-12-21 14:57] markus8899 commented on #189
hello,

I just noticed that .jar files that are vulnerable to CVE-2021-4104 seem to have a problem when exporting out to .csv or .json.

I run log4j-scan.exe with the parameter --fix --Report-csv --report-json. The console shows that there are findings and that they have been fixed. This is also written to the log file.

If I then run the scan again to check whether everything is OK, the console s

[2021-12-21 14:59] smartcitygame commented on #181
Thank you!!!

We are using also https://github.com/mergebase/log4j-detector, but it only reports if file is affected and mostly focusses on log4j2. I prefer your scanner/fixer :) it is much better.

[2021-12-21 15:04] xeraph commented on #189
@markus8899 Oh.. I reproduced bug. Would you open new issue?

[2021-12-21 15:05] markus8899 opened #191 "Bug when exporting Reports related to CVE-2021-4104"
hello,

I just noticed that .jar files that are vulnerable to CVE-2021-4104 seem to have a problem when exporting out to .csv or .json.

I run log4j-scan.exe with the parameter --fix --Report-csv --report-json. The console shows that there are findings and that they have been fixed. This is also written to the log file.

If I then run the scan again to check whether everything is OK, the console s

[2021-12-21 15:05] markus8899 commented on #189
done

[2021-12-21 15:08] rvtkruys-valtech commented on #175
on it. will provide feedback after test

[2021-12-21 15:18] xeraph commented on #191
@markus8899 Would you test new v2.5.3 release?

[2021-12-21 15:25] #133 closed

[2021-12-21 15:25] markus8899 commented on #191
It now works perfectly. Thank you very much!

[2021-12-21 15:26] xeraph commented on #191
@markus8899 Happy to hear that. :D

[2021-12-21 15:52] rvtkruys-valtech commented on #175
Dude, it work... thnx, this saves a lot of time for us...

[2021-12-21 15:53] xeraph commented on #175
@rvtkruys-valtech Thank you for test report!

[2021-12-21 15:53] #175 closed

[2021-12-21 16:04] xeraph commented on #156
@strawgate json report file contains error entries now.
You can also receive errors using `--syslog-level debug` option. Try v2.5.3 :D

[2021-12-21 16:04] #169 closed

[2021-12-21 16:05] #167 closed

[2021-12-21 16:05] #176 closed

[2021-12-21 16:05] #181 closed

[2021-12-21 16:06] #183 closed

[2021-12-21 16:06] xeraph commented on #183
Resolved in v2.5.3

[2021-12-21 16:07] #155 closed

[2021-12-21 16:08] #174 closed

[2021-12-21 16:09] #102 closed

[2021-12-21 16:34] arykov commented on #171
@pinacoelho, agreed on complexity(relative to zip). But disagree on value. There frequently are cases when software is distributed or backed up this way. So there is a risk of reintroduction of the problem. I assume you had the same rationale when implementing zip support and deciding not to limit "nesting" at 3 ear->war->jar :)

[2021-12-21 16:54] jadamcraig opened #192 "Beginning with v2.4.0, CSV reporting can produce a segmentation fault on Enterprise Linux 8.x systems (Rocky, RHEL, CentOS)"
Hello!

It appears that scanning using versions after 2.3.7 can produce a segmentation fault on some systems running Enterprise Linux 8.x (including Rocky, CentOS, and RHEL) if CSV reporting is enabled.

Scanning an EL 8.x system using v2.5.1 with reporting disabled:
[code]

Scanning the same EL 8.x system using v2.5.1 with CSV reporting enabled:
[code]

Scanning the same EL 8.x using v2.3.7 with

[2021-12-21 16:58] pinacoelho commented on #171
There's always a risk, but while going down tar.gz's would cover that, it doesn't cover off-machine backups (Veritas NetBackup, IBM TSM, etc...).
Also, backups are sacred:  as a sysadmin, whatever I've put in a backup, I expect to be there when I restore (for whatever reason), and that's non-negotiable from sysadmin and audit PoVs.

Not my rationale, but in my opinion a valid one.  EARs/WARs are a

[2021-12-21 16:59] xeraph commented on #192
@jadamcraig Hmm .. maybe graalvm native-image bug.. Would you try native binary in github actions menu?

[2021-12-21 17:59] jgstew commented on #150
Looks like this was released in this version here: https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.5.0

[2021-12-21 18:12] Mettemusens commented on #184
I found an older version in the bin - so I think i’m good

Thanks for s great product 👍

Sendt fra en mobil med stave-, slå- og andre fejl 😊
________________________________
Fra: Yang, BongYeol (xeraph) ***@***.***>
Sendt: Tuesday, December 21, 2021 3:27:58 PM
Til: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Mette Stephansen ***@***.***>; Mention ***@***.***>
Emne: [EXT] Re: [logpresso/CVE-2

[2021-12-21 18:14] nddipiazza opened #193 "symlinks not scanning"
symlinks are no longer scanning.

steps to reproduce

[code]

finds 0 vulns

note: Scanner 1.7.0 (2021-12-17) did not have this problem. this is new regression.

[2021-12-21 18:19] nedjitef commented on #188
I too want it and even would implement it, but I won't have the time to do so in the next few days.

[2021-12-21 18:19] luyseyal opened #194 "Exclude autofs by default"
Frequently, nfs and other remote filesystems are masqueraded by the filesystem type autofs. Please exclude autofs by default.

Thank you!

Great little program!

[2021-12-21 18:20] bpapitto opened #195 "What's the difference between vulnerable and potentially vulnerable results when running scan_log4j1"
I ran the tool using the --scan-log4j1 switch ( Enables scanning for log4j. Scan results indicate 5 potentially vulnerable files and no vulnerable files.  What's the difference between vulnerable and potentially vulnerable files and are potentially vulnerable files a risk?

[2021-12-21 18:34] jadamcraig commented on #192
@xeraph --

You may be on to something there!

When I use either the .jar file or the Linux binary from the `package.zip` download, all works great.  However, the binary from the "Releases" page produces the segmentation fault:

JAR from `package.zip`:
[code]

Binary from `package.zip`:
[code]

JAR from "Releases" page:
[code]

Binary from "Releases" page:
[code]

[2021-12-21 18:41] doctore74 commented on #178
syslog via udp is working -> that's great

Would it also be possible to add a flag to write this log to a local file?
I.e. Elastic can use its beat-agents. These are able to buffer the data. UDP just drops the data if it cannot be sent.

[2021-12-21 19:59] strawgate opened #196 "File not found on Windows vs Linux"
It looks like input file paths (when using `-f`) that don't exist on Windows are silently ignored but on Linux they produce Scan errors:

Linux:
`Scan error: '/usr/share/elasticsearch/bin/log4j.jar (No such file or directory)' on file: /usr/share/elasticsearch/bin/log4j.jar`

Windows:
[code]

[2021-12-21 21:00] sureshgurram123 commented on #168
@xeraph .. works great. Its like you just read my mind :)
It will be useful if we face any issues and we had to go back to original. Of course, we will delete the zip once we get enough confidence. Thank you very much :)

[2021-12-21 21:10] bef11 opened #197 "Mitigated files not detected"
We have run into an issue where mitigated files are not detected as such.

1) Scan detecting the vulnerable JAR:
[code]

2) Scan with --fix parameter:
[code]

3) Scan not able to detect the Installer.jar mitigated JAR:
[code]

[2021-12-21 21:17] strawgate commented on #156
Confirmed on Linux and opened bug https://github.com/logpresso/CVE-2021-44228-Scanner/issues/196 for Windows

[2021-12-21 21:17] #157 closed

[2021-12-21 21:18] #141 closed

[2021-12-22 01:02] jgstew commented on #194
is it safe to assume `autofs` is always a remote network location?

In my teams testing of the utility we knew auto mounts were a potential problem but we didn't have any in our lab environments so we were trying to figure out how to exclude it automatically using the --exclude option and a lookup but wasn't sure what to look for, but I think you just hit on it, probably `autofs`. Just curious if

[2021-12-22 01:04] jgstew commented on #193
I think the default might have changed to not scan symlinks automatically.

[2021-12-22 01:07] jgstew commented on #193
Hmm, I just checked the release notes. I think I'm wrong. My bad.

[2021-12-22 01:12] xeraph commented on #168
@sureshgurram123 Thank you for test report :D

[2021-12-22 01:12] #168 closed

[2021-12-22 01:15] xeraph commented on #156
@strawgate Thank you for test report!

[2021-12-22 01:15] #156 closed

[2021-12-22 01:41] xeraph commented on #194
Since I have decided to scan only fixed media by default, I will add `autofs` to ignore list.

[2021-12-22 01:42] xeraph commented on #192
@jadamcraig Thank you for detail regression! I will upgraide my local graalvm native-image.

[2021-12-22 01:43] #189 closed

[2021-12-22 01:44] xeraph commented on #195
@bpapitto See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/164#issuecomment-997737956

[2021-12-22 02:40] xeraph commented on #196
Interesting. Maybe a difference between Java implementation. I will fix it.

[2021-12-22 02:41] #118 closed

[2021-12-22 03:02] adammike opened #198 "Failing to detect nested log4j 2.12.1 in scanner versions >= 2.3.0"
One of my users came to me after they discovered that a recent version of the scanner no longer detected a vulnerable file with a nested log4j 2.12.1

I took the time to write a test suite, and ran it against all of the releases in this repo. Versions up to release 2.2.2 correctly identify this jar as vulnerable, versions 2.3.0 and higher do not catch it.

Release 2.5.3:
[code]
Release: 2.2.2:
[co

[2021-12-22 07:42] markus8899 commented on #191
Sorry, I just noticed that CVE-2021-42550 still behaves as described above. Could you please check / fix this?

[2021-12-22 07:58] AlexMilotin commented on #165
Hi @ajddba . Yes starting from 2.3.2 and above.

[2021-12-22 09:38] Pestimist commented on #167
this did not work correctly for one file for me on Windows 10
The file (MediathekView.jar) is part of [MediathekView](https://mediathekview.de/)
The file (and containing folder) were set to read-only, but I got the error message "File is locked by other process."
Changing access rights for file & folder solved this
But as I type these words, I think running the scanner with admin rights might have

[2021-12-22 09:57] uli42 opened #199 "Add option to ignore mitigated issues"
This would help to have a clearer output.

[2021-12-22 10:04] xeraph commented on #193
@nddipiazza Ah.. At first I think that you reported symlink file. Scanner does not follow symlink directory any more by default. It may cause infinite traverse loop.

[2021-12-22 10:08] xeraph commented on #197
In fact, this is an enhancement issue. Original JAR file doesn't have pom.properties and detected by vulnerable .class file itself. SInce vulnerable class files are removed, scanner cannot detect it any more. Nontheless, I agree that mitigated mark is expected. I will fix it in the next release.

[2021-12-22 10:11] xeraph commented on #198
@adammike Thank you for detail regression and your effort. Would you compress jar file with password protection, upload JAR here, and send a password to me? (since my gmail doesn't allow executable binary)
xeraph (at) logpresso.com

[2021-12-22 10:20] xeraph commented on #191
@markus8899 Scanner does not fix logback. I cannot ensure that it is safe to remove `ch/qos/logback/classic/util/JNDIUtil.class`. If you do it manually, you would see mitigated report.

[2021-12-22 11:46] markus8899 commented on #191
oh, i see. thanks

[2021-12-22 14:27] jgstew commented on #194
We got an ask from the field of people testing this utility that `afs` also get ignored / excluded by default:

- https://en.wikipedia.org/wiki/Andrew_File_System#:~:text=The%20Andrew%20File%20System%20(AFS,part%20of%20the%20Andrew%20Project.

[2021-12-22 15:13] xeraph commented on #192
Root cause was `--static` option. Maybe this is the same issue. https://github.com/oracle/graal/issues/3099

[2021-12-22 15:45] xeraph commented on #170
@lmalmeida Do you have any idea? Segmentation fault when `System.getProperty()` or `new SimpleDateFormat()` is invoked. https://github.com/logpresso/CVE-2021-44228-Scanner/issues/192#issuecomment-999648864

I guess I'll have to give up static build...

[2021-12-22 16:14] mpentenr commented on #194
Hi, how do I deactivate the automaic excludes if I want for example scan on nfs mounted drives ?
Is there an --include option which deativates the automatic excludes ?

Thanks
Marc

[2021-12-22 16:17] lmalmeida commented on #192
From a quick look, the binary I've build seems to work.
And the release binary works in my Ubuntu/WSL environment, but fails on Centos 8.

[2021-12-22 16:25] lmalmeida commented on #192
To clarify, feel free to use a dynamically linked binary as default. I try to build my own binaries.

[2021-12-22 16:25] xeraph commented on #188
Due to https://stackoverflow.com/questions/15521966/zipinputstream-getnextentry-returns-null-on-some-zip-files issue, I decided to use commons-compress and support tar format.

[2021-12-22 16:42] RoguishSmurf opened #201 "Regression: 2.4.1 and 2.5.3 detect but cannot mitigate log4j 2.16 in Oracle SQL Developer distribution."
Version 2.4.0 detected and mitigated log4j 2.16 in latest Oracle SQL Developer sqldeveloper-21.4.1.349.1822-x64. Versions 2.4.1 and 2.5.3 both detect the 2.16 vulnerability but do not mitigate it.

[2021-12-22 16:42] xeraph commented on #198
@adammike It was JDK problem. https://stackoverflow.com/questions/15521966/zipinputstream-getnextentry-returns-null-on-some-zip-files
I'll workaround this.

[2021-12-22 16:44] xeraph commented on #201
v2.4.0 behavior is bug. 2.16.0 should be upgraded to 2.17.0. DoS cannot be fixed by removing JndiLookup.class.

[2021-12-22 16:45] jgstew commented on #173
The name of this issue could probably be more clear. I just tried to look it up and had trouble.

[2021-12-22 16:48] lmalmeida commented on #192
Another datapoint. I've build a version in WSL/Ubuntu, and that one fails in Centos8.
Quick & dirty experiment: Can @xeraph  try to change the build pipeline for Centos8, and see if the generated binary works?
Another difference is that I'm using  Java 8 in Centos & Java 11 in WSL/Ubuntu, but a quick change to Java 11 in CentOS didn`t seem to have any change (ie: still works for me)

[2021-12-22 16:53] xeraph commented on #192
I've built release binary on CentOS 7.7.1908 and graalvm-ce-java11-21.0.0.2.
Don't you use musl? I tried it but native-image with musl fails with link failure.
If you just have added `--static` switch as above, I'll try other OS environments.
Thank you!

[2021-12-22 16:54] RoguishSmurf commented on #201
Thank you for the rapid response.

[2021-12-22 16:54] #201 closed

[2021-12-22 16:54] lmalmeida commented on #192
Just plain glibc, I believe

[2021-12-22 16:56] adammike commented on #198
Ah, that's great news. Thanks, @xeraph

[2021-12-22 18:49] xeraph commented on #198
@adammike Fixed in v2.6.0 release. Would you test it?

[2021-12-22 18:50] xeraph commented on #193
@nddipiazza Just released v2.6.0. It will follow symlink if user explicitly specified file path.

[2021-12-22 18:52] xeraph commented on #194
@luyseyal @jgstew Would you test v2.6.0 release?
@mpentenr Just override using `--exclude-fs` option. For example, `--exclude-fs tmpfs, devtmpfs`. If you want to scan all partitions, use `--exclude-fs none`.

[2021-12-22 18:55] xeraph commented on #196
@strawgate Maybe input.txt in Windows have only directories. I made same mistake when trying to reproduce. Anyway, I added error report for directory not found. Would you test v2.6.0 release?

[2021-12-22 18:56] xeraph commented on #192
@jadamcraig v2.6.0 release binary is reverted to dynamic link.

[2021-12-22 18:59] xeraph commented on #153
@AlexMilotin v2.6.0 release can resolves almost all ZIP errors.

[2021-12-22 18:59] #153 closed

[2021-12-22 19:00] #163 closed

[2021-12-22 19:01] xeraph commented on #150
@jgstew Yes. I will close this issue. Thank you for feature suggestion!

[2021-12-22 19:01] #150 closed

[2021-12-22 19:05] kleinski commented on #198
The log4j-scanner binary files and the .jar have now become way more larger than before. Is there way to get them smaller again?

And thank you btw for your really good work, @xeraph !

[2021-12-22 19:11] kleinski opened #202 "Symlink files lead to errors"
Hello @xeraph

2.6.0 tested on Debian 11 symlinks lead to errors:
`Error: File not found. Skipping /etc/sv/ssh/supervise`

Tested with and without `--no-symlink`

Thank you for your work!