[2021-12-22 19:16] xeraph commented on #202
@kleinski Hmm.. do you have permission on that file? On my machine:

[code]

[2021-12-22 19:20] nddipiazza commented on #193
@xeraph  can you elaborate what you mean by ` if user explicitly specified file path.`

[2021-12-22 19:22] nddipiazza commented on #193
never mind i totally get it.

[2021-12-22 19:22] xeraph commented on #193
@nddipiazza Technically, it means depth 0 scan target paths. :D

[2021-12-22 19:27] nddipiazza commented on #193
Verified fixed. Closing.

[2021-12-22 19:27] #193 closed

[2021-12-22 19:37] xeraph commented on #167
@Pestimist I installed MediathekView and tested it. It's not read-only problem. You should run scanner with administrator privileges. However, I think that message is confusing and misleading, please create an issue for this.
[code]

[2021-12-22 20:06] kleinski commented on #202
Yes, I have been root on the Debian system and tried the same as root on a Raspberry Pi with the jar.

The symlinked files are not existing, so the error output is alright, but as sometimes those symlinks can not be working - thinking of docker - it would be nice to not have that output.

Debian:

[code]

Raspbian, running some docker containers:
[code]

[2021-12-22 20:15] xeraph commented on #202
@kleinski I got it. This output is due to changes for #196
I want to hear which is better from other users.

[2021-12-22 20:16] xeraph commented on #202
Maybe same approach for symlink is good alternative.. (error report for explicitly specified paths)

[2021-12-22 20:21] thl-cmk opened #203 "Can not use --report-dir together with --report-json"
Hi,

i can not use the `--report-dir` option together with `--report-json`. Would be nice if this wehre possible.

[code]

THX.

[2021-12-22 20:23] kleinski commented on #202
I think that your scanner should scan primarily existing jar files and not work as a detection tool for broken links as a simple
`find . -type l ! -exec test -e {} \; -print` would do that job.

So maybe a switch `--report-broken-symlinks` would be a good solution and as standard behaviour I suggest to drop the error messages.

[2021-12-22 21:05] jvirot opened #204 "problem with option"
hello
i try a lot of this to perfom syslog option but i don't understand how to write this

Microsoft Windows [version 6.3.9600]
(c) 2013 Microsoft Corporation. Tous droits réservés.

c:\temp>log4j2-scan --all-drives
Logpresso CVE-2021-44228 Vulnerability Scanner 1.3.2 (2021-12-15)
Scan drives: C:\,D:\
^C
c:\temp>log4j2-scan --all-drives --syslog-udp
Logpresso CVE-2021-44228 Vulnerability Scanner

[2021-12-22 22:14] Jwalker107 commented on #204
Since you appear to be running on Windows, I'll mention that using 'syslog' on Windows systems is uncommon and not default - this is not for writing to the System Event Log, but for sending events to a 'syslog' server, much more common in Linux and UNIX deployments.

In that case, the option your last example is almost correct, except one would not use the square brackets in the actual command lin

[2021-12-22 22:51] adammike commented on #198
Ran my test suite against this version and it passed every single test. Bravo!

[2021-12-22 23:12] IanMajor12 commented on #96
Great scanner, thank you. Very easy to use and very effective too.
Used on Windows with the following in a batch file

`start "ServerName" /D .\Log4jScan /I log4j2-scan.exe --scan-log4j1 --scan-logback --scan-zip --report-path .\logs\ServerName.csv --report-csv \\ServerName\C$`

We are able to scan our 89 servers from a single location this way.

[2021-12-23 02:31] xeraph commented on #198
@adammike Thank you for file sharing again. The file was crucial for debugging. :D

[2021-12-23 02:31] #198 closed

[2021-12-23 03:19] xeraph opened #205 "Merry Christmas!"
![image](https://user-images.githubusercontent.com/2782192/147207567-29c4ee14-0f0a-4004-853f-52cd19285756.png)

It's been a really tough two weeks.
Most of the issues are created between 1:00 and 5:00 a.m. KST.
However I couldn't sleep because it was too critical vulnerability.

I really appriciate to all contributors. Especially:
* Christian Kemper (Afrouper), who sent many Pull Requests.
* James

[2021-12-23 03:42] xeraph commented on #202
@kleinski Would you test v2.6.1 release?

[2021-12-23 03:43] xeraph commented on #203
@thl-cmk Fixed in v2.6.1. Would you test it?

[2021-12-23 03:44] #146 closed

[2021-12-23 03:44] #164 closed

[2021-12-23 03:44] #166 closed

[2021-12-23 03:45] #173 closed

[2021-12-23 03:45] #184 closed

[2021-12-23 07:12] maokejackson opened #206 "Compress the mitigated file"
The file size of the mitigated file is bigger than the origin file. Will it be good to compress the mitigated file so that the size can be smaller? Or even detect the compression level of origin file and apply to the mitigated file.

[2021-12-23 07:25] Estarossa68 opened #207 "Scanner is freezing during scan and exiting Comand Prompt with Exit code 99"
Hello Team,

I am using the  Scanner to check if there are Vulnerable files on Computers but somehow the scan is quitting during scan and afterwards it is generating a errorcode file with the Exitcode 99. I did not see on the main readme an error Code like 99.

I am using the arg/param:

log4j2-scan.exe --scan-log4j1 --scan-logback --scan-zip --drives C --report-csv --report-path "home directory"

[2021-12-23 07:33] xeraph commented on #207
@Estarossa68  `--old-exit-code` option is deprecated. (only supported for backward compatibility). Exit code in README file states new exit code. If `--old-exit-code` run exit with 99, it means you have 99 vulnerable or potentially vulnerable files on C drive.

[2021-12-23 07:36] xeraph commented on #206
@maokejackson See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/93#issuecomment-995887061 . I think it's not a big deal.

[2021-12-23 08:02] thl-cmk commented on #203
tested, looks great. Thanks for your great work!

[2021-12-23 08:04] xeraph commented on #203
@thl-cmk Thank you for test report!

[2021-12-23 08:04] #203 closed

[2021-12-23 08:17] xeraph commented on #178
@doctore74 I'm considering syslog over tcp or HTTPS post logging. I will inform you if this feature is released.

[2021-12-23 08:19] maikas89 commented on #207
Hi Xeraph,
thanks for your fast reply. I'm from the same company as Estarossa.

We removed the --old-exit-code parameter and still get 99 as Error code. on 50% of the devices the script is running without any problems the other 50% are getting this error code. We're pushing the script with the Microsoft Endpoint Configuration Manager.

I tried to run the script manually on one of the affacted devi

[2021-12-23 08:22] xeraph commented on #207
@maikas89 Damn.. It may be another graalvm native image issue.  https://github.com/oracle/graal/issues/1600
I'll investigate more details.

[2021-12-23 08:41] xeraph commented on #207
@maikas89 Just to ensure, Do you use v2.6.1 release?

[2021-12-23 08:42] maikas89 commented on #207
yes. We started with the 2.5.3 release and updated today to v2.6.1. The problem exists on both releases.

[2021-12-23 08:58] xeraph commented on #207
If any one has same problem, regression would be help. It's very hard to reproduce in my environment.
e.g. static or non-static, native-image version difference. code base changes..

[2021-12-23 09:01] xeraph commented on #207
@maikas89 Does scanner terminate randomly when you run scanner repeatedly and manually on affected machine? or some other conditions?

[2021-12-23 09:09] MasteringTheMess opened #208 "misleading error message if not ran with admin privileges"
referring to [this comment](https://github.com/logpresso/CVE-2021-44228-Scanner/issues/167#issuecomment-999817991)

I got an "File is locked by other process." error message on MediathekView.jar from  [MediathekView](https://mediathekview.de/).
I resolved it by changing file and folder permissions, but the issue seems to be linked to not running the scanner with admin privileges.

In either case,

[2021-12-23 09:28] maikas89 commented on #207
I tried the .exe file --> still the same problem.

It seems that the scan always stops on the same step.
Started scan on client x --> it stops with error code 99 after 4 entrys in the logs (vulnerabilty) --> Started scan again it stops again with 99 after the same 4 entrys
Started scan on client y --> it stops with error code 99 after 12 entrys in the logs (vulnerabilty) --> Started scan again it

[2021-12-23 10:27] kleinski commented on #202
For me it is working as it should, many thanks.

And a question: The binaries are now really large - is it possible to get them as non static packages as well?

[2021-12-23 10:34] thl-cmk opened #209 "Error: Specify scan target path when --exclude option is before target path/--all-dirves/--drives"
Hi,

there is an issue with the order of the options. I get the error `Specify scan target path.` when I put the `--exclude` option before the `--all-drives`, `--drives`, or `target path option`.

[code]

If I change the order it works.
[code]

[2021-12-23 11:16] doctore74 commented on #178
@xeraph
I think a **locally stored log file** is really necessary to find out what the scan is doing and where it gets stuck when run unattended (e.g. monitoring tool).

btw. Keep going! Awsome work!

[2021-12-23 11:23] sds83uk opened #210 "Restriction preventing use of both --report-csv and --report-json"
Hi,

I drafted the following a few days ago but at that time a problem with my account meant that I was unable to add as a comment to a previous issue.
As this now covers two closed issues (references added) and has a separate request I hope this the an appropriate way to raise this.

### Original example (#174, resolved in version 2.4.1)
In version 2.4.0 there is an output which explains what hap

[2021-12-23 11:46] sds83uk opened #211 "Read-only file may be left in writable state"
I added a comment to issue #167 to a few days ago, unfortunately a problem with my account meant that I couldn't highlight this further and the comment would not have been displayed on the issue at the time the "patch released" label was added and the issue closed.

I believe that when `--fix` is used a read-only file may be left writable if:
1. The file is locked by other process.
2. The file con

[2021-12-23 11:54] xeraph commented on #210
@sds83uk Why do you need both csv and json report file which has the same data?

[2021-12-23 12:10] sds83uk commented on #210
Unfortunately we are still very much in the investigation stage.
The CSV format will be more comfortable for some teams to review.
The detailed information (and errors) presented in the JSON file is great for our technical teams.

[2021-12-23 12:28] xeraph commented on #210
@sds83uk
Since csv and json shares same `--report-path` and `--report-dir`, you should choose one.
If some teams prefer CSV format, you can convert json to csv files using Logpresso Mini (another freeware).

Download windows or linux binary from here
https://github.com/logpresso/community

Use this command with uploaded [query.txt](https://github.com/logpresso/CVE-2021-44228-Scanner/files/7769282/

[2021-12-23 13:05] sds83uk commented on #210
My apologies, I see it now!
It was late when I wrote my comment and I didn't put it under scrutiny again in the light of day.

Could the snippet I suggested removing be changed to only apply to `--report-path` (i.e. if the the following parameters are specified):
`--report-csv --report-json --report-path`?

I understand and would be okay with both types of reports being created in the same folder

[2021-12-23 13:25] sds83uk opened #212 "Query regarding how to build native image"
I should probably start this query with a disclaimer...

I am not a Java developer but was asked if I could build the scanner, from source, into a Windows executable.
It is a bit long-winded (and all new to me) but the short version is that I have found a way to install+configure the necessary components (initially in a Windows Sandbox) to allow me to "package" using VSCode+Maven and create the "n

[2021-12-23 13:38] lmalmeida commented on #212
Have you tried
[code]
?

[2021-12-23 13:40] xeraph commented on #212
If you can build JAR using maven, use `mvn package -Pnative`.

If you just downloaded JAR, and want to build native image using it:
* Use reflection-config.json instead of scanner.json
  * https://github.com/logpresso/CVE-2021-44228-Scanner/blob/main/src/main/resources/META-INF/native-image/com.logpresso/log4j2-scanner/reflection-config.json
* `native-image --static -jar log4j2-scanner-2.6.1-packa

[2021-12-23 13:44] xeraph commented on #210
@sds83uk A bit complicated but it makes sense. I'll fix it.

[2021-12-23 14:17] xeraph commented on #202
@kleinski Except some releases, only linux images are doubled.
* logpresso-log4j2-scan-1.0.0-win64 (non-static) = 9.4MB (zip is 2.8MB)
* logpresso-log4j2-scan-1.0.0-linux (non-static) = 9.1MB (tar.gz is 2.7MB)
* logpresso-log4j2-scan-2.6.1-win64 (non-static) = 11.8MB (zip is 3.4MB)
* logpresso-log4j2-scan-2.6.1-linux (non-static) = 17MB (tar.gz is 5.1MB)

And JAR file size are really got bigger.
*

[2021-12-23 14:22] sds83uk commented on #205
A heartfelt thank you for your dedication to detecting, reporting on and mitigating these vulnerabilities!

Like many people here, I was tasked with finding a tool that could scan the file system to provide an understanding of our level of risk. I have watched with awe the rapid pace of development and continual improvements during LONG hours of the day as well as a weekend of refactoring and furt

[2021-12-23 18:46] sds83uk commented on #212
Thank you both!

After some experimentation, since Pull Request 172 I have found that I can just:

1. "**Open x64 Native Tools Command Prompt for VS 2019**"
2. Run `mvn package -Pnative`

Whilst the above is now my preferred option, I found that I could also use `native-image ... -H:ReflectionConfigurationFiles=reflection-config.json` to build the Windows executable against:
* the downloadable JAR

[2021-12-24 02:05] xeraph commented on #212
@sds83uk Your logs will be helpful to many people trying to build own image. :D

[2021-12-25 12:27] kleinski commented on #202
Hello @xeraph

first I want to wish you a merry xmas!

I meant the native image files. Especially the linux binary, as we need to deploy them on many hosts.
But if it is not possible to shrink them, we will surely live with that.

Thanks again for your work here.

[2021-12-25 22:08] jvirot commented on #204
ok.
i had try this before but the result is :

Microsoft Windows [version 6.3.9600]
(c) 2013 Microsoft Corporation. Tous droits réservés.

C:\Users\administrateur>cd c:\temp

c:\temp>log4j2-scan --all-drives --syslog-udp 192.168.9.80:5544
Error: unsupported option: --syslog-udp

c:\temp>

[2021-12-26 00:56] xeraph commented on #209
@thl-cmk Argument parsing on cmd or powershell is tricky. If you remove last backslash, it works as usual. `--all-drives` option is treated as part of the path in this case.
For example:
[code]
For details, see https://daviddeley.com/autohotkey/parameters/parameters.htm
![image](https://user-images.githubusercontent.com/2782192/147396287-95957cbb-6185-4821-85b1-d3c1dde1b23a.png)

[2021-12-26 04:38] xeraph commented on #211
@sds83uk Would you test v2.6.2? https://github.com/logpresso/CVE-2021-44228-Scanner/commit/7427988291b0171873581a4171b9087a379a6713

[2021-12-26 04:42] xeraph commented on #197
@bef11 Would you test v2.6.2 release?

[2021-12-26 04:42] #192 closed

[2021-12-26 04:43] #194 closed

[2021-12-26 04:43] xeraph commented on #208
@pse1202 Fixed in v2.6.2 release. Would you test it?

[2021-12-26 04:44] xeraph commented on #210
@sds83uk Fixed in v2.6.2. Would you test it?

[2021-12-26 04:46] xeraph commented on #204
@jvirot You should use latest version. `--syslog-udp` option is supported since v2.5.0.

[2021-12-26 04:48] #202 closed

[2021-12-26 07:47] thl-cmk commented on #209
@xeraph

true ;-)

just tested a little more. Looks like this is only an issue if there are white spaces in the path.

for example `C:\Windows\`  (with "\\" at the end, but nor white space)  works
[code]

` 'C:\Program Files\'`  (with white space and "\\" at the end) dosen't work
[code]

` 'C:\Program Files'` (with white space and  no "\\" at the end)  also works
[code]

[2021-12-26 13:53] sds83uk commented on #210
Thank you! This is now working as requested:

### Create named report files

1. `--report-path Test1.csv`
OUTPUT: created CSV (as `--report-path` "Implies --report-csv.")
2. `--report-path Test2.csv --report-csv`
OUTPUT: created CSV

3. `--report-path Test3.csv --report-csv --report-json`
OUTPUT: Cannot use both --report-csv and --report-json options if --report-path is specified. Choose one.

4.

[2021-12-26 13:53] #210 closed

[2021-12-26 14:00] xeraph commented on #210
@sds83uk Thank you for detail test report!

[2021-12-26 14:10] sds83uk opened #213 "New Log4j releases (2.12.3 and 2.3.1) identified as vulnerable"
If I am reading the Apache Log4j pages and release announcements correctly, I believe there are now three releases which are not affected by the current CVE's (44228, 45046 and 45105):

* Log4j 2.17 (for Java 8 and later)
* Log4j 2.12.3 (for Java 7)
* Log4j 2.3.1 (for Java 6)

If I have understood correctly, a change would be required to ensure the latter two should are not identified as Vulnerabl

[2021-12-26 14:40] xeraph commented on #213
@sds83uk Would you test v2.6.3 release?

[2021-12-26 14:40] jvirot commented on #204
ok,
thanks it's seem to be work with 2.6.2

last questions, i have 0 vulnerability after scan. i supose no log was sent to my syslog because i reveive nothing, do i hae an option to send syslog with or without vulnerability?

[2021-12-26 14:42] xeraph commented on #204
@jvirot Would you open a new enhancement issue?

[2021-12-26 14:43] sds83uk opened #214 "Option to include non-vulnerable releases in report?"
Would it be possible to include all detected version of Log4j in scanning output and reports?
Could this be extended to include Logback, when using `--scan-logback`?

The use case would be for auditing purposes. Additionally, if a new vulnerability is identified the report could be used to quickly identify any potential exposure; especially in environments where automated scans are not currently a

[2021-12-26 14:45] jvirot commented on #204
just want to know if it's normal or not to not have syslog report iwth 0 vulnérability and how to send with 0 vulnerability

[2021-12-26 14:47] xeraph commented on #204
@jvirot Scanner doesn't send any report if no vulnerable log4j found. (it's normal). You cannot send syslog for 0 vulnerability. thus needs new issue.

[2021-12-26 14:48] sds83uk commented on #213
That has worked for me, thank you!

[2021-12-26 14:48] #213 closed

[2021-12-26 14:55] xeraph commented on #214
IMHO, that is the scope of SBOM (software bill of material) management software. There are similar requests here as well for audit purpose. However I think it should be an independent service or solution.

[2021-12-26 15:34] sds83uk commented on #214
Thank you for your insight, I admit to not being familiar with SBOM.

I was latching onto the possibility that this tool could detect these vulnerabilities to inform our level of risk (now and in the future), which is something that some vendors were struggling to do. I have to remain optimistic that this will change and through your comment recognise that actually we should be approaching vendors

[2021-12-26 15:42] jvirot commented on #204
i try a scan with log4j1 option ans i have vulnerability...  but i don't receive syslog ( i have a nagios syslog) and no problem with firewall i check with portqry and the result is listening

c:\temp>log4j2-scan.exe --all-drives --syslog-udp 192.168.9.80:5544 --syslog-level alert --scan-log4j1 --scan-logback
Logpresso CVE-2021-44228 Vulnerability Scanner 2.6.2 (2021-12-26)
Scanning drives: C:\, D

[2021-12-26 15:48] xeraph commented on #204
Check outgoing syslog packets using wireshark first. icmp response can be filtered when you are checking udp port using portqry.

[2021-12-26 16:51] jvirot commented on #204
I just check my packets with wireshark and on my firewall and nothing was sending

[2021-12-27 04:16] xeraph commented on #204
@jvirot My test output on v2.6.3 (expected output)
[code]
![image](https://user-images.githubusercontent.com/2782192/147433676-a09aca94-2040-4609-b173-64a3ba771c82.png)

If scanner cannot send syslog, it should print error message like this:
[code]

[2021-12-27 12:18] sunilsrinivas93 opened #215 "Scanner not detecting Apache Log4j 1.2 Remote Code Execution Vulnerability CVE-2021-4104 related file"
Hi Support
It looks scanner in not detecting Apache Log4j 1.2 Remote Code Execution Vulnerability CVE-2021-4104  related file on RHEL 7.9
Linux servers. In our setup we are suing Microsoft Defender for Cloud(Qualys.LinuxAgent.AzureSecurityCenter) which still show our server is impacted with CVE-2021-4104. When i am running the logpresso-log4j2-scan-2.6.3-linux.tar.gz scanner the result is 0.

 ./l

[2021-12-27 12:50] xeraph commented on #215
@sunilsrinivas93 Use `--scan-log4j1` switch.

[2021-12-27 13:31] sunilsrinivas93 commented on #215
Hi Xeraph
Thank you its worked :)

Regards
Sunil S

[2021-12-27 13:54] jvirot commented on #204
it's ok, i receive syslog now... after a reboot of the 2012R2 machine.... windows bug ! ;-)

Found 8 potentially vulnerable files, but in my syslog i have only one entrie.... the last one

Microsoft Windows [version 6.3.9600]
(c) 2013 Microsoft Corporation. Tous droits réservés.

C:\Users\administrateur>cd c:\temp\log4j2

c:\temp\log4j2>log4j2-scan --all-drives --syslog-udp 192.168.9.80:5544 --sys

[2021-12-27 14:01] jvirot commented on #204
if i delete the last option --scan-logback, i find 7 potentially vulnerable files, it's logic, and if i have i look in my syslog i find just one alert the last files that log4j find on CVE-2101-4104 this time

![image](https://user-images.githubusercontent.com/58752114/147478790-e07a5582-93b7-4ad4-8384-8f0085845764.png)

[2021-12-27 14:14] xeraph commented on #215
@sunilsrinivas93 That's good news!

[2021-12-27 14:16] #215 closed

[2021-12-27 14:31] xeraph commented on #204
@jvirot Finally.. You did it! Maybe last screenshot means unexpected syslog drops.. Some open source daemons cannot receive all syslog packets due to garbage collection stall. If you have more time, wait HTTPS POST logging feature (maybe.. next week)

[2021-12-27 18:55] KB4MDD opened #216 "java.lang.OutOfMemoryError"
Logpresso CVE-2021-44228 Vulnerability Scanner 2.6.3 (2021-12-27)

Running scan (36s): scanned 840 directories, 10738 files, last visit: C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys
Fatal error: unhandled exception in isolate 0x1c243e00000: java.lang.OutOfMemoryError: Could not allocate an aligned heap chunk

[2021-12-28 01:44] xeraph commented on #216
@KB4MDD I need more information. Out of millions of scans, you might be the first who encounter this error.
Run scanner with `--trace` and `--debug`. What was the last visited file before OutOfMemoryError exception?
Does scanner crash with the same file for repeated runs?
Comment with command itself with arguments and output.

[2021-12-28 10:53] Mandy67890 opened #217 "what's the meaning of "Scanned 0 directories and 0 files"?"
Hello.
i am using log4j2-scan to scan all directories under /  as blow, but the output is "Scanned 0 directories and 0 files", does it mean no vulnerabilities?

As i understand, no directories and files were scanned, i do not  know why it happened? on another environment, using the same command, vulnerabilities were scanned.  could you please help on it, thanks in advance:)

./log4j2-scan /
Logpre

[2021-12-28 12:00] JackGruber commented on #217
Hello, that no files were scanned. You have in your exclusion list `/` witch exclude all directorys.

[2021-12-28 13:19] MasteringTheMess commented on #208
Oh, I'm a bit late, we have already v2.6.3
Now I get the following error message (running without admin privileges):

`Error: Cannot lock file C:\Program Files\MediathekView\MediathekView.jar (Access is denied). Skipping C:\Program Files\MediathekView\MediathekView.jar`

with admin privileges, the result is very pleasant :)
`Fixed: c:\Program Files\MediathekView\MediathekView.jar`

[2021-12-28 15:43] xeraph commented on #217
@Mandy67890 Would you comment `fdisk -l` or `du -T`? Maybe root directory is one of nfs, nfs3, nfs4, afs, cifs, autofs,  tmpfs, devtmpfs, fuse.sshfs or iso9660 file system. You can force run with `--exclude-fs none` switch

[2021-12-28 15:46] xeraph commented on #208
@MasteringTheMess Thank you for test report! :D

[2021-12-28 15:46] #208 closed

[2021-12-28 19:14] sureshgurram123 commented on #207
I am facing the same issue. When I run the scanner manually never experienced 99 error.
But the when the tool rolled out through sccm few machines ( 4 out of 10 ) failed with 99 error. Able to run the tool manually in all these 4 machines. I am using 2.6.1 version

[2021-12-28 19:43] adammike opened #218 "CVE-2021-44832: RCE in log4j 2.17.0"
log4j 2.17.1 has been released to resolve CVE-2021-44832, a new RCE

Apache Log4j2 versions 2.0-beta7 through 2.17.0 (excluding security fix releases 2.3.2 and 2.12.4) are vulnerable to a remote code execution (RCE) attack where an attacker with permission to modify the logging configuration file can construct a malicious configuration using a JDBC Appender with a data source referencing a JNDI UR

[2021-12-29 00:59] naudob commented on #218
Do we know if a newer version to detect this new vulnerability will be released as well?
Thanks!

[2021-12-29 00:59] xeraph commented on #218
@adammike @naudob I'm on it. With in 1 hour.

[2021-12-29 02:01] xeraph commented on #218
@adammike @naudob Would you test v2.6.5 release?

[2021-12-29 02:52] Mandy67890 commented on #217
Hi xeraph,
With --exclude-fs none switch works for me,  thanks for your help:)

//Mandy

[2021-12-29 03:37] naudob commented on #218
Thanks @xeraph appreciate it - will let you know. Do you happen to know if there's one to run for 32bit?

[2021-12-29 03:46] xeraph commented on #218
@naudob No.. graalvm does not support native image build for 32bit. Use JAR version instead.

[2021-12-29 07:21] miyou361 commented on #218
Love this tool! - Was curious since deleting the JDBCAppender class would mitigate CVE-2021-44832, why not make that a switch in the tool for users to have a temporary mitigation while they work on getting the full patch?

[2021-12-29 08:31] xeraph commented on #218
@miyou361 Unlike JMSAppender, JDBC logging is more common configuration. I need more user feedback.
I don't think CVE-2021-44832 is serious threat. If any one can edit configuration file, it is already breached.

[2021-12-29 09:00] arnarthor88 commented on #218
Tested on a few servers. Successfully detected 2.17 version on them.
I'm curious, does the scanner just detect that the log4j version is 2.17 or does it search for certain vulnerable configuration within version 2.17 ? :) @xeraph

`C:\admin>log4j2-scan.exe --all-drives
Logpresso CVE-2021-44228 Vulnerability Scanner 2.6.5 (2021-12-29)
Scanning drives: C:\, F:\

Running scan (10s): scanned 6412 dire

[2021-12-29 09:33] naudob commented on #218
@xeraph @arnarthor88 I also had a similar question. If we ran the previous version for mitigations up to 2.16, does that mean they are mitigated for this new vulnerability since the files were archived or do we need to run the new one to remove certain files for this new vulnerability? Thanks

[2021-12-29 09:42] xeraph commented on #218
@arnarthor88 The scanner just check version.

@naudob If you already ran scanner and fixed 2.16 or below log4j 2.x binaries or log4j 1.x binaries, there is no futher mitigation patch.

[2021-12-29 09:52] naudob commented on #218
Thanks @xeraph appreciate your great work. So just to confirm if I have a server and I ran the previous Logpresso version where it detects up to to 2.15 or 2.16, and my current server does not have version 2.17, I do not need to re-run again? Thank you

[2021-12-29 09:55] xeraph commented on #218
@naudob Sure.

[2021-12-29 13:41] ashvgk opened #219 "Is there scan option for Windows 2003 servers?"

[2021-12-29 13:54] arnarthor88 opened #220 "--force-fix not creating backup .bak in 2.6.5. Is this normal ?"

[2021-12-29 13:59] KB4MDD commented on #216
This is a snip from the bottom of the trace:

Scanning directory: C:\ProgramData\Microsoft\Crypto\Keys
Skipping file: C:\ProgramData\Microsoft\Crypto\Keys\597367cc37b886d7ee6c493e3befb421_ed4d81fc-9520-4ae2-b456-c9805e60cacc
Skipping file: C:\ProgramData\Microsoft\Crypto\Keys\f0e91f6485ac2d09485e4ec18135601e_ed4d81fc-9520-4ae2-b456-c9805e60cacc
Scanning directory: C:\ProgramData\Microsoft\Crypto\P

[2021-12-29 14:27] arnarthor88 commented on #220
--fix also does not keep a .bak file... During the process I can see the .bak file appear but then disappear. When an .bak file exists next to the .jar file it complains about not being able to create a backup file

[code]

Running it with no .bak file next to the .jar file yields the following:

[code]

[2021-12-29 14:29] xeraph commented on #220
@arnarthor88 Normal behavior. See release note https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.5.0

[2021-12-29 14:32] xeraph commented on #219
@ashvgk I can't understand what you mean..

[2021-12-29 14:35] arnarthor88 commented on #220
oops, totally missed this going through all the versions :'D Thanks!

[2021-12-29 14:42] xeraph commented on #220
@arnarthor88 That's ok. There was too many changes.. :D

[2021-12-29 14:48] ashvgk commented on #219
@xeraph

This scanner tool is not running on Windows 2003 OS. It says not supported by the machine type. Its 32 bit version.

[2021-12-29 15:01] xeraph commented on #219
@ashvgk JDK7 (32bit) is supported since Windows 2008 server or Windows Vista. Sorry..

[2021-12-29 15:03] Sokolies opened #221 "Delta between path and version"
I'm getting a delta between the version of the path and the version itself.

`msg += " Found " + cve + " (log4j 2.x) vulnerability in " + path + ", log4j " + version;`

I understand that the path and the version could be different if log4j is wrapped into another lib, but in my case those are the same.

_For example :_
[*] Found CVE-2021-44228 (log4j 2.x) vulnerability in /opt/oracle/weblogic_12.2

[2021-12-29 15:06] xeraph commented on #221
@Sokolies Would you rename log4j-1.2.17.jar to log4j-1.2.17.jar.zip and upload it here?

[2021-12-29 15:15] xeraph commented on #216
@KB4MDD
I suspect the file which causes OutOfMemoryError resides in `C:\Program Files (x86)\RBS Server\Web\Help\Simple\`
You can narrow down scan target like this:
`log4j2-scan --trace --debug C:\Program Files (x86)\RBS Server\Web\Help\Simple\`
For specific file:
`log4j2-scan --trace --debug C:\Program Files (x86)\RBS Server\Web\Help\Simple\webhelp.jar`

If you can find file which causes OOM, send

[2021-12-29 16:24] Sokolies commented on #221
I double checked the .jar and it seems that the version of the pom.xml is '2.12.1'.
It may be a Maven issue or a renaming error that led to this mismatch in between the jar name and the real version.

[2021-12-29 16:24] #221 closed

[2021-12-29 17:55] desiklolan commented on #216
Same Issue:

<![LOG[[Installation] :: Standard error output from the process: Fatal error: java.lang.OutOfMemoryError: Could not allocate an aligned heap chunk

JavaFrameAnchor dump:

Anchor 000000ef176ff3b0 LastJavaSP 000000ef176ff320 LastJavaIP 00007ff60522b30e

TopFrame info:

TotalFrameSize in CodeInfoTable 48

VMThreads info:

VMThread 000002074fc97ec0 STATUS_IN_JAVA (safepoints disabled) jav

[2021-12-29 17:59] nedjitef opened #222 "Option to disable specific checks"
Hi,

there is at least one CVE around, which requie the attacker to have write access to the configuration. Now I saw another one and kind of lost track of is.

Not sure, but it it's not a single CVE but two, would it be possible to add an option to opt out scanning for CVEs, where write access to a configuration file is required?

Checking log4j doesn't help much, if the attacker already has writ

[2021-12-29 20:44] arnarthor88 commented on #220
Since this is still open I'd like to ask a quick question.. Does the scanner preserve user&groups permission on the Linux version ? @xeraph

[2021-12-30 02:04] miyou361 commented on #218
@xeraph - Understood on increased potential app breakage due to more broad use of JDBCAppender, hence suggestion as making it an option (flag) to remove just like v1 fix.  One item along this same train of thought is that I believe a number of people may not understand what specific CVE's are actually mitigated when the fix flag and v1 flag is set, so I've taking a stab at it here:

The following

[2021-12-30 03:49] xeraph commented on #220
@arnarthor88 Scanner truncate original file to zero and rewrite it. So there is no permission changes or symlink changes.

[2021-12-30 09:03] thl-cmk opened #223 "Can not exclude specific files (only paths/directories is working)"
Hi,

I need to exclude specific files (not paths/directories) from the scan. So far I have tryed the `--exclude` and `--exclude-config` options, but no success.

[code]
and with the --exclude-config option

[code]

In both cases the scanner showes the file as excluded but still tryes to scan it.

[2021-12-30 09:11] xeraph commented on #223
@thl-cmk You are right. Current version only excludes directories for maximum scan speed. If scanner tries to exclude also files, it should match all files (millions of..) and performance will be severely degraded. If you want to scan specific files, compose log4j2-scan with find command.

[2021-12-30 09:15] thl-cmk commented on #223
I see.

I want exacly the oposite, scann all files except a few...

[2021-12-30 09:19] xeraph commented on #223
Maybe another option should be added for that.. Exact full path match is relatively cheap, but current option uses prefix match for directory matching.. (comparison count = exclude pattern count x file count)

[2021-12-30 09:23] thl-cmk commented on #223
would be great to have this, so I could exclude known errors (broken zip for any reason for example)

[2021-12-30 10:00] arnarthor88 commented on #220
Thanks @xeraph :D

[2021-12-30 10:00] #220 closed

[2021-12-30 13:17] kisnalam opened #224 "coredump file on linuxRHEL 7.4"
Error code 255 and coredump file getting generated. Any known issue or what does return code 255 mean ?
How to analyse the coredump file.

[2021-12-30 13:26] kisnalam commented on #224
And another error on AIX

Exception in thread "main" java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=com/logpresso/scanner/Log4j2Scanner, offset=6
	at java.lang.ClassLoader.defineClassImpl(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:324)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:155)
	at java.net.URLClassLoader.defi

[2021-12-30 13:37] Limality opened #225 "DBArchiveEngine.jar potentially vulnerable but non are found when scanning unpacked directory."
We use Commvault SQL Backupagent and the scanner found a potentially vulnerable .jar file. Our application owners applied Commvault's hotfix, but it still found the .jar files from the fix to be potentially vulnerable.

So I unpacked the jar file and scanned the directory: 0 on all counts

Is there an explanation for this behaviour?

![image](https://user-images.githubusercontent.com/3248647/14775

[2021-12-30 13:45] xeraph commented on #224
@kisnalam
1. Which scanner version do you use? line number does not match.
2. How many files in your directory? Find last visit directory using `--trace` option. If there are too many files in one directory, java heap can be exhausted. If you have sufficient free memory, use `-Xmx4G` switch to allocate 4GB at maximum.
3. Which java version do you use on AIX? `java -version`

[2021-12-30 13:50] xeraph commented on #224
Also see https://github.com/logpresso/CVE-2021-44228-Scanner/issues/123#issuecomment-996777425

[2021-12-30 13:57] xeraph commented on #225
@Limality It means that hotfixed version also have JndiLookup.class file. Since DbArchiveEngine.jar has no pom.properties, scanner cannot detect log4j version. Log4j 2.17.1 still has JndiLookup.class, so it can be false positive.

If you want to confirm hotfix is applied, rename DbArchiveEngine.jar to DbArchiveEngine.jar.zip and upload it here.

[2021-12-30 14:18] xeraph commented on #207
@maika89 @sureshgurram123 I don't know sccm well. Does MECM/SCCM run powershell script remotely? If it does, I suspect remote shell memory limit.
https://stackoverflow.com/questions/9665981/outofmemory-exception-on-remote-execution-using-powershell-invoke-command

[2021-12-30 14:21] #211 closed

[2021-12-30 14:22] #196 closed

[2021-12-30 14:22] #197 closed

[2021-12-30 14:22] #206 closed

[2021-12-30 14:22] #217 closed

[2021-12-30 14:27] xeraph commented on #216
@desiklolan If you have stable reproduce step, send me how to do it. (or upload file please..)

[2021-12-30 14:29] #209 closed

[2021-12-30 17:17] mrl-siemens commented on #223
This discussion confirms that --exclude-pattern is completely non-functional for files and will continue to be. Please update the help output to clarify that the pattern only applies to directory names, not file names.

[2021-12-30 17:20] xeraph commented on #223
@mrl-siemens Send me PR. I think it already states directory like this:
[code]

[2021-12-30 17:29] mrl-siemens commented on #223
Greetings,

Similar language for the --exclude-filter option would be great.

Sorry, I have no experience with GitHub.  What is a PR?

Thanks,
Mark

From: Yang, BongYeol (xeraph) ***@***.***>
Sent: Thursday, December 30, 2021 11:20 AM
To: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Ludwig, Mark (DI SW LCS APPS TC-ENT) ***@***.***>; Mention ***@***.***>
Subject: Re: [logpresso/CVE-2021-44228-

[2022-01-01 17:58] thl-cmk opened #227 "Missing option --syslog-facility"
I would like to have the syslog facility configurable via an option like `--syslog-facility facility`. With this option i've been able to forward the syslog messages to the right team, without even looking at the message itself. Such option would be especially great for host with more the one syslog sender, where I will not be able to filter on the sender IP-address.

[2022-01-01 18:17] thl-cmk opened #228 "change of syslog severity"
At the moment syslog messages are send like this

- Files (potentially) vulnerable > Severity alert
- Files mitigated > Severity notice
- "error": "Skipping broken jar file..." > Severity debug

I would like to have this changed a bit,
- Files mitigated > change the configuration option `--syslog-level info` to  `--syslog-level notice` to match the severity
- "error": "Skipping broken jar file..."

[2022-01-01 18:26] thl-cmk opened #229 "Error: File already exists - /var/log/log4j-report.csv"
With the `--report-path` I get the error `Error: File already exists - reportfile` if the reportfile already exist, It would be great if I could append the report to an already existing report.

[2022-01-01 19:08] thl-cmk opened #230 "Wrong format of the syslog messages"
Your syslog message looks at the moment like this

`<133>{"time": "2022-01-01 19:35:25+0100", "hostname": "checkmk", "path": "/usr/bin/pycharm/pycharm-community-2021.1.3/lib/log4j.jar", "entry": "", "product": "Log4j 1", "version": "1.2.17.2", "cve": "CVE-2021-4104", "status": "MITIGATED", "fixed": false}
`

Acording to RFC5424 the header (the stuff before the STRUCTURED-DATA/MESSAGE) should look

[2022-01-01 19:57] doctore74 commented on #229
I can confirm this finding.

[2022-01-02 05:37] xeraph commented on #230
@thl-cmk Would you comment some implementations which cannot parse current syslog? AFAIK, most log management or siem products have regex or grok configurations for syslog parsing. I agree with your opinion that it's worth complying with the RFC, but most security devices use pri header only. I saw 100+ log formats over 15 years as a SIEM developer..

[2022-01-02 05:50] xeraph commented on #229
This is by design. This request is merged into #178

[2022-01-02 05:50] #229 closed

[2022-01-02 07:48] thl-cmk commented on #230
@xeraph At the moment I am only awere of one specific syslog implementation, it's CHECKMK, the monitoring system where I am integrating your scanner with. There is some automatic stuff going on begore one can access the massage (for futher filtering) and in this process the message is broken. Looks like this

![image](https://user-images.githubusercontent.com/65558014/147869400-048b40c0-76b9-4009-

[2022-01-02 07:53] thl-cmk commented on #178
@xeraph

Will this also work with CSV format?

THX

[2022-01-02 11:45] xeraph commented on #230
This is a real world.. Even though they say it conforms to RFC5424, it doesn't recognize BOM.
![image](https://user-images.githubusercontent.com/2782192/147874704-c6b7a626-b627-4c14-ac4f-79837a975df3.png)

[2022-01-02 12:38] xeraph commented on #223
@thl-cmk @mrl-siemens
Would you test v2.7.0 release? You can use `--exclude-file-config` option to specify exclude file path list.

[2022-01-02 12:38] xeraph commented on #230
@thl-cmk Woudl you test v2.7.0? Use `--rfc5424` option to follow rfc5424. It would be great if checkmk screenshot is attached.

[2022-01-02 12:40] xeraph commented on #227
@thl-cmk Would you test v2.7.0 release? `--syslog-facility` option is added as you suggested.

[2022-01-02 12:41] xeraph commented on #178
@thl-cmk @doctore74 Would you test v2.7.0 release? You can use `--csv-log-path` or `--json-log-path` option for file logging.

[2022-01-02 12:42] xeraph commented on #225
Closed due to no response.

[2022-01-02 12:42] #225 closed

[2022-01-02 12:42] thl-cmk commented on #230
@xeraph Great work :-) I certainly will test it.

I was in the process of closing this, as after more digging the issue with the syslog implementaion of CHECKMK is not only because of the non rfc5424 formating. Guess I have to check this with the tribe29 guys anyway :-(

and now I will test all the new options :-)

[2022-01-02 12:43] #205 closed

[2022-01-02 12:44] #219 closed

[2022-01-02 12:57] xeraph commented on #218
@miyou361 Added `--fix` coverage to README. Thank you for suggestion.

[2022-01-02 12:57] #218 closed

[2022-01-02 13:25] thl-cmk commented on #230
I think ther is still a little issue with the rfc5424 formating,  At the moment
facillity/severity is still ok.
version > now ok
timestamp > now ok
hostname > now ok
app name > not ok
process-id > not ok
message id > not ok

I guess the app name sould be `LOPGRESSO LOG4J2-SCAN DETECT` but because of the whitespaces it gets split into
app name > LOPGRESSO
process-id > LOG4J2-SCAN
message id > DETEC

[2022-01-02 13:28] xeraph commented on #230
That is exactly what I intended :)
message id can be DETECT or ERROR

[2022-01-02 13:41] thl-cmk commented on #230
Ok, and process-id should be LOG4J2-SCAN?

[2022-01-02 13:45] thl-cmk commented on #227
Looks good :-)

[2022-01-02 13:51] xeraph commented on #230
Yes. Process name `LOG4J2-SCAN` is intended.

RFC5424 6.2.6
[code]

If `--syslog-level debug` is specified, such message can be sent.

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/8ca2110751de9ea4d14edde61e66474f1403bae0/src/main/java/com/logpresso/scanner/LogGenerator.java#L144-L157

[2022-01-02 14:07] thl-cmk commented on #178
Added --csv-log-path option

looks good /json also ok), except for the missing the headline in the csv file, should be put there on creation of the file.

[2022-01-02 14:09] doctore74 commented on #178
@xeraph

Looks good so far.

`"unifi","/usr/lib/unifi/lib/log4j-core-2.13.3.jar","","Log4j 2","2.13.3","CVE-2021-44228","VULNERABLE","","2022-01-02 14:02:34"
"unifi","/usr/lib/unifi/lib/log4j-core-2.13.3.jar","","Log4j 2","2.13.3","CVE-2021-44228","VULNERABLE","","2022-01-02 15:04:05"
"unifi","/usr/lib/unifi/lib/log4j-core-2.13.3.jar","","Log4j 2","2.13.3","CVE-2021-44228","VULNERABLE","","2022-01

[2022-01-02 14:36] thl-cmk commented on #230
CHECKMKs syslog implementation looks fine now ;-) THX

![image](https://user-images.githubusercontent.com/65558014/147879011-e37eb102-2d98-4452-bf82-fdf45fde551b.png)

so I need only discuss the non rfc5424 message handling with tribe29

[2022-01-02 14:39] xeraph commented on #230
Oops.. I found typo from attached image.. I will fix it later..

[2022-01-02 14:41] thl-cmk commented on #230
this is specified but i recive no debug messages :-(
Here the output from the scanner
`
thl-cmk@surfbox-ii:~$  /usr/lib/check_mk_agent/bin/log4j2-scan --syslog-level debug --syslog-udp checkmk --rfc5424  --scan-logback  --scan-log4j1  --scan-zip  --no-symlink  --silent  /
Logpresso CVE-2021-44228 Vulnerability Scanner 2.7.0 (2022-01-02)
Scanning directory: / (without /dev, /run, /dev/shm, /run/loc

[2022-01-02 14:47] xeraph commented on #230
Oh.. callback invocation is missing. I will fix it in 30min..

[2022-01-02 14:56] thl-cmk commented on #230
very nice working with you :+1:

[2022-01-02 15:12] xeraph commented on #178
@thl-cmk Added csv file header in v2.7.1.
@doctore74 I can't get the point of your suggestion.

[2022-01-02 15:20] thl-cmk commented on #230
works again. Perfect!

[2022-01-02 15:20] xeraph commented on #230
@thl-cmk Would you test v2.7.1?

![image](https://user-images.githubusercontent.com/2782192/147880365-e784d620-302b-4afc-a65b-0230fc8305c9.png)

[2022-01-02 15:21] xeraph commented on #230
@thl-cmk You were ahead.. good!

[2022-01-02 15:21] thl-cmk commented on #230
@xeraph  I think ths can be losed :-)

[2022-01-02 15:22] #227 closed

[2022-01-02 15:39] #230 closed

[2022-01-02 16:07] thl-cmk commented on #178
@xeraph

will check ;-)

[2022-01-02 16:46] thl-cmk commented on #178
I guess what @doctore74  means is to have the format of the log file mor like a "standard" linux logfile.  So first he wants to remove the `"` except the are neccesary, and the a different order of the fields. So more like this i guess:

Detected_at,Hostname,Product,Version,CVE,Status,Fixed,Path,Entry
2019-12-25T19:48:12.669+0000,unifi,Log4j_2,2.13.3,CVE-2021-44228,VULNERABLE,,/usr/lib/unifi/lib/l

[2022-01-02 19:54] thl-cmk commented on #223
@xeraph just tested. Windows looks good. Linux dosen't work :-(

the config file
[code]
the output from the scanner
[code]

as you can see the excluded files are not excluded.

[2022-01-03 14:53] EmanuelHalllgren opened #231 "Run on Raspberry Pi armv7l"
Hello

Which version should I run on raspberry Pi3 B+ armv7l (32bit).

[2022-01-03 15:15] Hans-van-B opened #232 "Does not exit"
Hi, i would like to be able to use this scanner in a batch procedure.
But if one of the libraries is edited, then the scanner does not exit and does not create a log file, but seems to hang at the end.

This is what i use
%MDP_PATCH_ROOT%\log4j2-scan.exe --force-fix --report-csv --report-path "%LOGF1%" %1

[2022-01-03 15:25] xeraph commented on #232
What's the meaning of edit..? Need more details. Try run in cmd with `--trace` option.

[2022-01-03 15:26] xeraph commented on #231
@EmanuelHalllgren I heard that Raspberry Pi OS comes with Java 11 pre-installed. Use JAR version.

[2022-01-04 09:38] pickeld opened #233 "allow mulitple results for the same log4j version"
on log4j version 2.15 there are multiple CVEs but log4j2-scan only show one.
is it possible to show all CVEs related to a specific log4j version?

[code]
i would have expecting  that CVE-2021-44832 will also show up.

[2022-01-04 12:44] xeraph commented on #233
No. For simplicity, scanner shows only most significant vulnerability.

[2022-01-04 12:59] Limality commented on #225
https://drive.google.com/file/d/1UmvSsaPbLcgoQ8so8Ack_BphATPYHLGB/view?usp=sharing

[2022-01-04 13:28] sorayafm opened #234 "after launching the fix the signature does not work"
Estado HTTP 404 - /afirma-server-triphase-signer/SignatureService

after launching the fix the signature does not work

Estado HTTP 404 - /afirma-server-triphase-signer/SignatureService

type Informe de estado

mensaje /afirma-server-triphase-signer/SignatureService

descripción El recurso requerido no está disponible.
Apache Tomcat/7.0.76
Por favor ayudadme

[2022-01-04 13:41] xeraph commented on #225
@Limality This version still has CVE-2021-44832 vulnerability.

* Issue - https://issues.apache.org/jira/browse/LOG4J2-3293
* Patch diff - https://github.com/apache/logging-log4j2/commit/05db5f9527254632b59aed2a1d78a32c5ab74f16
* Compare with your version
![image](https://user-images.githubusercontent.com/2782192/148067606-663eaadf-86fe-4551-816e-209c7877838c.png)

[2022-01-04 13:47] xeraph commented on #234
@sorayafm Restore your application using  `--restore` option and consult with application owner or vendor. Since your application is digitally signed, it does not allow any modification.

[2022-01-04 14:46] sorayafm commented on #234
Tengo varios servidores, y solo falla la firma en los servidores donde he realizado el :
 ./log4j2-scan  --fix --scan-log4j1 --scan-logback --scan-zip  /

En firefox saca Error en la llamada prefirma con codigo 404 /afirma-server-triphase-signer/SignatureService
El log que saca es "POST //afirma-server-triphase-signer/SignatureService HTTP/1.1" 404 1043

En los servidores que no lo he hecho puedo

[2022-01-04 14:51] xeraph commented on #234
@sorayafm As I said earlier, you should consult with developer of afirma-server-triphase-signer. You cannot mitigate this application in adhoc way.

[2022-01-04 15:02] xeraph commented on #234
@sorayafm
Create `exclude_files.txt` file first and write exclude file path list like this:
[code]

Use `--exclude-file-config` option to exclude files:
[code]

[2022-01-04 21:06] thl-cmk opened #235 "Integration of CVE-2021-44228-Scanner with checkmk"
With this "issue" I yust want to let you know, that I have integrated your scanner with checkmk, the system monitoring from _tribe29_. With this integration users of checkmk can now

- configure the scanner options via a graphical front end
- automatically deploy the scanner to the monitored Linux and Windows hosts
- report all found issues to the central checkmk event console
- configure individu

[2022-01-04 21:19] ket000 opened #236 "Readonly Scanner Version"
Is there a possibility to just create a version that is without the fix option. This will help enterprise to give it to their project team members to safely run it without accidentally overwriting the configuration. I know user need to use --fix to enable the overwriting of file, but I will prefer a simple read only scanner with no capability to update the file.

[2022-01-05 01:51] xeraph commented on #235
@thl-cmk Awesome! It will be helpful to many people. Thanks for the update.

[2022-01-05 02:34] xeraph commented on #236
@ket000
Download package file from https://github.com/logpresso/CVE-2021-44228-Scanner/actions/runs/1656515197
It is automatically built by github action, so there is no digital sign of Logpresso.

[2022-01-05 18:47] Jwalker107 opened #237 "Meaning of "MITIGATED" where multiple CVE applies?"
This has been a topic of discussion before, but as the number of CVEs has increased I wanted to ask clarity on the meaning of "MITIGATED".  Taking an example JSON file report from Logpresso-Log4jscan-2.7.1, there is only a single result for each detected Log4j-core-2.x.jar file.  Here's a sample for a version 2.9.1 result:

[code]
If I understand the CVE list correctly, a default Log4j2-core-2.9.1

[2022-01-05 22:57] PJMarcum opened #238 "--report-path Requires File Name and Does Not Overwrite"
When using --report-path it seems as if the full path must be used, for example C:\Windows\Logs\MyResults.csv and running the scanner a second time errors if the file is already present. It should either allow the path to be a directory only and then create a file like log4j2_scan_report_yyyyMMdd_HHmmss.csv or there should be a parameter to allow overwriting the file.

[2022-01-06 03:10] xeraph commented on #238
@PJMarcum
You can use relative path for `--report-path` option like this:
[code]

Use `--report-dir` to specify report output directory and use timestamp'd file name like this:
[code]

If you want to append log, use `--json-log-path` or `--csv-log-path` option.

[2022-01-06 03:30] xeraph commented on #237
@Jwalker107 Mitigated flag means `--fix` target doesn't exist.
https://github.com/logpresso/CVE-2021-44228-Scanner/blob/46200101ea784dd176b3e4a04548a82ccd01e628/src/main/java/com/logpresso/scanner/Detector.java#L239-L240

Specific to 2.16.0 output, it's a little bit confusing as you said:
* VULNERABLE means JAR has CVE-2021-45105 vulnerability and JndiLookup.class
* MITIGATED means JAR has CVE-202

[2022-01-06 07:18] thl-cmk commented on #236
would be great to have this as an aditional regular build.

[2022-01-06 12:44] Limality commented on #225
Thank you xeraph for clarifying.

According to Commvault: CVE-2021-44832: The Commvault software does not use the JdbcAppender module and, therefore, the vulnerability about remote code execution attack does not affect any Commvault products.

Thanks and have a nice day!

[2022-01-06 12:46] xeraph commented on #225
@Limality Good. Have a nice day!

[2022-01-06 14:58] cq4 opened #239 "Windows No Disk Exception Processing Message 0xc0000013 Unexpected parameters"
Hi, thx for great work on the scanner!

On scan start I get a msgbox "Windows - No Disk; Exception Processing Message 0xc0000013 - Unexpected parameters; Cancel Try Again Continue" on all VMs (Win Server 2016) I tested manually and it's stuck unless I click Cancel or Continue.

1.2.5 was ok, 1.3.0 is the earliest with this bug so I suspect it was introduced with "--all-drives" (but that contradics

[2022-01-06 15:03] xeraph commented on #239
@cq4 Interesting.. I will try to reproduce it on a VM tomorrow.

[2022-01-06 15:05] Jwalker107 commented on #237
Thank you, @xeraph, that clears up my question.  I do think it would be useful to report on each CVE is still vulnerable to a particular instance, or at least the most severe that remains in the "Vulnerable" state after mitigation.  I see some administrators who believe they are in the clear because their report shows "Mitigated" status and they are not understanding that they remain vulnerable to

[2022-01-06 15:31] ket000 commented on #236
Thanks for providing readonly scanner version. I agree, if we can eventually create a read only version for using it as a scanner. But for now this will work.

[2022-01-06 17:21] bor8 commented on #150
`--restore` is worth its weight in gold. I have had to use it so far with Geonetwork and the GDI-DE Registry.

[2022-01-07 03:46] barrygarry opened #240 "Running on remote servers from powershell / command prompt?"
What's the best way to run this on a list of computers remotely via powerhell / command prompt?

[2022-01-07 04:18] xeraph commented on #240
See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/165

[2022-01-07 04:29] barrygarry commented on #240
Thank you!

[2022-01-07 04:29] #240 closed

[2022-01-07 04:30] barrygarry commented on #165
Legend thank you!

[2022-01-07 13:32] cq4 commented on #239
@xeraph Any win10 (20h2) VM had no problem. I seem to experience the bug only on win2016 (~win10 1607)
The VMs are all x64, have the same VM version 15, guest os setting, security sw, VMware tools version installed and have a virtual floppy/cd-roms.
I'm not sure if this is related but it the only noticeable difference is that "System Information" reports "Bios Mode: legacy" on ITSM where it works

[2022-01-07 13:40] xeraph commented on #239
@cq4 If you can create new clean, minimal size, and bug reproducible VM, send me that image. We tried to reproduce it today but failed..

[2022-01-07 13:41] #238 closed

[2022-01-07 13:42] #234 closed

[2022-01-07 13:42] #231 closed

[2022-01-07 14:38] #178 closed

[2022-01-07 14:39] xeraph commented on #216
Closed due to no response.

[2022-01-07 14:39] #216 closed

[2022-01-07 15:19] #212 closed

[2022-01-07 15:44] wasserja opened #241 "add paths scanned to summary json"
It would be really great if the paths that were scanned were included in the summary of the json report so we know what was scanned for a particular report.

[2022-01-07 22:18] desiklolan opened #242 "Undo the fix"
Hi,

Can you please develop a method to undo the fix option? so it puts back JNDI class or any class it removed? without the path.

[2022-01-08 00:22] xeraph commented on #242
@desiklolan Use `--restore` option. If you `--fix` any file, `log4j2_scan_backup_yyyyMMdd_HHmmss.zip` file will be generated. You can undo the fix for all files using `--restore log4j2_scan_backup_yyyyMMdd_HHmmss.zip`.

[2022-01-08 00:27] xeraph commented on #241
In that case, report file may become too large. Especially development environment for local maven repository.

[2022-01-08 10:08] #236 closed

[2022-01-10 12:47] maikas89 commented on #207
Unfortunately i don't know the exact way how the SCCM (or other Software distribution) handels script execution. I know that the SCCM downloads the script + source files locally then the script get's started with the local system account.
I increased the remote shell memory limit on 5 devices but the problem still occurs on all of these clients :(

[2022-01-10 13:52] wasserja commented on #241
I was specifically referring to the command line parameter paths that were included. For example, if the paths that were scanned were C:\Program Files then to list that command line parameter was included in the summary report. Maybe even just include all of the command line options in the summary report so that it's clear what was and was not included.

[2022-01-10 16:52] doctore74 commented on #237
Hi @xeraph ,

I agree. Our security colleagues prepare lists with the individual CVE findings in order to then provide them with mitigation measures. These lists are then sent to the teams. It would be much better if the lists were already pre-filtered in the output.
In our case (@thl-cmk) we would parse this information in checkmk afterwards.

[2022-01-11 09:35] HansMeiser234 opened #243 "Option to scan network"
Hello,

thanks for your work. I like to use your scanner within my systems.
I noticed, that the scanner is automatically excluding some system and network paths.
I have a linuxserver which is using a windows share which i want to scan.
Is there an option (planned) to enable scanning on network shares?
The share is delivered by a NAS which does not have the ability to scan by itself.

Thanks,
Hans

[2022-01-11 10:04] doctore74 commented on #178
@xeraph Have you seen @thl-cmk explanation?

[2022-01-11 13:24] xeraph commented on #243
@HansMeiser234 Try `--exclude-fs none` to scan all partitions.
See also https://github.com/logpresso/CVE-2021-44228-Scanner/wiki/FAQ#how-can-i-scan-all-partitions

[2022-01-11 13:24] #242 closed

[2022-01-11 13:26] xeraph commented on #241
@wasserja Aha. I got it. It makes sense.

[2022-01-11 13:35] xeraph commented on #178
@doctore74 Yes. I don't considering change of format for now..

[2022-01-11 14:46] xeraph commented on #241
@wasserja Would you test v2.7.2 release? I added `scanner_args` to summary section.

[2022-01-11 14:57] HansMeiser234 commented on #243
Hello xeraph,

thanks for your answer. I think i overlooked this option in the instructions. Works as expected.

Thanks,
Hans

[2022-01-11 14:58] xeraph commented on #243
@HansMeiser234 Good :D

[2022-01-11 14:58] #243 closed

[2022-01-11 15:20] cq4 commented on #239
Damn! So far I wasn't able to reproduce the error an a freshly setup win2016
The old VMs still have the error with 2.7.2

[2022-01-11 15:27] xeraph commented on #239
@cq4 I wonder if this article is related https://answers.microsoft.com/en-us/windows/forum/all/windows-no-disk-exception-processing-message/b1a67525-d5e8-46ae-9801-6b169547e656

[2022-01-11 18:21] cq4 commented on #239
It sounds similar
* but seems unlikely as the server are rebooted every weekend and I'm not aware that we removed any (virtual) hardware and the msgbox is only triggerd on log4j-scan.exe
* no change by clicking on "safely remove hw"
* I've removed one not connected cd-drive with http://www.nirsoft.net/utils/drive_letter_view.html but no change
* HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\

[2022-01-13 08:32] cq4 commented on #239
It's not a bug in log4j-scan and I have a workaround.
ticket closed

[2022-01-13 08:32] #239 closed

[2022-01-13 08:34] xeraph commented on #239
@cq4 Would you comment how did you solved problem?

[2022-01-13 09:26] louigi600 opened #244 "Better build instructions"
I was unable to run the 64 bit linux binary because of an outdated libc:
./log4j2-scan /
./log4j2-scan: /lib64/libc.so.6: version `GLIBC_2.15' not found (required by ./log4j2-scan)
./log4j2-scan: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by ./log4j2-scan)

I looked into the build instructions but for me they are far from usable.

[2022-01-13 13:28] JStevens1855 commented on #244
I believe I initially had the same issue with RHEL 6 using a openlogic JRE to run the scan using the jar file. I switched to adoptium openjdk and it worked fine. I'm not sure if your using the jar or one of the other options but it could be a limitation of JRE with the flavor of linux your testing against. I switched to this version and ran the jar with it and it worked great.
https://github.com/a

[2022-01-13 13:40] JStevens1855 opened #245 "Not an issue but maybe a feature request"
We have ran periodic scans after "remediations" have been made, however it can be tedious when there are multiple vulnerabilities or files remediated to compare files and CVE that changed. I am going to see if I can do it after the fact but it might be nice to have an option to archive the previous scan if one already exists, initiate the scan again and compare the results of the new scan against

[2022-01-13 16:30] bvallabhaneni opened #246 "incorrectly flagging embedded jar file as effected"
The scanner is looking for The scan tool uses the following file to determine the log4j version and in the embedded jar ant is removing this file. is there a way not to flag 2.17.1 as effected?
META-INF/maven/org.apache.logging.log4j/log4j-core/pom.properties

[2022-01-13 16:59] thl-cmk commented on #223
@xeraph I did a little more digging on the Linux issu with the `--exclude-file-config` option.  Looks like it is working for zip files that get skipped because of `('zip END header not found')` but not for files skipped becaus of `('Unexpected record signature: 0X1614')`  for example or `('unsupported feature encryption used in entry settings').`

Hope this will help to get this option fixed ;-)

[2022-01-13 18:47] wasserja commented on #241
looks great! thank you very much.

[2022-01-14 07:00] greg-michael opened #247 "Windows scan improperly excluding paths"
Running the scanner on Windows server
`log4j2-scan.exe --silent  --scan-zip --scan-log4j1 --all-drives --report-path "%RPTFILE%" --report-dir "C:\Temp" --exclude "P:\" --exclude "Z:\" --exclude-fs afs,cifs,autofs,tmpfs,devtmpfs,fuse.sshfs,iso9660 2>&1
Logpresso CVE-2021-44228 Vulnerability Scanner 2.7.1 (2022-01-02)
Scanning drives: C:\, E:\, L:\, P:\, Z:\ (without P:" --EXCLUDE Z:")`

Notice the

[2022-01-14 08:18] xeraph commented on #247
@greg-michael this is due to invalid argument.
See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/209#issuecomment-1001089422

[2022-01-14 08:24] xeraph commented on #246
@bvallabhaneni
There is no way if pom.properties is not embedded. Another detection method (e.g. hash comparison) is required to implement it, however I don't have much time right now.

[2022-01-14 09:28] MaXGitteR opened #248 "Option --silent not working proper or at least needs more options/levels"
when using oprion "--silent" only lines like
"Running scan (30s): scanned 5714 directories, 62725 files, last visit: /oracle/..."
get filtered.

But lines like:
 - Logpresso CVE-2021-44228 Vulnerability Scanner 2.7.1 (2022-01-02)
 - Scanning directory: / (without /dev, /dev/shm, /run, /sys/fs/cgroup, /proc/sys/fs/binfmt_misc, /run/user/599, /run/user/500, /run/user/30001, )
 - Scan error: '/opt/..

[2022-01-14 09:31] MaXGitteR opened #249 "User running the scan and directory permissions"
The scan result is not showing the user running the scan.

The head of the result looks like this:
- Logpresso CVE-2021-44228 Vulnerability Scanner 2.7.1 (2022-01-02)
- Scanning directory: / (without /dev, /dev/shm, /run, /sys/fs/cgroup, /proc/sys/fs/binfmt_misc, /run/user/30001, /filer, /run/user/30004, /run/user/500)

But it should also mention which user is running the scan.
And it should list

[2022-01-14 14:58] #247 closed

[2022-01-15 08:36] danilansible opened #250 "Build native image on linux - Error: No main manifest attribute"
Hi ,

I'm new to this, following the wiki for building native image on linux.
getting this error, are there any other prerequisites and is there a recommendation from which source directory to run this?

# native-image --static -jar /usr/local/CVE-2021-44228-Scanner/src/test/resources/log4j2-ok/log4j-core-2.17.1.jar log4j2-scan -H:-CheckToolchain -H:+AllowIncompleteClasspath -H:ReflectionConfigura

[2022-01-15 08:37] danilansible opened #251 "Build native image on linux - Error: No main manifest attribute"
Hi ,

I'm new to this, following the wiki for building native image on linux.
getting this error, are there any other prerequisites and is there a recommendation from which source directory to run this?

# native-image --static -jar /usr/local/CVE-2021-44228-Scanner/src/test/resources/log4j2-ok/log4j-core-2.17.1.jar log4j2-scan -H:-CheckToolchain -H:+AllowIncompleteClasspath -H:ReflectionConfigura

[2022-01-15 08:38] danilansible opened #252 "Build native image on linux - Error: No main manifest attribute"
Hi ,

I'm new to this, following the wiki for building native image on linux. glibc,graalvm and path steps are done
getting this error, are there any other prerequisites and is there a recommendation from which source directory to run this?

`# native-image --static -jar /usr/local/CVE-2021-44228-Scanner/src/test/resources/log4j2-ok/log4j-core-2.17.1.jar log4j2-scan -H:-CheckToolchain -H:+AllowInc

[2022-01-15 08:42] #250 closed

[2022-01-15 08:43] danilansible commented on #250
duplicated beause of a network glitch

[2022-01-15 08:43] #251 closed

[2022-01-15 08:43] danilansible commented on #251
dduplicated because of a network glitch

[2022-01-16 01:08] xeraph commented on #248
This is by design. You can use `log4j2-scan .. | grep Found` for your needs.

[2022-01-16 01:14] xeraph commented on #252
@danilansible Install maven and use `mvn install -Pnative` on `/usr/local/CVE-2021-44228-Scanner`.
log4j-core-2.17.1.jar is test resource file. That is log4j2 file.

[2022-01-16 09:06] MaXGitteR commented on #248
Hello xeraph,
thank you for the hint with grep. This maybe could be a workaround for my needs.

But please check the description of silent:
"--silent    Do not print anything until scan is completed."
This is not true, it prints a lot during the scan.

lines like:

- Logpresso CVE-2021-44228 Vulnerability Scanner 2.7.1 (2022-01-02)
- Scanning directory: / (without /dev, /dev/shm, /run, /sys/fs/cgr

[2022-01-16 09:26] xeraph commented on #248
@MaXGitteR Yes, you are right.. I will fix description in the next release.

[2022-01-17 04:35] danilansible commented on #252
@xeraph Thanks for the guidance, I overlooked the maven part, the build went fine!

[2022-01-17 04:35] #252 closed

[2022-01-17 04:43] xeraph commented on #252
@danilansible Glad to hear that! :D

[2022-01-18 04:40] greg-michael opened #253 "java.lang.OutOfMemoryError"
We are running log4j2-scan.exe v2.7.1 on our Windows servers using TrueSight Server Automation (TSSA) to deploy and execute the package. This is done through a mapped-user elevation to a local-administrator account and executed via command shell as that user.

On a particular server, we're seeing this error from the output of the execution of the scanner:
`Logpresso CVE-2021-44228 Vulnerability Sc

[2022-01-18 15:34] MaXGitteR commented on #248
Hello xeraph,

we tried now with grep on linux (| grep "Found CVE") and it is working, but the problem is, that we now get the return code of the grep and this is no error. So in our monitoring we have now now errors/findings any more ...
On windows we have another error with (| findstr /c:"Found CVE") , it has problems with pathnames, but only when excecuted remote. When executing direct in cmd o

[2022-01-18 15:39] xeraph commented on #248
@MaXGitteR For monitoring purpose, I suggest using `--report-json` and read generated report file. It is structured, human-readable, and machine-readable.

[2022-01-18 15:53] xeraph commented on #253
@greg-michael Due to Java API limitation, scanner cannot handle directory which has millions of files.

https://github.com/logpresso/CVE-2021-44228-Scanner/blob/c74f0f37d41c39893b655a34eb4cd5eeda87cd6c/src/main/java/com/logpresso/scanner/Log4j2Scanner.java#L488-L494

As you see, listFiles() API tries to return all files in a single directory. This is a single function call, so scanner cannot have

[2022-01-18 15:56] greg-michael commented on #253
Understood. We'll have to look into whether we just exclude that path or accept that the scanner cannot scan this system in its current version due to limitations within the Java code. Please let me know when you have an updated version, and I'll test it.

Thanks!

[2022-01-18 15:56] xeraph commented on #253
@greg-michael I will. Thank you for your understanding :D

[2022-01-20 12:08] tp111 opened #254 "How to run this on Linux Cent OS"
Hi,

Trying to run this on Linux Cent OS without any luck. Pleas help!

[2022-01-20 12:11] xeraph commented on #254
@tp111 If you can run java on centos:
* Download https://github.com/logpresso/CVE-2021-44228-Scanner/releases/download/v2.7.2/logpresso-log4j2-scan-2.7.2.jar
* Rrun `java -jar logpresso-log4j2-scan-2.7.2.jar /`

[2022-01-20 12:17] tp111 commented on #254
Thanks but get "command not found"
![image](https://user-images.githubusercontent.com/75321429/150337158-a23626ba-912c-4099-a01c-d3e181f05f74.png)

[2022-01-20 12:20] xeraph commented on #254
Then use https://github.com/logpresso/CVE-2021-44228-Scanner/releases/download/v2.7.2/logpresso-log4j2-scan-2.7.2-linux.tar.gz or install openjdk.

[2022-01-20 12:21] tp111 commented on #254
I tried to run that file but not sure how to run it.

[2022-01-20 12:24] xeraph commented on #254
Read the manual..
![image](https://user-images.githubusercontent.com/2782192/150338117-ed75760a-cddd-4b01-be0a-6efb879cf280.png)

[2022-01-20 14:24] mrpegman opened #255 "Permissions not preserved in a JAR within a ZIP"
If you have a JAR with the targeted classes and that JAR is within a ZIP, then scanning the ZIP will remove permissions on the files within the JAR.  This is a UNIX-only issue as far as I can tell.  Opening up the JAR after scanning shows that the HOST OS was changed from UNIX to FAT and the UNIX-style permissions were stripped.

[2022-01-20 14:50] xeraph commented on #255
You would used fix option. Scanner does not modify any file while scanning.

[2022-01-20 15:03] mrpegman commented on #255
The command that I ran was:  java -jar esp.jar --scan-log4j1 --scan-zip --fix fsc.zip

The esp.jar is the logpresso JAR.  The fsc.zip file contains a JAR which when it gets scanned has the UNIX file permissions removed.

[2022-01-20 15:26] greg-michael opened #256 "Difference between exclude-config and exclude-file-config"
These definitions seem to indicate that these options provide the same functionality.

`-exclude-config [config_file_path]`
`        Specify exclude path prefix list in text file. Paths should be separated by new line. Prepend # for comment.`
`--exclude-file-config [config_file_path]`
`        Specify exclude file path list in text file. Paths should be separated by new line. Prepend # for comment

[2022-01-20 16:57] tp111 commented on #254
Cant get it to work:
![image](https://user-images.githubusercontent.com/75321429/150385499-97c1bb1d-a8bd-46a9-a65d-f4761089efdc.png)

[2022-01-20 16:59] tp111 commented on #254
![image](https://user-images.githubusercontent.com/75321429/150385803-d597daf8-c814-47f4-ba41-967fa4251a2b.png)

[2022-01-21 07:30] frenchfu opened #257 "is any chance support Log4j 1.2 Bridge?? my project using https://logging.apache.org/log4j/2.x/log4j-1.2-api/index.html but still scan had useing log4j1 ..."
here is usering jar in lib
log4j-1.2-api-2.17.1.jar
log4j-api-2.17.1.jar
log4j-core-2.17.1.jar
 is any chance support    Log4j 1.2 Bridge  ?

[2022-01-21 07:53] xeraph commented on #256
@greg-michael
* `--exclude-config` option: this is for directory exclusion (use prefix matching)
* `--exclude-file-config` option: this is for file exclusion (use exact absolute path matching)

[2022-01-21 07:56] xeraph commented on #257
@frenchfu Please explain your problem with terminal output example. I can't understand what you mean.

[2022-01-21 07:58] xeraph commented on #254
@tp111
* You cannot run 64bit native image on 32bit machine.
* Install Java and use JAR file instead.
  * If you don't have any java installation, you don't have to scan machine `vm057`. (cannot run vulnerable log4j code)

[2022-01-21 12:41] tp111 commented on #254
The issue was that the file hade no execute rights. Had to set that with "chmod +x ./log4j2-scan" and then it worked.

[2022-01-21 12:41] #254 closed

[2022-01-21 15:37] greg-michael commented on #256
The way I interpreted the first sentence of the definition for the --exclude-file-config was that the user would specify the path to the exclude file, not that the file would contain the full path to files to be excluded.

Thanks.

From: Yang, BongYeol (xeraph) ***@***.***>
Sent: Friday, January 21, 2022 01:54
To: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Greg Michael ***@***.***>; Mention

[2022-01-22 01:42] #257 closed

[2022-01-24 07:08] rprengel2 commented on #137
Hallo,
we have simmilar problems here.
It would be helpful to reduce the cpu load using a config-option.

[2022-01-24 16:58] #256 closed

[2022-01-26 04:49] rprengel2 commented on #137
Hallo,
load is caused here by tons of files that must be checked (developer-systems).
A working wildcard feature should help but less consuming ressources would be nice too.
Thanks for your great tool.
Ralf

[2022-01-26 23:39] k3it opened #258 "maven build fails"
I'm trying to build the jar file from source using maven on RedHat with openJDK 11 and it's failing the initial unit tests.  Any suggestions on how to do this properly?

mvn build output:
https://pastebin.com/tbqwuxHP

[2022-01-27 02:14] k3it commented on #258
I was building in an nfs mounted home directory and the scanner skips nfs filesystems. The unit tests failed because of that. The maven worked fine when i moved the build dir to a local filesystem.

[2022-01-27 02:14] #258 closed

[2022-01-27 04:54] jamesdpatterson opened #259 "Addressing CVE-2022-23302, CVE-2022-23305 and CVE-2022-23307"
In terms of log4j version 1.x, there were three new CVEs disclosed last week.

Could we also have the ability to strip JMSSink.class (CVE-2022-23302) and the chainsaw classes (CVE-2022-23307)?  The other new issue is CVE-2022-23305, but this is mitigated by removing JMSAppender.class which is already in the code.

Here are the key lines from the RedHat descriptions of the three new CVEs:

https://

[2022-01-27 06:59] xeraph commented on #259
@jamesdpatterson Would you test v2.8.0 release?

[2022-01-27 11:13] xeraph commented on #137
@fernandomt08 @rprengel2
Would you test v2.8.1 release? You can use `--throttle` option to limit CPU usage. For example, `--throttle 1000` means that scanner is allowed to scan 1000 files per second.

[2022-01-27 12:29] bcraigie opened #260 "What does (except) mean?"
When running with the --fix parameter, we sometimes get the result "fixed" but at the end of the line it says (except).

What is the significance of the (except) ?

[2022-01-27 12:45] xeraph commented on #260
@bcraigie That is bug. Use v2.8.1 version.

[2022-01-27 13:28] bcraigie commented on #260
Thank you :-)

[2022-01-27 13:28] #260 closed

[2022-01-27 16:39] prateeeks opened #261 "CVE-2021-44228"
I ran below command but still my Risk Scan of my Antivirus sees the system as vulnerable.

log4j2-scan.exe --fix --all-drives

**Version used:** logpresso-log4j2-scan-2.8.1-win64

Please suggest a solution.

[2022-01-27 16:43] xeraph commented on #261
@prateeeks
First, paste a screenshot of your antivirus scan. Antivirus can use simple pattern matching, so it can mark a mitigated JAR as vulnerable. In this case, you should contact your antivirus vendor.

[2022-01-27 16:49] prateeeks commented on #261
![log4j](https://user-images.githubusercontent.com/74412765/151404976-a26a63cb-89bc-4f49-9760-c051d8fefba7.JPG)

[2022-01-27 16:55] xeraph commented on #261
This screenshot does not contain actual vulnerable file path. If scanner printed Fixed and antivirus specifies same file path, you can safely click ‘Ignore Risk’.

[2022-01-29 09:38] prateeeks commented on #261
Yes I understand it doesn't show the path but as soon as I removed the application from the system even after running command log4j2-scan.exe --fix --all-drives Version used: logpresso-log4j2-scan-2.8.1-win64 the Vulnerability was removed from my list on Antivirus.

We are using Bitdefender Gravityzone Business Security.

[2022-01-31 12:13] bonsei0 commented on #259
Hi,
I just tested the new version 2.8.1. Removed step by step the classes from a log4j 1 jar file:
$ file=log4j-1.2.17.jar

$ ./log4j2-scan $file --scan-log4j1
[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in /home/webadm/dummy_log4j_jar/log4j-1.2.17_miti.jar, log4j 1.2.17

$ zip -q -d "$file" org/apache/log4j/net/JMSAppender.class
$ ./log4j2-scan $file --scan-log4j1
[?] Found CVE-2021-4104

[2022-02-01 10:57] WWIJP opened #262 "Unknown Java files"
Hello
We've some unknown files found with the scanner but the scanner is not counting them as unknown files:
[?] Found CVE-2021-44228 (log4j 2.x) vulnerability in D:\maven-repo\com\fja\ipl\base\ipl-dsl-generator-incl-dependencies\6.11.5\ipl-dsl-generator-incl-dependencies-6.11.5.jar, log4j N/A

Is there a fix available in the next version?
A fix for unknown files
and
an improvement for such files

[2022-02-01 11:03] WWIJP opened #263 "Wrong counting values of found files (mitigated)"
Hello

when we scan Linux directories the lines like:
Found 0 vulnerable files
Found 0 potentially vulnerable files
Found 0 mitigated files
are not shown the right counting numbers compared to the lines with the string: "[*] Found CVE-2021-44228 (log4j 2.x)"
especially the mitigated line is wrong calculated.

Please implement a fix in the next release.

Thank

Best regards
Philipp

[2022-02-01 11:06] WWIJP opened #264 "Extra sign for "potentially vulnerable" "[*] Found""
Hello

Would it be possible to show the "potentially vulnerable" information as well in the output like it is done for mitigated files:
[*] Found CVE-2021-44228 (log4j 2.x) vulnerability in /usr/lib/check_mk_agent/UUUUU_log4j_scan_file_mitigated_1.jar (BOOT-INF/lib/log4j-core-2.7.jar), log4j 2.7 (**mitigated**)

Example:
[*] Found CVE-2021-44228 (log4j 2.x) vulnerability in /usr/lib/check_mk_agent

[2022-02-01 11:44] WWIJP opened #265 "Unknown file info line"
Hello

Please implement an info line for unknown files like:
Found 1 unknown files

"[?] Found CVE-2021-44228 (log4j 2.x) vulnerability in /opt/xxxx_log4j_scan_file_UNKNOWN.jar, log4j N/A"

Like it is done for:
Found 1 vulnerable files
Found 1 potentially vulnerable files
Found 3 mitigated files

This would be very helpful.

Thanks

Best regards
Philipp

[2022-02-01 13:50] JStevens1855 opened #266 "Clarifications for "Potentially Vulnerable" for CVE-2021-45105"
I was hoping you might be able to clarify for me what would make CVE-2021-45105 show potentially vulnerable rather than vulnerable or mitigated if it has Log4 2.16.0? I didn't think there were classes that could be removed to mitigate that CVE.

This came up when inspecting some of the results so I wanted to clarify what cases would fall into that bucket.

[2022-02-01 14:00] xeraph commented on #266
@JStevens1855  Scanner does mark log4j 2.16.0 as vulnerable.
[code]

If you tries to fix it, scanner will refuse it like this:
[code]

Which scanner version do you use?

[2022-02-01 14:08] xeraph commented on #264
@WWIJP Use `[?]` sign for identification. For example: `[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in d:\tmp2\log4j-1.2.11.jar, log4j N/A (mitigated)`

[2022-02-01 14:13] WWIJP commented on #264
Hello, Sorry but I don’t understand what you mean.
Please explain it in details.
Thanks

Best regards
Philipp

@WWIJP<https://github.com/WWIJP> Use [?] sign for identification. For example: [?] Found CVE-2021-4104 (log4j 1.2) vulnerability in d:\tmp2\log4j-1.2.11.jar, log4j N/A (mitigated)

—
Reply to this email directly, view it on GitHub<https://github.com/logpresso/CVE-2021-44228-Scanner/issues

[2022-02-01 14:18] xeraph commented on #264
@WWIJP Potentially vulnerable message starts with `[?]`. You can identify potentially vulnerable output like this:
[code]

[2022-02-01 14:49] JStevens1855 commented on #266
So I apologize I must have been mixing up my reports. the 4105 was on an older scan and wasn't identified as potentially vulnerable using 2.7.1 scanner, however I do have files what were scanned with the 2.1.1 jar that come back with  44228 as Potentially_vulnerable. I would think that if the jndi class was removed, then this file would change to mitigated rather than potentially vulnerable. Could

[2022-02-01 14:55] WWIJP commented on #264
Hello Yang

Ah ok but we’ve just the “[?] Found” like:
[?] Found CVE-2021-4104  (log4j 1.2) vulnerability in /path/to/log4j-1.1.3.jar, log4j N/A

Without the (mitigated)part at the end.

***@***.***

Its just a little bit confusing about the different states.
In all “[x] Found“ lines is the string “vulnerability in”
and the differences are at the end or the start of the line.
For mitigated “Found”

[2022-02-01 15:09] xeraph commented on #264
@WWIJP
Start of the line classifies vulnerable or not vulnerable. End of the line specifies it is mitigated or not.
It can be combinated like this:
* `[*] Found CVE_CODE (log4j MAJOR_VER) vulnerability in /path/to/jar, log4j VER`
  * Vulnerable file. it should be mitigated right now.
* `[*] Found CVE_CODE (log4j MAJOR_VER) vulnerability in /path/to/jar, log4j VER (mitigated)`
  * Vulnerable file,

[2022-02-01 15:24] xeraph commented on #259
@bonsei0 Thank you for detail report. However, scanner present only representative CVE code for simplicity. Since log4j1 has multiple vulnerabilities, it is quite difficult to read scan report if scanner print all CVE codes for single JAR file.

Even if you eliminated some classes from JAR file, scanner detect vulnerability to support vulnerable file identification and patch process. (You should c

[2022-02-01 15:26] WWIJP commented on #264
Hello

That is perfect, thanks a lot!

Very best regards
Philipp

Von: Yang, BongYeol (xeraph) ***@***.***
Gesendet: Dienstag, 1. Februar 2022 16:10
An: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Henkel, Jan-Philipp (IT/IEV) ***@***.***>; Mention ***@***.***>
Betreff: Re: [logpresso/CVE-2021-44228-Scanner] Extra sign for "potentially vulnerable" "[*] Found" (Issue #264)

@WWIJP<https://gith

[2022-02-01 17:49] JStevens1855 commented on #266
Yeah not sure why but rescanned with 2.8.1 and the file came back with "Log4j 2","N/A","CVE-2021-44228","POTENTIALLY_VULNERABLE","","2022-02-01 10:39:40"
Is this the behavior if it can't identify what the log4j version is?

[2022-02-01 18:20] greg-michael commented on #253
@xeraph Any updates on this?

[2022-02-01 18:27] greg-michael opened #267 "*.cat and *.mum files on Windows"
Does the v2.8.1 (or earlier) scanner attempt to unpack and scan these types of files? They are found in C:\Windows\servicing\Packages. We are using the v2.8.1 version.

We have noticed on some of our Windows servers that the scanner gets "hung" at this location. One such server has 3.75GB of these files, totaling around 273k files in the directory.

Running the scan with these options, the scanner

[2022-02-02 04:35] k3it opened #268 "sonarqube results"
It appears that sonarqube flagged several issues with the code.  Potential bugs as well as some security "hotspots".   They do not appear as serious problems but would it be possible to address these to produce a cleaner sonarqube output?

[2022-02-02 04:49] xeraph commented on #253
@greg-michael Would you try v2.9.0 release? https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.9.0

[2022-02-02 05:05] xeraph commented on #267
@greg-michael
Scanner does not unpack *.cat or *.mum files. It just traverse directories to check if file extension is inspection target. Try v2.9.0 version for this issue.

[2022-02-02 05:07] xeraph commented on #268
@k3it Would you paste that sonarqube output? You can drag and drop zip file to comment area.__

[2022-02-02 05:15] xeraph commented on #207
@Estarossa68 @maikas89 @sureshgurram123 Would you try v2.9.0 release? I reduced scanner memory footprint significantly.
https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.9.0

[2022-02-02 05:18] xeraph commented on #224
@kisnalam OutOfMemoryError issue is resolved in v2.9.0. Would you test it?
https://github.com/logpresso/CVE-2021-44228-Scanner/releases/tag/v2.9.0

[2022-02-02 05:33] xeraph commented on #249
@MaXGitteR v2.9.0 release reports access denied error for directory traversal failure.
User information will be added in the next release.

[2022-02-02 17:36] k3it commented on #268
hi
I'm not sure how to export the report from the Sonarqube community edition.  it may be a paid only feature. here are a few screenshots:

![image](https://user-images.githubusercontent.com/9923389/152206584-865fa1f4-e1b9-4818-abf6-e1715fe26471.png)
![image](https://user-images.githubusercontent.com/9923389/152206723-6d266af9-dad1-4ce1-af71-be3ad021343c.png)
![image](https://user-images.githubuse

[2022-02-02 18:32] JStevens1855 commented on #266
@xeraph  - I need to cross reference some of these apps that i'm seeing this on but I'm thinking maybe some were remediated by setting the Log_level to off.  Would that scenario be a reason that it might show potentially_vulnerable rather than vulnerable or mitigated?

[2022-02-03 00:04] xeraph commented on #266
@JStevens1855

Yes. If scanner cannot detect log4j 2 version, it print potentially vulnerable.

IMHO, false positive is better than false nagative. I will resolve this issue with md5 detection.

[2022-02-03 00:48] dojusph opened #269 "Windows - No Disk (Exception processing Message 0xc000013 - unexpected parameters)"
When executing:
C:\Admin\logpresso-log4j2-scan-2.9.0-win64>log4j2-scan --fix --scan-log4j1 --all-drives --report-csv

ERROR upon pressing ENTER Key to execute command:
Windows - No Disk (Exception processing Message 0xc000013 - unexpected parameters)

Disks: EFI System Partition, C:, D:, E:
Windows Server 2016 Standard
VM in hosted on VSphere Host
diskmgmt.msc reports Simple//BASIC/NTFS/healthy

P

[2022-02-03 00:49] xeraph commented on #269
@dojusph Maybe duplicate of issue 239. See https://github.com/logpresso/CVE-2021-44228-Scanner/issues/239#issuecomment-1012173521

[2022-02-03 00:52] dojusph commented on #269
Thank you, logpresso is the best log4j scanner!

[2022-02-03 05:06] xeraph commented on #249
@MaXGitteR Would you test v2.9.1 release? it print user information like this:
[code]

[2022-02-03 05:08] xeraph commented on #266
@JStevens1855 Would you test v2.9.1 release? I added 55 MD5 hash to resolve this issue. It accurately detect Log4j 2.x version without pom.properties file.

[2022-02-03 05:11] xeraph commented on #262
@WWIJP Would you test v2.9.1 release? It will detect Log4j version accurately.

[2022-02-03 05:13] xeraph commented on #265
@WWIJP
No more 'N/A' files will appear. Merged into #262 .

[2022-02-03 05:13] #265 closed

[2022-02-03 05:14] #261 closed

[2022-02-03 05:16] xeraph commented on #248
Description is fixed in https://github.com/logpresso/CVE-2021-44228-Scanner/commit/e6e6b03f88a5b003569a316648a33e78f4363fa1#diff-b3ed177bd937a3421fda5fd328a11ed190ab2eb7253c9dd3fd6061b3424c06b3R149

Closed.

[2022-02-03 05:16] #248 closed

[2022-02-03 10:04] MaXGitteR commented on #249
Hello,
we just updated to 2.9.0 with this version we get the expected messages like this example:
_`Error: Access denied. Skipping /boot/grub2`_

But now all checks are red, when there is an entry with such a line.

We tryed this, but it seems not to work, can you please check this?:
--old-exit-code
        Return sum of vulnerable and potentially vulnerable files as exit code.

An access denied l

[2022-02-03 11:56] WWIJP commented on #262
Hello Yang

Now the file looks like:
[*] Found CVE-2021-44832 (log4j 2.x) vulnerability in /tmp/test_file/JPH_TEST_log4j_scan_file_UNKNOWN.jar, log4j 2.17.0

By using: Logpresso CVE-2021-44228 Vulnerability Scanner 2.9.1 (2022-02-03)

Previously, it was an [?] N/A detection. So it works.
Thank you very much for the improvements!

I will test it in our environment with some more files, like the one

[2022-02-03 11:59] xeraph commented on #262
@WWIJP Thank you for test report! :D

[2022-02-03 11:59] #262 closed

[2022-02-03 14:12] xeraph commented on #249
@MaXGitteR Thank you for test report :D

[2022-02-03 14:12] #249 closed

[2022-02-03 14:12] #269 closed

[2022-02-03 17:24] JStevens1855 commented on #266
Unfortunately after scanning with 2.9.1 the results were the same. I attached a screenshot of the csv details, hopefully it comes through for you
It looks like we have at minimum 3 applications on numerous servers that are coming up "Potentially_Vulnerable" for CVE-2021-44228. I'm not sure why it's not able to identify the Log4j version still but I was able to get ahold of new relic instructions f

[2022-02-03 19:36] greg-michael opened #270 "Nifi NAR files"
Are Nifi NAR files scanned by the log4j2-scan utility on Linux?
[Nifi NAR Files Explained](https://medium.com/hashmapinc/nifi-nar-files-explained-14113f7796fd)

[2022-02-04 00:18] xeraph commented on #270
@greg-michael Sure

![image](https://user-images.githubusercontent.com/2782192/152450938-4ec3c658-32cd-469b-a73c-ffbf9ae01a5b.png)

[2022-02-04 04:05] xeraph commented on #266
@JStevens1855 Would you send me that newlic.jar file? you can change file extension to zip and upload here, or box.com sharing link.

[2022-02-04 09:38] fipro78 opened #271 "logpresso identifies CVE-2021-4104 in reload4j"
reload4j is a drop-in replacement intended to fix the latest security issues.
https://reload4j.qos.ch/

They have fixed CVE-2021-4104 by hardening, not by removing the class. logpresso does anyhow report the CVE-2021-4104 vulnerability.

I have created a ticket in the reload4j repository:
https://github.com/qos-ch/reload4j/issues/36

The question is, how is the check in logpresso for CVE-2021-4104

[2022-02-04 11:50] xeraph commented on #271
@fipro78 It's most likely a false positive of scanner. I will investigate it.

[2022-02-04 16:41] #270 closed

[2022-02-04 16:43] greg-michael commented on #267
The new version seemed to work better for a number of servers. Some still ran into OOM issues, but fewer than previously.

Is there any way to do a determination of available memory to know whether or not the scan will run out of memory? Or chunk the process to release and reuse memory rather than consuming without bound?

[2022-02-05 01:29] xeraph commented on #267
@greg-michael Altough some users reports OOM issues, I couldn't reproduce a single OOM issue in my environment. For example, scanner ran with 2GB RAM with 5million files in a single directory and buggy old file API. I suspect decompression bug of commons-compress. However there should be sample files for 100% reproduce condition. Could you find that files which causes OOM by narrowing the director

[2022-02-05 02:52] greg-michael commented on #267
I’ll see if I can find out where the OOM issue is happening.

Thanks.

From: Yang, BongYeol (xeraph) ***@***.***>
Sent: Friday, February 4, 2022 19:29
To: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Greg Michael ***@***.***>; Mention ***@***.***>
Subject: Re: [logpresso/CVE-2021-44228-Scanner] *.cat and *.mum files on Windows (Issue #267)

This email did not originate from Canadian Pacific.

[2022-02-05 10:42] thl-cmk opened #272 "Scanner crashes with -Xmx option and very low memory limits"
Hi,

if you run the scanner with the -Xmx option and very low limits (like 1M), then the scanner srashes with

[code]

Scanner run with -Xmx1M option
[code]
Scanner run with -Xmx10M option
[code]

[2022-02-05 10:57] thl-cmk commented on #266
@xeraph I got still N/A for one file, maybe you can add the MD5 to on of the next versions.

[code]
[log4j-1.2-1.2.17.zip](https://github.com/logpresso/CVE-2021-44228-Scanner/files/8007845/log4j-1.2-1.2.17.zip)

[2022-02-05 11:38] WWIJP commented on #262
Hello Yang

How is it possible to identify the “potential vulnerable” files now?

Logpresso CVE-2021-44228 Vulnerability Scanner 2.9.1 (2022-02-03)
Scanning directory by user 'root':
Scanned 10032825 directories and 28255064 files
Found 25 vulnerable files
Found 6 potentially vulnerable files
Found 916 mitigated files

All founds look like the same now with the “[*]” sign:

[*] Found CVE-2021-4422

[2022-02-05 14:31] xeraph commented on #272
@thl-cmk In general, that is not intended memory limit. Most JVM application cannot run under 64MB.

[2022-02-05 14:41] xeraph commented on #266
@thl-cmk Oh, I missed hash for log4j 1.2.17 version. thank you!

[2022-02-05 15:26] thl-cmk commented on #272
I see, maybe you can add a lower limit, just to avoid the crash.

[2022-02-05 15:58] xeraph commented on #262
@WWIJP
1. Potentially vulnerable files are still starts with `[?]`. Look at log4j1 findings.
2. Case 1 is ***urgent*** which starts with `[*]` and doesn't end with `(mitigated)`. Case 3 which starts with `[?]` and doesn't end with `(mitigated)` also should be mitigated, but in most cases, it doesn't matter. Case 2, 4 means already mitigated and you can take time to upgrade it. (not urgent)

Have a

[2022-02-05 16:23] xeraph commented on #266
@JStevens1855  Found newrelic.jar from https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic.jar and added md5 hash. Would you test v2.9.2 release?

[2022-02-05 16:25] xeraph commented on #271
@fipro78 v2.9.2 release will detect vulnerability from old version of reload4j like this:
[code]
Scanner will not detect vulnerability for reload4j 1.2.18.3 or above version.

[2022-02-05 16:40] thl-cmk commented on #266
@xeraph works now for me THX!

[code]

[2022-02-05 17:28] JStevens1855 commented on #266
@xeraph  Thanks for all of your effort on this one. I am glad you were able to find a current copy of the newrelic.jar, however I re-ran 2.9.2 one one server and it still came back as potentially vulnerable. Unfortunately I don't believe we will get approval to upload the various newrelic.jar files and I believe what we are going to see is that they might not all be the current version and I would

[2022-02-06 10:38] WWIJP commented on #262
Hello

Thanks a lot!

Very best regards
Philipp

Von: Yang, BongYeol (xeraph) ***@***.***
Gesendet: Samstag, 5. Februar 2022 16:59
An: logpresso/CVE-2021-44228-Scanner ***@***.***>
Cc: Henkel, Jan-Philipp (IT/IEV) ***@***.***>; Mention ***@***.***>
Betreff: Re: [logpresso/CVE-2021-44228-Scanner] Unknown Java files (Issue #262)

@WWIJP<https://github.com/WWIJP>
1.     Potentially vulnerable files a

[2022-02-07 17:02] greg-michael commented on #253
The new release seems to have helped for a number of systems. With the -Xmx option, what is the implication of setting a value for example -Xmx1000M? Would this mean that any files larger than 1GB would be skipped? Any directories/paths with sufficient number of files to exceed 1GB heap space would cause the scanner to abort? I'm trying to fine tune the scan executions in my Windows environment so

[2022-02-08 01:23] xeraph commented on #253
@greg-michael Wow. that's a good news. Xmx switch is supported by JVM or substrateVM, and it just set maximum available memory limit for java process. If scanner cannot allocate more memory above specified memory limit, it fails with OOM as usual. Therefore, if scanner completed scan without any error with Xmx1000M option, it means that scanner successfully scanned all files.

By the way, which on

[2022-02-08 09:33] OrbbQ3 opened #273 "Additional output of secure log4j Versions"
Hi,

the current implementation does not output secure log4j versions (for example 2.17.1) to the output files (for example csv) and to the console. After investigation in the code, it seems, there are these code fragments in file Detector.java, that prevent this:

[code]

Is it possible to ouput this versions as not vulnerable too (for example with a additional command line switch)?

Background:

[2022-02-10 10:10] fipro78 commented on #271
@xeraph thanks for fixing this. I tested it and it works as intended for the artefacts from Maven Central.

Eclipse is re-bundling the artefact from Maven to add jar signing. The content otherwise is the same. But logpresso identifies the CVE again, because the pom.properties file is located in another folder structure, which is caused by the re-bundling:

_META-INF\maven\org.eclipse.orbit.bundles

[2022-02-10 22:49] greg-michael commented on #253
I am using the binary with the -Xmx switch. There are still a small number of servers that continue to crash with OOM errors, but fewer than before. In particular, Outlook Web Access servers.

How does the use of the -Xmx option affect scanned file sizes? Does it impact them at all? I do have some systems with very large archive files and directories of archives, and I want to ensure that they are

[2022-02-11 00:03] xeraph commented on #253
@greg-michael Then try JAR version with Xmx switch for Outlook Web Access server.

Xmx limits heap size. In most case, scanner can decompress part of large archive file in the limited heap size. If scanner exits normally, you can sure they are scanned properly. If you doubt it, test with large ZIP file embedding vulnerable log4j file (with `--scan-zip`). You can specify target file path instead di

[2022-02-12 04:49] k3it opened #277 "networking in v3"
i’m not sure what to think about the new option for connecting and sending results  to an external site. it may raise some eyebrows.  even though we know this is benign, not all organizations are as trusting.   since the scanner runs as root it should not be making any network calls in my opinion.

maybe a better solution would be to organize uploads of  the output using separate tool or via a web

[2022-02-12 13:00] xeraph commented on #264
@WWIJP Maybe that is the file from cloudera. You can compress hive-warehouse-connector-assembly-1.0.0.7.1.5.0-257.jar to zip file and upload here. You can also use file sharing service (e.g. box.com) and send file link to xeraph@logpresso.com

[2022-02-12 13:28] xeraph commented on #277
@k3it 2.x version also provides syslog networking and some users using it for centralized reporting. I'll provide minified version without `--enable-https` in the next releases.

[2022-02-12 13:41] k3it commented on #277
i appreciate the reply.  thank you for publishing a flexible multi platform scanning tool!

[2022-02-12 22:18] k3it commented on #268
here are the scan results from a forked repo

https://sonarcloud.io/summary/overall?id=k3it_CVE-2021-44228-Scanner

note 5 new vulns discovered related to constructing a path from the filenames..

[2022-02-13 16:07] xeraph commented on #273
@OrbbQ3 Would you test v3.0.1 release? You can use `--report-patch` option.

[2022-02-13 16:08] xeraph commented on #271
@fipro78 Would you test v3.0.1 release? It will detect also re-bundled reload4j version.

[2022-02-13 16:09] xeraph commented on #246
@bvallabhaneni Would you test v3.0.1 release? It can detect log4j version without pom.properties.

[2022-02-13 19:17] #277 closed

[2022-02-14 08:04] OrbbQ3 commented on #273
I tested the new version and get following result:
- Safe versions are reported to the console
- but **not** to the output files (here csv)

Scanner was startet with following arguments:
`log4j2-scan.exe --scan-log4j1 --scan-logback --report-patch --scan-zip --all-drives --silent --csv-log-path "C:\log4j.csv"`

For example put the file `log4j-core-2.17.1.jar` from https://www.apache.org/dyn/closer

[2022-02-14 08:32] fipro78 commented on #271
@xeraph I downloaded the latest reload4j jars (Maven Central and re-bundled Eclipse Orbit) and the latest logpresso 3.0.1 for Windows. It now works as expected, the vulnerabilities are not detected anymore.

Thanks for the fast reaction!

[2022-02-14 10:17] xeraph commented on #271
@fipro78 Thank you for test report! :D

[2022-02-14 10:38] thl-cmk commented on #273
@xeraph I Like this option. It would be nice to have also an additional summary line like `Found 3 safe files`, and yes if this information will show up in all the reports/logs this would be perfect :-)

[code]

[2022-02-14 11:02] ChKemper commented on #273
Hi @OrbbQ3,

I tested with the files provided at `src/test/resources`. The patched versions are also shown in the JSON

`
        {
            "path": "/.../src/test/resources/log4j2-ok/log4j-core-2.17.1.jar",
            "status": "NOT_VULNERABLE",
            "reports": [
                {
                    "entry": "",
                    "product": "Log4j 2",
                    "version":

[2022-02-14 19:08] OrbbQ3 commented on #273
Hi @ChKemper,

yes, you have right, it works with following call:
`log4j2-scan.exe --scan-log4j1 --scan-logback --report-patch --scan-zip --all-drives --silent --report-csv --report-path "C:\log4j.csv"`

The only thing, that i have to comment is, that the cve number in report is **null**. In my opinion this should be an empty string.

The run with the argument `--csv-log-path` does not work, becau

[2022-02-15 14:03] ChKemper commented on #273
Hi @OrbbQ3,

I've done a short fix for this: #278

[2022-02-17 14:58] greg-michael commented on #267
I have not been able to determine the direct cause on this, so I'm going to close this issue since it was originally about whether or not the scanner unpacks/scans *.car and *.mum files, which was answered.

[2022-02-17 14:58] #267 closed

[2022-02-17 14:59] greg-michael commented on #253
Closing issue since the -Xmx switch seems to have helped for the majority of servers experiencing OOM issues during scans.

[2022-02-17 14:59] #253 closed

[2022-02-17 15:02] greg-michael opened #280 "False positive detection for CVE-2021-44228"
A vendor-provided JAR file - which has been patched by the vendor - is being scanned and is reporting vulnerable to CVE-2021-44228.

Can you provide the exact criteria that would trigger the scanner to report CVE-2021-44228 vulnerabilities in a JAR? I'd like to pass this along to the vendor so that they can confirm the false positive. Since it's a vendor-provided file, I don't know that I can prov

[2022-02-17 15:42] xeraph commented on #280
@greg-michael

TL;DR - If scanner detects Log4j version, it is very unlikely to return a false positive.

----
1. First of all, scanner tries to detect if log4j exists.
   * If `META-INF/maven/org.apache.logging.log4j/log4j-core/pom.properties` exists, scanner can read exact log4j 2 version from that manifest file.
   * If `org/apache/logging/log4j/core/lookup/JndiLookup.class` found, then JAR con

[2022-02-28 07:23] rvtkruys-valtech opened #281 "Request: Reporting in Zabbix"
Don't know, if this is logical. But, could it be possible to provide some guidelines on how to integrate this into Zabbix? Or does any one already managed to do this?

with regards,
Roland

[2022-02-28 10:26] xeraph commented on #281
If anyone can contribute zabbix code, I will provide the Logpresso Watch REST API for integration.

[2022-03-02 07:07] markus8899 commented on #191
Hello, thank you for your great work.
i think the bug appears again in version 3.0.1. Anyway, when we check the exported .logs, the classes from CVE-2021-4104 are again marked as vulnerable although the classes have already been deleted from the archives via Logpresso. maybe this can be fixed again.
Thank you!

[2022-03-02 07:36] rvtkruys-valtech commented on #281
Ok, this is the config for the zabbix_agentd.conf file: `UserParameter=log4j2.scan,C:\Tools\log4j2-scan.exe --scan-log4j1 --scan-logback --exclude "C:\Users\<user.name>\Onedrive" --drives c,d --report-json --no-empty-report`

Manual: [Extending Zabbix agents](https://www.zabbix.com/documentation/current/en/manual/config/items/userparameters/extending_agent)

For testing you can run it using the fo

[2022-03-03 06:42] koppenho opened #282 "Scanning has side effects on running java.exe?"
Logpresso 2.9.2 scanning seems to have side effects on running java processes.
A customer receives warning messages in windows log from RestartManager for each Logpresso scan saying that (see also attached screenshot)
`Application 'C:\Program Files\Java\jdk1.6.0_45\bin\java.exe' (pid ####) cannot be restarted - Application SID does not match Conductor SID..`
These warnings are irritating because L

[2022-03-03 07:35] xeraph commented on #282
@koppenho
That is weird. If you are using log4j2-scan.*exe*, it does not use java on system. (it is self-executable image). Moreover, log4j2-scan is based on JDK7 (it cannot run on JDK6). I googled about RestartManager logs and many articles says it's permission issue. I think that is just a coincidence.

[2022-03-09 09:58] seppelinchen opened #283 "modify the report"
hi all,
i would ask if it is possible to get the log4j2-scan version into the report too. in addition, i like to be able to supress the header in the report.
thank you :)

[2022-03-10 04:00] xeraph commented on #283
JSON report contains log4j2-scan version. You can transform JSON report to CSV file as you need. Otherwise, fork and build your own version :D

[2022-03-10 06:40] seppelinchen commented on #283
good to know. so i can stay with your version ;)

[2022-03-10 07:05] seppelinchen commented on #283
just tried it. it contains the same info. unfortunately the log4j2-scan version is missing too :(
maybe you can put it somewhere on a which list and add it in a form like this:
"Hostname","Path","Entry","Product","Version","CVE","Status","Fixed","Detected at"**,"Scanner Version"**
so it shows up in every line and our managers are happy :D

[2022-03-10 07:08] xeraph commented on #283
It is supported since v2.4.0 https://github.com/logpresso/CVE-2021-44228-Scanner/commit/639e5b0ba704548e8382d7970aa816fa2f543653#diff-946cf8c2730e2f7f3b309a41f646d2abc99462fe45d56f431f95708be6069d22R162
anyway, I'll add scanner version column to the csv report file in the next release..

[2022-03-10 07:11] seppelinchen commented on #283
thank you very much :)

[2022-03-21 17:13] feolafonz opened #284 "Returning Error code in Batch File"
Currently creating an automation with our RMM.  Because of our RMM, I need to write the exit code to a text file to handle the exit codes for reporting/further automation.  I have a batch command running and writing the %ERRORLEVEL% to a txt file.

[code]
The above results return 0 even if vulnerabilities are found.  If there is a cleaner way of getting the error code, please let me know.  I did n

[2022-03-21 20:19] feolafonz commented on #284
disregard, i am dumb

[2022-03-28 21:40] tsaibabu4u commented on #222
It would be nice option to skip specific or some of CVE-2021-xxx from scanning

[2022-04-01 12:10] doctore74 opened #285 "Spring Framework for Java vulnerable to remote code execution CVE-2022-22965"
Hi,

do you have any plans to integrate the detection for Spring4Shell (CVE-2022-22965)?

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-22965

https://unit42.paloaltonetworks.com/cve-2022-22965-springshell/

[2022-04-01 12:17] xeraph commented on #285
No.. I think it's relatively easy to spot vulnerable spring apps since operator can see any tomcat instances. I reviewed some real exploit payload in the wild and concluded it's easy to detect and block using WAF. If there are many demands for spring scanner, I will reconsider about spring scanner.. (but spring scanner should be another repo in that case)

[2022-04-01 12:18] #284 closed, assigned to xeraph

[2022-04-01 15:49] doctore74 commented on #285
I see. Thanks for the quick answer.

[2022-04-01 15:53] cstegm commented on #285
Hi @xeraph ! I would Love to see a spring scanner i think it could be very helpful!

[2022-04-02 09:53] funksen commented on #285
hi, +1 :) since you are already extracting all jar and war files it would be really cool to have searched for both issues, for now I use https://github.com/hillu/local-spring-vuln-scanner and run both commands periodically

[2022-04-04 08:24] romestylez commented on #285
I would love to see a CVE-2022-22965 scanner !

[2022-04-04 08:41] doctore74 commented on #285
@xeraph
An integration would be best practise. We would not need a second run over the same files.

[2022-04-04 08:42] romestylez commented on #285
I would like another tool. Possibly its different servers then before. So two tools would be great.

[2022-04-05 06:16] DoronGaznavi commented on #285
Hi, I also would love to see Spring scanning, it will be great :)

[2022-04-11 19:32] greg-michael commented on #285
I will add my name to the list for a scanner. Thanks.

[2022-04-11 23:25] BR4INsick opened #287 "Scan and Fix with log file."
Can you give me an example to scan and fix with a log output please.

This is what I have so far, but can't get it to output a log file.  Please help

`"%~dp0log4j2-scan.exe" --scan-log4j1 --force-fix "C:\Program Files\SAS\JMPPRO\16\jmptojava" "C:\Program Files\SAS\JMPPRO\16\jmptojava"

"%~dp0log4j2-scan.exe" --report-csv --report-path "%~dp0Logs\test.csv"`

[2022-04-12 21:17] #287 closed, assigned to nobody

[2022-05-10 11:54] Zeev86 opened #288 "Is it necessary to run the tool every boot?"
Hello,
I am wondering if it is enough to run the tool once or should I configure my computer to run it each boot.
Sorry if this is not the right place to ask this, I was not sure where I can ask.
Thanks a lot!

[2022-05-10 13:46] JStevens1855 commented on #288
I believe that answer is different depending on your environment and the possibility of changes introducing new vulnerabilities. In our environment we scan every 3 days while other environments might need to scan more or less frequently. Keep in mind that in a large environment if you run the scans on numerous vms at the same time you will see some cpu spikes on your virtual hosts so we stagger ou

[2022-05-16 13:50] bcraigie opened #289 "Cannot fix CVE-2021-44832 upgrade it"
On some jar files, I get this error:
**Cannot fix CVE-2021-44832, upgrade it**

Such as on file **log4j-2.11.1.jar**

Does this mean I should upgrade the tool, or upgrade the Jar file?  Any suggestions would be welcome.

Many thanks
Brian

[2022-05-17 10:25] pinacoelho commented on #289
It means you have to upgrade the log4j jar.

[2022-05-27 08:29] chimera999 opened #290 "CVE-2021-45046 not being detected by Logspresso"
Hi, we have been using Logspresso to scan our environment and recently found that CVE-2021-45046 is not being detected.
Our security scanner Nexpose is able to find paths that are vulnerable for CVE-2021-45046.
Our Logspresso scan scripts are not excluding any paths or CVEs .
Thanks in advance.

[2022-06-06 19:14] fordchr01 opened #291 "Oracle not vulnerable?"
Has anyone reviewed Oracle's stance on the log4j results not being vulnerable? It requires having a support account to review the details.

[2022-07-12 08:22] philrandal opened #292 "log4j 2.18 has been released"
[Release announcement](https://www.mail-archive.com/announce@apache.org/msg07416.html)

Does log4j2scan need amending to cover 2.18?

[2022-07-25 06:28] ghost opened #293 "Logpresso does not touch MANIFEST files?"
Hey,

we have a lot of different applications running as JAR files. The mitigations itself works, but why are the according metaf infos, like MANIFEST etc. not touched as well?
E.g. vulnerability scanners like tenable will detect these files still as vulnerable even though logpresso fixed the issue by deleting vulnerable classes from the JAR file.

BR

[2022-11-08 15:01] jozefduhacek opened #294 "Processor usage limit (mainly on) Linux"
Can you implement processor limit on the log4j scan run, perhaps as an option in commandline?

I am aware that BigFix is having this capability built in, i have used it for four years on the environment, but we have moved from BigFix in favour of Ansible and Ansible does not sport a client, that would limit the processor time used by the job.

I would be happy if you would be able to do such limit